[2019-01-24 16:39] ballen4705 commented on #2975
James wrote the following to me: "The site (RPC) got address restricted a few years ago due to abuse that made it look like a ddos attack. I've added this person's server to the allowed list."

[2019-01-24 18:46] marius311 commented on #2690
Was this fixed BOINC-wide somehow, or were you just able to get your project added? I still see the error from a site which isn't white-listed.

[2019-01-24 20:46] sergeyklay commented on #2690
Oh! This related only to https://boinc.thesonntags.com website. For more see comments here: https://github.com/BOINC/boinc/issues/2975

[2019-01-25 09:09] davidpanderson opened #2988 "Incorrect peak FLOPS for AMD GPU"
The OpenCL GPU detection for a particular AMD GPU reports 43 ExaFLOPS - about 10,000X too big.
(this is 7.10.2, but same in 7.14.2)

22-Dec-2018 12:28:23 [---] cc_config.xml not found - using defaults
22-Dec-2018 12:28:23 [---] Starting BOINC client version 7.10.2 for windows_x86_64
22-Dec-2018 12:28:24 [---] OpenCL: AMD/ATI GPU 0: AMD Radeon(TM) Vega 8 Graphics (driver version 2580.6 (PAL,HSAIL),

[2019-01-25 10:53] adamradocz commented on #2988
Maybe driver issue? The Intel OpenCL driver shows me different result too, then the Beignet driver,

[2019-01-25 11:35] RichardHaselgrove commented on #2988
Whatever the cause, we probably need to update [lib/coproc.cpp](https://github.com/BOINC/boinc/blob/4f6e52f1cbac1e776b9ea0b6853b3e3e156a342b/lib/coproc.cpp#L840) for AMD/ATI, as we did last year for NVidia in #2707

[2019-01-29 00:02] macvelli opened #2991 "Fine Grained Control Of Multi-GPU Configurations"
My BOINC use case:
- Ubuntu 18.04.1 Desktop running BOINC 7.14.2
- SETI@home
- GPU 0: NVIDIA GeForce GTX 1060
- GPU 1: NVIDIA GeForce GT 1030

I have two monitors connected to the GTX 1060
No monitors are connected to the GT 1030

I would like the ability to:
- Tell BOINC to Suspend GPU 0 when computer is in use
- Tell BOINC to Always use GPU 1 regardless of whether computer is in use or not

Righ

[2019-01-29 08:37] RichardHaselgrove commented on #2991
I think this is a specific use case which fits within the generalised ambit of #41.

[2019-01-29 13:36] RichardHaselgrove opened #2992 "Client configuration: fill gaps in provision"
[Project-level configuration](https://boinc.berkeley.edu/wiki/Client_configuration#Project-level_configuration)

**Describe the problem**
As the above link makes clear, <max_concurrent> is not defined at the <app_version> level.

**Describe the solution you'd like**
Add missing option so that control is available at all levels.

**Additional context**
The current configuration options are implicit

[2019-01-29 22:16] davidpanderson opened #2993 "Computing prefs 2.0"
The current prefs system can't handle some plausible requirements,
e.g. disabling a particular GPU when the computer is in use.
This is a proposal for a more general prefs system, which I'll call P2.

P2 is intended to be as general as possible,
i.e. it allows any conceivable preferences to be expressed.
That way we only have to do this once.

Like the current system, P2 uses XML to represent pref

[2019-01-30 13:03] Ferroin commented on #2993
If it's done as a pure HTML/CSS/JS design, it can then be trivially used on almost any platform without needing separate code-bases, including possibly being directly usable for the web-based preferences editor, and in turn means that any new preferences need to make a change in exactly _one_ location in the code to have them usable by everybody.

Whether or not that is worth it is another questio

[2019-01-30 13:21] AenBleidd commented on #2993
Personally I (and many other users) will be confused: why some web-page is shown while I want to change **local** settings? As far as I know, no other application do like this

[2019-01-30 16:18] MrD2 commented on #2993
php my admin on the local machine

[2019-01-30 20:24] ChristianBeer commented on #2993
I took the liberty to add some markup to the initial proposal because it was hard to read with almost all of the HTML tags missing.

Just some quick thoughts:
- when using XML and ordering the clauses it is difficult to use an external XML library because they tend to do some sorting themselves. It might be better to add an integer based ordering system to the clauses
- as we found out in previous

[2019-01-30 20:56] AenBleidd commented on #2927
No other version was uploaded to PlayStore yet.
And as far as I know there is no plans to do this in next few weeks.

ср, 30 янв. 2019 г. в 22:29, cristipurdel <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-01-31 01:11] numbermaniac opened #2996 "Images in Notices don't appear on macOS, but they do on Windows"
**Describe the bug**
If Notices contain embedded images, they just show up as a question mark on macOS - however they do work on Windows.

**Steps To Reproduce**
1. Include an image in a Notice. Then check how it displays on both platforms.

**Expected behavior**
The images should show on both platforms

**Screenshots**
Windows:
![windows](https://user-images.githubusercontent.com/5206120/52023414

[2019-01-31 10:21] brevilo commented on #2927
Hi @TheAspens , that sounds like a very interesting option for BOINC. It's a major hassle if the signing key is compromised as it will affect the end user's experience. Having a compromised upload key is still bad but it doesn't affect the end user at all, so that's a major plus. So, yes, **please** let's opt in to that!

Also, not having effective access to the PlayStore is THE main obstacle for

[2019-01-31 22:54] davidpanderson opened #2998 "Android: 64-bit client needed by Aug 2019"
(email from Google; I'm not sure if this applies to apps as well as the BOINC client)

Get your apps ready for the 64-bit requirement by August 1, 2019

Hello Google Play Developer, In our latest blog post, we detailed the requirement that apps using native code must provide a 64-bit version in addition to the 32-bit version by August 1, 2019. As you may know, 64-bit CPUs deliver faster, richer ex

[2019-02-01 01:35] AenBleidd commented on #2948
It's not a regression but feature request.

[2019-02-01 11:58] #2857 closed

[2019-02-01 13:09] CharlieFenton commented on #2996
The images display properly with BOINC 7.8.6 (January 14, 2018), but not with 7.9.1 (February 12, 2018) or later. Between those dates, changes were made to the relevant code and we also upgraded  the GUI library used by the Manager from wxWidgets 3.0.0 to wxWidgets 3.1.0. I took a look at the differences in this function on the Mac both in the BOINC code and the wxWidgets code, and have not identi

[2019-02-01 13:52] RichardHaselgrove commented on #2996
Not necessarily between those dates. v7.8.6 (the final Mac patch for that branch) was based on code split from Master around Jun 18, 2017: v7.9.1 was built from a branch split around Feb 9, 2018. I seem to remember that there were quite a lot of commits after Jun 18 that weren't cherry-picked into the 7.8 branch.

[2019-02-01 15:10] RichardHaselgrove commented on #2996
My PR #2065 - closed without merging, because it has long since been overtaken by events - could perhaps help jog our memories about the commits made before Jan 14 but not exposed until v7.10

I don't immediately see anything related to notice display, though.

[2019-02-02 09:38] #2960 closed

[2019-02-02 14:00] ChristianBeer commented on #2502
Quick note about this issue: github has implemented a new way to send those commit emails as part of repository level notifcations. This was automatically migrated on Feb 1 and is working.

[2019-02-03 02:07] davidpanderson commented on #2988
Addendum from user:

Update: On a hunch, I set the underclocked GPU back to auto (400-1100MHz).  The spurious peak GFLOPS issue went away. 02/02/2019 15:28:02 \|  \| OpenCL: AMD/ATI GPU 0: AMD Radeon(TM) Vega 8 Graphics (driver version 2766.5 (PAL,HSAIL), device version OpenCL 2.0 AMD-APP (2766.5), 6567MB, 6567MB available, 1127 GFLOPS peak)On underclocking it again, this time to a slightly differ

[2019-02-04 11:08] CharlieFenton commented on #2996
After many hours trying unsuccessfully to find the changes in BOINC or wxWidgets code responsible for this issue, I finally noticed this message in stderrgui.txt:

It turns out that this issue was not caused by any changes we made. Apple introduced tighter security restrictions in WebKit (used by wxWebView) and various network access APIs for applications built under OS 10.11 or later. Since I bui

[2019-02-04 22:37] davidpanderson commented on #2996
I agree with Charlie; option 3.

[2019-02-05 18:05] ritua2 opened #3004 "Scheduler URL prepended by two "http://" strings"
Greetings,

Not sure if this is a bug or our set-up error, but the scheduler.txt file was showing two "http://" in the URL - a friendly user pointed this out:

"
[code]
"

->

"
[code]
"

Since we did not create this file, it must be getting created automatically during the set-up process. Is it possible that we provided a wrong input during the set-up process? Perhaps we are including "http" in t

[2019-02-05 21:10] JuhaSointusalo commented on #1677
More or less fixed in #2918. If there are still problems with max_concurrent open a new issue.

[2019-02-05 21:10] #1677 closed

[2019-02-05 21:39] JuhaSointusalo commented on #3004
@ritua2

I changed to issue title to something that describes the problem you are seeing. I also had to edit the issue text so that the important part would actually show. GitHub uses Markdown which renders HTML in not always entirely obvious ways. Preview before posting :)

[2019-02-06 10:50] lfield opened #3005 "db_purge should also purge the batch table"
The db_purge command should also purge the batch table of old completed batches and batches where all the workunits have also been purged.

[2019-02-06 20:43] CarrenS opened #3008 "Android beta version 7.14.1 “Aquire lock”issues"
I’m running the beta version which has been running fine until the last day or too. I often find tasks sitting there with a “ready” status, but not crunching (battery charge is good). I have just looked at the event log and I see:

Client Messages

[code]
This is now occurring all the time. Within a few minutes of starting boinc this behaviour occurs.

[2019-02-07 08:06] reyo commented on #1058
Still a thing.
I'm worried about my screen burn in as my computer is on 24/7/365.

Is there a legit workaround?

I'm not using BOINC screensaver and I'm running as service.

[2019-02-07 13:19] lfield opened #3009 "Project Specific Test Probes"
What I would like to do be able to do is to write a test probe that can be run to detect the sanity of the host before a task is downloaded. For example, testing that VritualBox is available. If this probe fails, no task will be downloaded. These probes would be project specific. It is to avoid situations where tasks fail due to a known and detectable issues with the host that are application spec

[2019-02-07 23:33] davidpanderson commented on #3005
state == BATCH_STATE_RETIRED would be an appropriate condition;
that means that whoever created the batch is done with it.

[2019-02-08 09:22] lfield commented on #3009
Is the validator run against results that returned an error?

[2019-02-08 16:45] jurobystricky commented on #2271
This fixed the issue for me

[2019-02-08 17:06] ChristianBeer commented on #2271
I'll take a look at this over the weekend.

[2019-02-08 20:13] JuhaSointusalo commented on #2271
I haven't kept any hurry with this because 3.1 is still in development. Though confusingly the release announcement for 3.1.2 says it's both development version but also good for production. Go figure.

The Gentoo patch doesn't work for us because it links to wxWebView unconditionally.

[2019-02-08 20:17] AenBleidd commented on #2271
Is wxWebView still a requirement? As far as I remember we had some PRs to exclude it because it is unsupportable on some linux distros.

[2019-02-08 20:23] JuhaSointusalo commented on #2271
Yep, preferred but conditional.

[2019-02-08 22:11] JuhaSointusalo commented on #2271
#3010 has an initial draft of what needs to be done to fix this issue.

[2019-02-08 22:50] TheAspens commented on #2917
As an update issue #2981 includes commit e33f384329bfda002908c8691c7cd4a596837dcf implements the option to prevent attempting to render in dark mode (which doesn't work) until such a time as wxWidgets suports dark mode fully.  The option is described by mac [here](https://developer.apple.com/documentation/macos_release_notes/macos_mojave_10_14_release_notes/appkit_release_notes_for_macos_10_14).

[2019-02-08 22:53] TheAspens commented on #2996
Charlie notified the projects via the boinc_projects mailing list.  Since the reporter of the issue gave a 'thumbs' up to @CharlieFenton's recommended option #3 and since @davidpanderson agrees and there are no dissents, I am closing this issue as not a bug.

[2019-02-08 22:53] #2996 closed

[2019-02-08 22:54] TheAspens commented on #2768
@DeepSeaOrca42  - Did 7.14.2 resolve your problems?

[2019-02-09 02:22] CharlieFenton commented on #2271
@candrews and others: You may also want to take a look at the patches to wxWidgets 3.1.0 I found necessary for the Macintosh, though these have nothing to do with being able to link to it. They are in the script in the BOINC source tree at _mac_build/buildWxMac.sh_. I don't know if they are relevant to Gentoo.

[2019-02-09 02:37] davidpanderson commented on #3009
No; we'd have to add an option.

The other question is where to store the info.
The natural place is the host_app_version table.
This has a field max_jobs_per_day that could be used;
e.g. -1 means don't use this app version for this host.
I'd have to make some small changes for this.

[2019-02-09 10:50] ChristianBeer commented on #2271
I found some more issues when building against wxwidgets 3.1.2. Mainly deprecated constants that were removed in 3.1. Now investigating the linking issue.

[2019-02-11 16:21] RichardHaselgrove opened #3015 "Client: make 'pseudo-progress' report configurable"
**Describe the problem**
The sequence of commits 506c3b6e419e5b524ad72fcd16e363cd0e296814, 4f0cd6b29caf78c65a5622a4821570e3c94f26b1, and 61d6d9a20ab70389b50416eebed8cb04deecc43f reassures nervous users that something is happening, even when the application isn't reporting it. But it's hard to distinguish that from the debug case where the app would normally report progress, but is failing to do so

[2019-02-12 20:03] tomasbrod opened #3017 "Finish file present too long"
When running BOINC under minium priority and the system is under heavy load and a science app finishes, BOINC aborts the task and does not submit the result. This is unfortunate, because the task is already successfully done, yet the result is discarded.

The app does not need to do any complicated processing  at exit. I have `exit(boinc_finish(0));` at the end my app and it still triggers. This c

[2019-02-12 20:10] tomasbrod commented on #3017
Reported 5 years ago here:
- http://www.enigmaathome.net/forum_thread.php?id=483&postid=3046#3046
- http://setiathome.berkeley.edu/forum_thread.php?id=7319

[2019-02-12 20:17] UweBeckert commented on #3017
I see such "finish file present too long" also from time 2 time in yoyo@home results.

[2019-02-12 20:54] davidpanderson commented on #3017
I increased the timeout from 10 seconds to 5 minutes.  (PR #3109)

[2019-02-12 21:10] RichardHaselgrove commented on #3017
That will probably do. I think many people on SETI have reported over the years that this error can happen if they need to reboot the machine just as a 'finish' file is written: this should be long enough for the reboot to complete before the timeout has finished (though we may need to consider whether it's long enough for a full security patch application). I don't know whether I'll have time to

[2019-02-12 21:26] JuhaSointusalo commented on #2988
Workarounded in #3001.

[2019-02-12 21:26] #2988 closed

[2019-02-12 21:30] JuhaSointusalo commented on #2988
Eeh, worked around...

[2019-02-13 12:41] tomasbrod commented on #3017
Richard, I do not understand how Reboot influences this issue. During system shutdown the client should exit gracefully and clean up. Do you mean crash reboot? Or is the timestamp of the finish file taken into account?

[2019-02-14 10:34] lfield commented on #3009
Yes, reducing this to one per day should be fine. Related to this is that I am using the [wrapper](https://boinc.berkeley.edu/trac/wiki/WrapperApp) and my script returns [206](https://github.com/BOINC/boinc/blob/master/lib/error_numbers.h#L42) if there is a problem. However, it looks like this is not being used and the wrapper is returning 195 EXIT_CHILD_FAILED. Another feature would be to reset t

[2019-02-14 10:35] #2688 closed

[2019-02-15 03:36] BryanQuigley commented on #1187
Has anyone found a systemd/dbus way to do this, or should we just start doing desktop environments?

[2019-02-17 20:29] sirzooro commented on #3017
This bug happens very often for very short WUs, which needs less than 1 minute to complete. I saw it many times when I was crunching "short" tasks from SRBase. I think that number of CPU cores also affects plays some role, if I remember correctly this bug happened more often on big machines with 32+ cores.

[2019-02-20 10:55] lfield opened #3025 "max_wus_in_progress should scale with the number of cores."
In the [documentation](https://boinc.berkeley.edu/trac/wiki/ProjectOptions) is states that max_wus_in_progress is scaled by N*NCPUS. It looks like this is physical CPUs (sockets) and it should probably be logical CPUs (cores).

[2019-02-20 11:42] RichardHaselgrove commented on #3025
I think it works that way already. I have one project (NumberFields) which is reporting 'reached a limit of tasks in progress' at 24 tasks. A second machine has 36 tasks in progress. Both are quad-core, single socket, computers, but the second has hyperthreading enabled.

At the client level, I don't think BOINC has the capability of distinguishing sockets / cores / threads: all references to nCPU

[2019-02-20 12:46] lfield commented on #3025
We set max_wus_in_progress = 2. On a quad or this resulted in 2 tasks running. I was expecting 4 tasks running and 4 waiting.

[2019-02-20 13:00] lfield commented on #1187
For me idle detection is a desktop environment feature. CPU load is the default metric otherwise.

[2019-02-20 13:35] lfield opened #3026 "The wrapper should use SIGTSTP rather than SIGSTOP"
As far as I understand, it is [not possible](https://en.wikipedia.org/wiki/Signal_(IPC)#POSIX_signals) to [catch SIGSTOP](https://github.com/BOINC/boinc/blob/master/lib/proc_control.cpp#L250). SIGTSTP should be used instead.

[2019-02-20 19:28] UweBeckert commented on #3025
In recent server software version
<max_wus_in_progress> 2 </max_wus_in_progress> in config.xml means 2 wus per thread.

      <total_limit>
        <jobs>2</jobs>
      </total_limit>
in config_aux.xml means 2 wus in total per host, independent of number of threads

[2019-02-21 08:50] truboxl commented on #2485
I would vouch my support for AppImage packaging for the next BOINC Linux release. It's more akin to macOS dmg and provides other benefits that other packaging do include and don't.

Flatpak, as of right now, still doesn't work with OpenCL / CUDA out of the box...

[2019-02-21 08:52] truboxl commented on #2859
Ok closing for `SCHED_IDLE` implementation

[2019-02-21 08:52] #2859 closed

[2019-02-22 18:53] Germano0 commented on #1187
Among my other activities, I am slowly playing with GDbus API of Glib/GIO. I said "slowly" because the documentation is very "sterile", and not helpful at all. Luckly there are some softwares that uses them, so you can take examples (like darktable)

????

[2019-02-22 20:02] jacobbogers opened #3030 "How does my boinc client connect to Science united?"
This template is for miscellaneous issues not covered by the other issue categories.
How does my boinc client connect to Science united
Nowhere do i see a IP or port or any protocol to request projects to calculate on,
I am trying to understand line wire protocol

[2019-02-22 22:55] davidpanderson commented on #3030
The account manager protocol (used for BAM!, Science United, etc.) is described here:
https://boinc.berkeley.edu/trac/wiki/AccountManagement

Please post questions to boinc_dev rather than as issues.

[2019-02-22 23:24] jacobbogers commented on #3030
Thanks David, will query boinc_dev)

[2019-02-22 23:24] jacobbogers commented on #3030
Thanks davi, will do)

On Fri, Feb 22, 2019 at 11:55 PM David Anderson <notifications@github.com>
wrote:

[2019-02-22 23:24] #3030 closed

[2019-02-23 08:35] Eremiteb opened #3031 "Order of tasks"
**Describe the bug**
Hello!
I had the tasks of the **W**orlf Community Grid and were almost at the end. Then the client downloaded the tasks from the **G**erasim@Home and **U**niverse@Home. Tasks from the **W**orlf Community Grid paused, and tasks started to be performed first from the **G**erasim@Home, and then from the **U**niverse@Home. And now the tasks are processed from the **U**niverse@Home

[2019-02-23 08:50] AenBleidd commented on #3031
Hello,

The client tries to run tasks in priority order. Never in alphabetical.
It sees that WCG tasks were already run for some time and it's time to run
tasks from another project. In the Settings you have an option to choose
how often client will switch between tasks (default is 60 minute).
Also client tries to run tasks that are close to deadline first.
You could read more detailed scenario ho

[2019-02-23 09:20] Eremiteb commented on #3031
I set the switch interval between tasks for 1 minute and waited 5 minutes - the switch to the Worlf Community Grid did not happen. Also, you can see that the Worlf Community Grid tasks have a deadline closer than that of the Universe@Home

[2019-02-23 09:26] AenBleidd commented on #3031
Yes, the deadline is closer but it has enough time (there is 5 minutes left on the first task) to complete it before deadline.
1 minute is too small value. I recomment to left 1 hour as it was before.
What actually you want to achieve here? Complete tasks one by one from start to end without switching to another tasks? Why do you need it?

[2019-02-23 09:45] Eremiteb commented on #3031
Thank you for the good question :) I read the Client scheduling policies and I understand the logic. Close the issue

[2019-02-23 09:45] #3031 closed

[2019-02-23 17:52] adamradocz commented on #3031
@Eremiteb If you want to use the World Community Grid as the main project and use the Universe@home as the backup project, then you can do that by setting the Universe@home's resource share setting to 0. It means that by default only World Community Grid gets working units, but if there is no working unit available from WCG, then Universe@home will be run.

[2019-02-23 17:56] Eremiteb commented on #3031
Thanks for the advice. No, I want to give chances to all the projects that I have chosen.

--
Есемжан Байтемиров

[2019-02-24 07:32] numbermaniac opened #3032 "7.14.1 for Android: Size-based settings multiply inputs by powers of 1.024"
**Describe the bug**
In the advanced settings of the beta Android app (7.14.1), there are some settings available that take an amount of bytes - "Daily transfer limits" takes a number of megabytes, and "Min spare storage" takes a value in gigabytes. However, whatever value you enter is multiplied by a power of 1.024 (I think), based on the default unit.

**Steps To Reproduce**
1. Open Settings and

[2019-02-25 13:33] Ferroin commented on #3031
The current behavior already does that.  The client-side scheduling accounts for:

* Resource share configured for each project (all other factors equal, this decides what runs).
* Deadlines for each currently present workunit (WU's with closer deadlines get prioritized, and stuff that's past it's deadline gets top priority).
* What ran during the last scheduling period (projects that ran last sch

[2019-02-27 15:51] Knysliux001 opened #3035 "Incorrect language (Korean) when Android is Lithuanian"
**Describe the bug**
Android application from the Google Appstore switches to Korean language if Android language is set to Lithuanian. As a result it is nearly impossible to use.

**Steps To Reproduce**
1. Set Android language to Lithuanian
2. Open BOINC

**Expected behavior**
Application should be Lithuanian if it has been translated and English as a fallback.

**System Information (please compl

[2019-02-27 16:11] AenBleidd commented on #3035
@Knysliux001, could you please switch to Play Store Beta testing and install newest version of BOINC for Android (7.14) and check one more time?

[2019-02-27 16:27] Knysliux001 commented on #3035
Installed beta version 7.14.1 (ec993779be), some texts are in Lithuanian now, the rest of application seems to be covered in Korean symbols.

[2019-02-27 16:36] ChristianBeer commented on #3035
It seems to me that the Lithuanian translatian contains partly the wrong language. I don't know how this happened. The best way would be if you would help translating into Lithuanian here: https://www.transifex.com/boinc/boinc/translate/#lt/android/40475947 you can also invite friends to help you. You only need to translate the strings they don't need to be reviewed. The translations you do on tra

[2019-02-27 18:57] tomasbrod commented on #1503
The issue is caused by this line: [db_dump.cpp#L366](https://github.com/BOINC/boinc/blob/3d9538ca78a77c1866ed12b7698e179cb62a166b/sched/db_dump.cpp#L366). The encoding is set to iso-8859-1 without actually writing that file in that encoding. Quick fix is to change it to utf-8, as most servers in 2019 operate in utf-8. More permanent solution is to detect the encoding from mysql or  system locale.

[2019-02-27 20:22] cminnoy opened #3036 "BOINC Client doesn't detect computer is idle with serial ports connected"
**Describe the bug**
BOINC client doesn't detect that the Linux machine is idle after apt dist-upgrade.
The client detected the idle situation BEFORE the dist-upgrade. It can't do it anymore and will not start tasks therefor.

**Steps To Reproduce**
1. Install valilla Ubuntu MATE 18.04 LTS
2. apt-get dist-upgrade

**Expected behavior**
The client should detect that the computer is not used and sta

[2019-02-28 01:11] davidpanderson opened #3037 "Evaluate competing mobile apps"
Email from a user.
To me, this suggests that we survey other mobile volunteer computing apps
(this one, Power Sleep, Folding@home),
compare them with ours,
maybe do a focus group study,
and decide what we should to do,
with the goal of increasing mobile adoption and retention.

---------------
Hello Professor Anderson,

I just wanted to drop you a little note that you should check out Vodafone's (

[2019-02-28 09:22] davidpanderson opened #3038 "Too many notifications in Android?"
from an Android user:

I think there is a problem with notifications/messages. I am getting notifications for the same messages multiple times per day, every day. Like, every 2 hours, and I'm still getting "season's greetings" type Xmas messages. It's super annoying, but I haven't turned off my notifications yet because Boinc needs to be able to run in the notification tray, right? I have been usi

[2019-03-01 09:50] cminnoy commented on #3036
More info:
I have two machines, one Ryzen based and one Threadripper based. Both have the same Ubuntu MATE version with the same BOINC version and all the latest updates.
On the Threadripper BOINC detects correctly that the machine is idle or not.
On the Ryzen BOINC always thinks the machine is busy.

I downloaded the source code of BOINC client (master) and compiled it. Changed the main function

[2019-03-01 16:16] cminnoy commented on #3036
Ok, I've been further investigating what is going on and discovered why BOINC doesn't detect the idle of the Ryzen. This has nothing to do with being Ryzen or Threadripper, but with the following.

On the Ryzen machine there is a Arduino plugged into USB. This is seen as a tty device.
Also, there is a daemon running that reads from the Arduino data to do temperature logging.
As soon as that daemon

[2019-03-01 17:18] SETIguy commented on #3038
We should have two levels of notification....  1) Appears in the BOINC GUI
 2) Appears in the GUI generates a desktop or android notification.

On Thu, Feb 28, 2019 at 1:22 AM David Anderson <notifications@github.com>
wrote:

--
Eric Korpela
korpela@ssl.berkeley.edu
AST:7731^29u18e3

[2019-03-02 12:17] cminnoy commented on #3036
File where the tty activity is checked: hostinfo_unix.cpp
Relevant data/functions:
- tty_patterns is a list/pattern of devices boinc will monitor
- vector<string> get_tty_list()  -> filters the devices based on tty_patterns
- all_tty_idle -> takes a stat of each filtered device

So the culprit is here that BOINC doesn't distinguish between the kind of devices.

On Linux/Unix it is indeed difficult

[2019-03-03 03:56] davidpanderson commented on #3036
I added this feature in #3044

[2019-03-03 08:46] cminnoy commented on #3036
Hi David,

How should the pattern be formed in cc_config.xml?

I tried (intuitively):

<ignore_tty>ttyUSB0</ignore_tty>
<ignore_tty>ttyUSB1</ignore_tty>

and as that didn't work after reading your commit:

<ignore_tty>/dev/ttyUSB0</ignore_tty>
<ignore_tty>/dev/ttyUSB1</ignore_tty>

Looking at the code the pattern is compare to 'fullname', so I guess the seconds form would be correct? Unfortunately

[2019-03-03 09:23] davidpanderson commented on #3036
It's the latter syntax.  I tested it and it seems to work.

[2019-03-03 09:59] ChristianBeer commented on #3036
Please note that the comparison used is case sensitive.

[2019-03-04 08:37] #1582 closed

[2019-03-04 08:38] cminnoy commented on #3036
David, Christian,

Case sensitivity is not the issue in this case. That was set correct in the cc_config.xml file.
The vector tty_list is a static and is only filed during start of BOINC. As such any tty device plugged in after BOINC started is not detected. That's not ok.

Another issue is that the kernel decides which name to give to the device. It is possible to add a udev rule to have a link c

[2019-03-07 19:28] TheAspens opened #3046 "Need GPU Sample Application"
The uppercase sample application allows for easy testing and confirmation of the setup of a BOINC project.  However, there is no equivalent version of the uppercase application that could run on Intel/NVIDIA/ATI GPUs.  It would make it easier to test these things if we had access to such a sample application on GPUs.

This issue represents a request to create a version of the app that would run as

[2019-03-07 19:31] davidpanderson commented on #3046
If you give any app a GPU plan class, all the GPU-related BOINC code will be exercised.

[2019-03-07 19:41] TheAspens commented on #3046
Ok - I'll work with that then.  Tx.

[2019-03-07 21:46] TheAspens opened #3047 "IE11 in BOINC Forums Does Not Limit Size of Large Images"
If you view this post https://setiathome.berkeley.edu/forum_thread.php?id=83445&postid=1974366#1974366 in IE 11, you will see that the image expands beyond the width of browser.

The image should respect the max-width setting that is set for the class img-responsive from bootstrap.

The image should not cause the width of the forum post to cause the browser to do horizontal scrolling in the forums

[2019-03-07 22:12] AenBleidd commented on #3047
Looks like simple adding `width: 100%` fixed this:

![image](https://user-images.githubusercontent.com/3234209/53992914-45fcb080-412e-11e9-9be9-813b317bdb89.png)

I just don't know the correct place in sources to fix this 😳

[2019-03-07 22:18] RichardHaselgrove commented on #3047
It may be that different fixes are needed for different revisions, even within IE11

The test image is currently **not** stretching in

![image](https://user-images.githubusercontent.com/14886436/53993245-bf90a080-4126-11e9-9bf3-f422c1244c2e.png)

[2019-03-07 22:26] TheAspens commented on #3047
@AenBleidd - if you put width: 100% on it, then all images stretch to 100% width and that is not desirable (for example the example the image that @RichardHaselgrove shows which is in message https://setiathome.berkeley.edu/forum_thread.php?id=83445&postid=1974376#1974376 should not be stretched if it is naturally narrower then the width of the cell)

[2019-03-07 22:28] AenBleidd commented on #3047
Hm... you're right...

[2019-03-08 08:01] numbermaniac commented on #3032
This issue is not present in the stable version, 7.4.53, of BOINC on Android 8 either.

[2019-03-08 08:05] numbermaniac commented on #3047
What about CSS' `max-width`? https://www.w3schools.com/cssref/pr_dim_max-width.asp

[2019-03-08 08:08] AenBleidd commented on #3047
It's already present there but broken on IE11

пт, 8 марта 2019 г. в 09:06, numbermaniac <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-03-11 10:19] AustinConlon opened #3048 "Science United API"
Some sort of Science United equivalent to the [BOINC API](https://boinc.berkeley.edu/trac/wiki/WebRpc#am_get_info) would be great.

[2019-03-11 10:52] brevilo commented on #2413
I added this now via PR #3049.

[2019-03-12 12:55] brevilo opened #3053 "Clarification needed: TOU opt-in / user consent workflow in client/manager and AMs"
In #2413 we established ways to let users express their consent to the terms of use (TOU) of a given project. The current implementation...

* [publishes](https://github.com/BOINC/boinc/blob/master/html/user/get_project_config.php#L120) a project's TOU as soon as they are defined and the `ENROLL` consent type is enabled.
* has the **web interface** (optionally) require existing users to consent to

[2019-03-12 13:09] lfield commented on #3025
I think that something else was causing the issue. It is clear that NCPUS is correct for the host.

[2019-03-12 13:09] #3025 closed

[2019-03-12 15:25] lfield opened #3054 "The wrapper prints the version twice"
/quote][quote]Only Linux Theory native, I suppose.[/quote]
Yes.
[quote]Minor issue, could you 2 lines reduce to 1:
[code]11:40:13 (10717): wrapper (7.15.26016): starting
11:40:13 (10717): wrapper (7.15.26016): starting[/code]
[/quote]
This is an upstream BOINC issue. The message is printed [url=https://github.com/BOINC/boinc/blob/master/samples/wrapper/wrapper.cpp#L1146]here[/url] and [url=https:/

[2019-03-12 15:38] ChristianBeer commented on #3048
Science United is a special account manager not a project. So it does not need to implement the BOINC project API. Also SU is not part of BOINC but is managed here: https://github.com/davidpanderson/science_united

[2019-03-12 15:38] #3048 closed

[2019-03-12 15:43] ChristianBeer commented on #3054
We had this question in the past and the answer was that this is intentional. The first message is printed to stderr and ends up wherever that is redirected to when the wrapper is started. The second message is printed right after the call to `boinc_init_options()` which redirects stderr to the default logfile of the wrapper (I think). Depending on when an error happens you want to always have a v

[2019-03-12 19:23] JuhaSointusalo opened #3055 "mgr: Failure to add project error message needs wrapping"
**Describe the bug**
If project server returns an error message when trying to add the project with Add project wizard the error message doesn't necessarily fit in the window but the text doesn't wrap.

**Expected behavior**
The text wraps.

**Screenshots**
![image](https://user-images.githubusercontent.com/15806192/54228216-57690280-450a-11e9-8e96-219b5c760e4d.png)

**System Information (please c

[2019-03-12 21:43] davidpanderson commented on #3048
I moved this to the SU repo:
https://github.com/davidpanderson/science_united/issues/14

[2019-03-13 10:10] lfield commented on #3054
Maybe for the second print we should only do it if `stderr_filename` is set. If you agree I can do the PR.

[2019-03-13 10:54] RichardHaselgrove commented on #2147
The 'unwanted side-effects' mentioned above are still causing problems for a significant cohort of users.

Specifically, if the user:

* is running a Linux version of BOINC Manager
* is viewing the Tasks pane in advanced view
* has sufficient tasks visible to over-fill the list area (invoking scrolling)
* performs a server RPC which changes the number of visible rows (reporting or receiving new ta

[2019-03-13 21:33] AenBleidd commented on #2954
I believe these comments answers the user's question. Should this ticket be closed?

[2019-03-13 22:58] davidpanderson commented on #2954
I suggest that we make sure all the information here is in the online documentation
(e.g. https://boinc.berkeley.edu/wiki/BOINC_Manager), then close this issue.

[2019-03-13 23:40] AenBleidd commented on #2826
Fixed via #2843

[2019-03-13 23:40] #2826 closed

[2019-03-14 10:04] AenBleidd commented on #2910
@maverick6664
Looks like it is internal driver issue:
https://unix.stackexchange.com/questions/414656/darktable-doesnt-recognize-intel-graphics-620s-opencl-beignet-in-fedora-27/419590
Also described here:
https://www.freedesktop.org/wiki/Software/Beignet/
Could you please try this:

[2019-03-14 12:17] yingang opened #3059 "BSOD crash report (BOINC on Windows 7)"
When the BSoD happened, I was doing some GPU based (CUDA) processing and BOINC is running in the background (also using GPU through Einstein@Home) .

**System Information (please complete the following information):**
 - OS: Window Embeded System 7
 - BOINC Version: 7.14.2
 - GPU: NVidia GTX 1070 (driver version: 397.64)

**Additional context**
from the windbg output with the [dump file](https://g

[2019-03-14 15:21] AenBleidd commented on #2808
Was not able to reproduce this on fresh installed Windows 10 x64 with the installer `wcg_7.14.2_windows_intelx86__22_568195_f26e94dc.exe`

[2019-03-14 15:21] #2808 closed

[2019-03-14 19:16] RichardHaselgrove opened #3061 "Server/scheduler: Current default code doesn't inhibit work supply to faulty hosts"
**Describe the bug**
SETI@Home users have drawn attention to [SETI host 8625200](http://setiathome.berkeley.edu/show_host_detail.php?hostid=8625200).

The host was created on 28 Nov 2018, by a new user who also joined the project on the same day.

At the time of writing, the results.php display for the host is showing 1663 tasks in progress and 313 error results. Those figures include 48 apparentl

[2019-03-14 21:10] AenBleidd commented on #234
Closing as subticket of #1963

[2019-03-14 21:10] #234 closed

[2019-03-15 04:30] davidpanderson commented on #3061
#3024 has a detailed explanation of what it does.  Please read it.

[2019-03-15 08:08] RichardHaselgrove commented on #3061
Yes, I read it when it was first opened, and I read it again before opening this issue. As you say, it has a clear explanation of **what** it does: what is missing is a description of **why** it does it.

The patch in #3024 is directed to the validator: detecting problems at the end of the process, and setting conditions that should prevent them growing into larger problems.

But my purpose in ope

[2019-03-15 08:54] lfield commented on #3061
@RichardHaselgrove PR #3024 works as intended and goes part way to solving this issue. The original issue I posted is #3009 and I have just linked that to the PR. The situation that I wanted to detect is where there is a permanent and detectable issue with the host that causes the tasks to fail. This can now be done, the max_jobs_per_day is set to 1 and the host does not receive any more tasks.

I

[2019-03-15 11:06] RichardHaselgrove commented on #3061
Thanks - that's much clearer. That's why the "Fixes: " prompt is in the new PR template, and it would be helpful if everyone could use it.

For what it's worth, my assumption is that the example host I'm using here is suffering from severe communications problems: I think that the majority of supposedly 'in progress' tasks are what users refer to as 'ghost tasks'.

These are tasks which are alloca

[2019-03-15 12:22] ChristianBeer commented on #2147
I've tested the described behavior with a local built using wxWidgets 3.1. The workaround is still required to handle the initial problem but it seems the side-effect described by Richard  are gone now. So for the next Client Release we should update wxWidgets to also be in sync with the Mac Client.

[2019-03-15 16:14] TheAspens commented on #3061
@davidpanderson - can you review the following?

The limits on tasks per day is governed by the checks in the method '[daily_quota_exceeded](https://github.com/BOINC/boinc/blob/64b78dfbc03885cd43b210ffe827c65f4295ea51/sched/sched_version.cpp#L126)'

That method is called in get_app_version_anonymous [here](https://github.com/BOINC/boinc/blob/64b78dfbc03885cd43b210ffe827c65f4295ea51/sched/sched_ver

[2019-03-16 16:27] RichardHaselgrove commented on #2147
We have a user at SETI@Home (Oddbjornik) who has built a personal Manager from #3050 and wxWidgets 3.1 - he'll report results as we along in https://setiathome.berkeley.edu/forum_thread.php?id=84013. He has refined my description of the jumping problem with:

He has also commented on another matter:

[2019-03-17 12:54] RichardHaselgrove commented on #2147
@ChristianBeer: Oddbjornik reports that he has again observed the jumping bug, this time with the wxWidgets 3.1 build. Please refer to my comments in https://setiathome.berkeley.edu/forum_thread.php?id=84013&postid=1985590#1985590.

[2019-03-18 09:23] #2102 closed

[2019-03-19 11:08] RichardHaselgrove commented on #2147
The problem complained of is "drew blank lines at the top and failed to draw the bottom items." The only time this is a problem is when all items in the list could have fitted in the viewport.

EnsureVisible scrolls the viewport so that a particular line is visible - in this case, the last line. The only time we need to do that is

`if (m_pListPane->GetItemCount() <= m_pListPane->GetCountPerPage()

[2019-03-19 18:17] JuhaSointusalo commented on #2657
Closing. The issue was fixed in #2713 and the problems in that PR were fixed in #2748.

[2019-03-19 18:17] #2657 closed

[2019-03-20 19:27] vwbusguy commented on #3037
HTC's Power to Give is also noteworthy and that was my first exposure to BOINC when I bought an HTC device a few years ago (and I am on a US carrier): https://www.htc.com/us/go/power-to-give/

[2019-03-21 16:03] RichardHaselgrove opened #3065 "Client: review work request issues following #2918 and #3001"
#2918 (fix job scheduling bug) has been accepted and merged. But in the process, adjustments were made to work fetch which were less than ideal. Quoting from the PR,

https://github.com/BOINC/boinc/pull/2918#issuecomment-450718595: @davidpanderson wrote

https://github.com/BOINC/boinc/pull/2918#issuecomment-460804035: @JuhaSointusalo wrote

- If work fetch is blocked as long as there are max_concu

[2019-03-21 19:19] #2271 closed

[2019-03-21 19:47] davidpanderson commented on #3065
Is there a client simulator scenario that shows a/this problem?

[2019-03-21 19:59] RichardHaselgrove commented on #3065
I haven't uploaded one yet, but I can try to do so if it would help. Which aspects of the work would a simulation be most useful for?

If it's the #2918 work fetch problem, it would probably be best if @KeithMyers uploaded one - he experienced the problem most severely with his more powerful machines. I could do a more limited set in the morning - getting late here..

[2019-03-22 01:49] KeithMyers commented on #3065
So what commit should I be running for the simulator?

[2019-03-22 02:37] davidpanderson commented on #3065
Unless you're building the simulator yourself, there's no choice.
It's generally based on master, except during periods when I'm working on it.

[2019-03-22 04:11] KeithMyers commented on #3065
In my https://github.com/BOINC/boinc/pull/2918 request, Richard had me compile a specific commit in Linux.  I was asking which commit version you wanted me to compile for testing on the simulator.

[2019-03-22 08:16] RichardHaselgrove commented on #3065
No, David is right. You only supply the data files for the run. The simulator uses its own executable files (I'd guess Linux builds). The simulator will already have the #2918 patch, because those changes have already been merged into master (as @JuhaSointusalo's comment confirms), and it'll also have #3001.

What you are requested to include, please, are the full set of app_config.xml files which

[2019-03-22 11:52] RichardHaselgrove commented on #3065
I have uploaded scenario 171 to explore the REC calculation on devices of different speeds. GPUGrid runs on NVidia Device 0 (excluded from Device 1): SETI runs on NVidia Device 1. REC half life is 1 day. If individual device speeds are taken into account, GPUGrid REC should be more than double SETI (in this scenario, where no manual intervention is possible).

https://boinc.berkeley.edu/scenarios/

[2019-03-22 15:30] KeithMyers commented on #3065
OK, yes I understand now you have already merged the commits you wanted tested.  I can supply files for the new scenario.

[2019-03-22 15:34] RichardHaselgrove commented on #3065
Well, it was Juha that merged them - BOINC has adopted a 'four eyes' approach, with separate committers and mergers, to reduce the risk of typos slipping through. But the merge was done under caution (as quoted above), because of this additional work still being needed.

[2019-03-22 16:34] KeithMyers commented on #3065
Hmmm, I attempted to create a scenario.  Uploaded all the files but no scenario has appeared.  Didn't see any warning messages or errors.

[2019-03-23 19:20] JuhaSointusalo commented on #3017
@davidpanderson

How much room there is for negotiating this? Changing the timeout from 10 seconds to 5 minutes will help but I don't think it makes the problem go away entirely. Scenario is people putting the computer to sleep at just the wrong moment. Or shutting down the computer just after science app has written the finish file and the next time the computer is started the science app doesn't

[2019-03-23 21:13] davidpanderson commented on #3017
the mechanism is needed, else CPUs can be idle indefinitely if an app hangs while exiting
(which has happened).
problems happened with a 10-sec timeout.
so we try 5 minutes and see if any problems happen; they almost certainly won't

[2019-03-23 21:47] sirzooro commented on #3017
Longer timeout should help with short running apps. When many of them are finishing and new ones are starting, this can take longer than only one of them is finishing and starting, especially on machines with many CPU cores. This change will help projects which have such WUs.

[2019-03-24 16:35] AenBleidd opened #3068 "[Manager] Invalid AM description encoding on Russian localization"
When both client and Manager are run on machine with Russian localization AM description shown with wrong encoding:

![image](https://user-images.githubusercontent.com/3234209/54882493-405bd600-4e63-11e9-9254-8e052aec23e5.png)

This doesn't happen when show AM description from the client run on machine with English localisation (Raspberry PI in my case):

![image](https://user-images.githubusercon

[2019-03-25 18:08] JuhaSointusalo commented on #3017
Very well then.

[2019-03-26 22:44] davidpanderson opened #3071 "Investigate data privacy"
Lack of data privacy is a barrier to the use of BOINC
in biomedical and commercial applications.

Investigate ways to provide data privacy, perhaps using ideas from here:
https://en.wikipedia.org/wiki/Secure_multi-party_computation
or hardware features such as Intel SGX:
https://en.wikipedia.org/wiki/Software_Guard_Extensions

[2019-03-27 18:59] #861 closed

[2019-03-27 19:56] #3068 closed

[2019-03-28 22:07] lfield opened #3073 "The daily quota is not fullly respected if close to limit."
@davidpanderson I have been using the result of PR #3024 and each day when n_jobs_today is reset to 0, the host will receive more than 1 job even though max_jobs_per_day = 1. This results in n_jobs_today > max_jobs_per_day.  From looking at the code, it seems that the check n_jobs_today < max_jobs_per_day is done quite early on but when it comes to actually selecting the tasks to send, this limit

[2019-03-29 00:17] gchilders opened #3074 "db_dump creates badge_user.gz.gz and badge_team.gz.gz"
db_dump creates badge_user.gz.gz and badge_team.gz.gz with two .gz extensions.

**Steps To Reproduce**
1.  With badges enabled, run db_dump and view the stats files.

Then extension is added both when the filename is specified and when the file is opened by the GZIP_FILE class.  The fix is to remove the extension in the former case.  I have fixed it in my local fork below:
https://github.com/gchil

[2019-03-30 21:06] #3017 closed

[2019-04-02 15:06] Germano0 commented on #2870
I am running a nested virtualization with VirtualBox running inside a qemu/kvm/libvirt virtual machine

[2019-04-02 17:35] AenBleidd opened #3083 "client: option to use full CPU core for GPU task even if <ncpus> option is less than 1"
**Describe the problem**
When PC has only 1 GPU and run both CPU and GPU tasks, boinc client tries to utilize all resources available. When GPU task uses 1 full GPU (common case) it uses less than 1 CPU core. This lead to the case when having 4 CPU cores and 1 GPU you have 5 tasks run: 4 CPU tasks and 1 GPU task that is share 1 CPU core with some another CPU task. In this case GPU task performance

[2019-04-02 18:29] RichardHaselgrove commented on #3083
I think this is a duplicate of #2949

The process of 'reserving a core' when needed is widely discussed and recommended on project message boards: it was implemented through app_info.xml ('anonymous platform') at SETI long before app_config.xml became available for the same purpose, even when using stock applications.

Einstein@Home make user control available through an extension of project prefe

[2019-04-02 18:34] AenBleidd commented on #3083
I can't fully agree with you.
#2949 is mainly about measuring how much CPU is used exactly while this one
is about overriding any estimation.
Anonymous platform is fine, but having a single option is better and easier
from my prospective.
Of course, I don't want to force this ticket, and I'm open for discussion.

Thank you

вт, 2 апр. 2019 г. в 21:29, RichardHaselgrove <notifications@github.com>:

[2019-04-02 18:48] RichardHaselgrove commented on #3083
I think we're saying the same thing, but in different ways. I was proposing a measurement process, to replace the current very crude estimation, but as a means to an end - to activate a solution for the observed need which we both agree on.

[2019-04-02 18:51] AenBleidd commented on #3083
Yes, definitely. Let's keep this ticket then and push the conversation in
the ticket you mentioned before. I believe this feature in general should
be implemented in some way because it will help to utilize available
resources kore efficiently.

Thank you

вт, 2 апр. 2019 г. в 21:48, RichardHaselgrove <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-04-02 19:44] davidpanderson commented on #3083
The current policy is due in part to user perception.
If, on a 4-core machine, BOINC uses 3.1 cores and a GPU,
some users will complain that we're not using all their resources.
(even though using an additional core will reduce overall throughput)

[2019-04-02 19:48] AenBleidd commented on #3083
@davidpanderson, I understand this policy and the reason why it was done
this way. That is way in the title of this ticket I put the word "option".
This could be an option in the Settings for those users who want BOINC to
use their hardware in a more efficient way even when Task Manager (or top
on Linux or some other application on Mac) shows the opposite.

вт, 2 апр. 2019 г. в 22:44, David Anders

[2019-04-02 21:23] RichardHaselgrove commented on #3083
@davidpanderson: Neither of us has any problem with the current fractional overcommitment policy when the server has **correctly** identified that the GPU task requires a low proportion of CPU support.

But there are cases where the user perception that 4/4 CPU utilisation in the presence of a GPU app would be efficient is FALSE. In those cases, efficiency could be restored by reducing the CPU uti

[2019-04-03 09:41] lfield commented on #3005
@davidpanderson I looked into the code and if I understand this correctly it is non-trivial to implement. For example a batch.enumerate function would be required in addition to functions such as archive_batch_gz. I would attempt this myself but am concerned that as I don't have the big picture of what is happening, I may make the wrong assumptions.

[2019-04-03 23:26] davidpanderson opened #3086 "Enable browser-based computing in BOINC"
It's possible to do scientific computing with GPUs using WebGL, on a variety of devices including phones.  The easiest way to do this is from Javascript running in a browser.

Here's an idea: write a lightweight "BOINC client" in JS, which gets jobs from BOINC servers via the scheduler RPC protocol (or maybe a JSON-ized version of it).  The jobs would be JS programs, possibly using WebGL.

Note: m

[2019-04-04 07:44] jacobbogers commented on #3086
I spoke with you before some month ago about this
Porting R and other numerical libraries to the the browser https://github.com/R-js

[2019-04-04 08:21] jacobbogers commented on #3086
I am now reverse engineering  and sunsequent documenting the linewire protocol for this very reason.

[2019-04-04 08:32] AenBleidd commented on #3074
Fixed in #3084

[2019-04-04 08:32] #3074 closed

[2019-04-04 16:26] JuhaSointusalo commented on #3086
Some people have talked about compiling BOINC (and apps) with Emscripten to run them on browsers. I don't know how far that work has progressed. I can't remember any status updates right now.

[2019-04-04 16:31] AenBleidd commented on #3086
JavaScript itself is slow. Machine-converted code from c++ with its
complexity to JavaScript, I'm afraid, will produce very slow solution. So
personally I'd rather create JS client from scratch than use Emscripten.
But as a fast first solution is fine, I believe. Maybe later we could find
someone who could do this from scratch on JS (I believe it's easier than
find someone to build c++ code on Mac

[2019-04-04 16:48] JuhaSointusalo commented on #3086
I do remember playing Doom (Quake? Wolfenstein?) and running Linux on browser. Emscriptem docs claim

Of course they say good things about themselves and I can't really understand the linked benchmarks. But I certainly wouldn't shrug it off without benchmarking our apps first.

[2019-04-05 14:16] #3009 closed

[2019-04-05 18:15] davidpanderson commented on #3005
Do purged batches actually need to be archived?
If not, I can supply a small PHP script to do this.

[2019-04-05 21:31] lfield commented on #3005
I don’t know. I just assumed it would follow the same approach. I personally don’t need the archives. With my current setup I have to wait until all workunits in the batch have finished (sucess, error, timeout) before I retrieve the results and retire the batch. The problem with this approach is that it creates a delay for the successful  results. As the size of the batch increases, the probabilit

[2019-04-08 18:23] JuhaSointusalo opened #3091 "merge generic Unix and Solaris man pages"
We have generic Unix man pages in [doc/manpages](https://github.com/BOINC/boinc/tree/master/doc/manpages) and we have Solaris man pages in [packages/solaris/CSW/boincclient](https://github.com/BOINC/boinc/tree/master/packages/solaris/CSW/boincclient) and [packages/solaris/CSW/boincmanager](https://github.com/BOINC/boinc/tree/master/packages/solaris/CSW/boincmanager).

There is no point in duplicat

[2019-04-11 07:58] chrstphrchvz commented on #2231
I have not looked into this issue much more, but I would say that 1024x665 resolution used by CoRD is a red herring. Although I saw CoRD similarly use 1024x640 when I tried it, the VM was actually using 720x400.

The resolution issue is not specific to the MS RDP client on Mac. I wonder if RDP clients are even capable of knowing what resolution the VM is set to. Unlike connecting to a session on a

[2019-04-11 17:06] #3026 closed

[2019-04-12 12:39] #2604 closed

[2019-04-12 12:56] lfield commented on #3091
In my view this issue could be solved by deleting the whole _packages_ directory.

[2019-04-12 13:11] lfield commented on #1900
This is a specific issue to our application and for now should not be handled by BOINC

[2019-04-12 13:11] #1900 closed

[2019-04-12 13:12] lfield commented on #2112
This is being discussed further in PR #2275

[2019-04-12 13:12] lfield commented on #2113
This is being discussed in #2275

[2019-04-12 13:14] lfield commented on #2764
The issues has been resolved.

[2019-04-12 13:15] #2764 closed

[2019-04-12 20:22] SETIguy commented on #3091
The original idea behind the packages directory was to encourage open
development of the package creation script which, it was hoped would result
in more uniform packages with more uniform names and uniform features.   Of
course, nobody but me actually put packaging scripts/configs in the
repository, and we ended up with inane arguments about whether its
/var/lib/boinc or /var/lib/boinc-client.

G

[2019-04-13 22:25] chrstphrchvz commented on #2231
Found it: `VBoxManage showvminfo --machinereadable`, then look for `VideoMode="X,Y,colordepth"`. Example:

[code]

[2019-04-14 13:19] arkadiyjs opened #3098 ""Computing" notification after crash, but no computation done"
**Describe the bug**
The app seems to download and compute tasks after the initial setup sequence but proceeds to crash the device at some point over the next 24 hours of operation. After powering up the device, a "Computing" notification is displayed without any actual computation done within the app. In addition, the device isn't even supposed to work on the tasks in accordance with the set pref

[2019-04-14 13:38] AenBleidd commented on #3098
@arkadiyjs, please take a look at the issues #2771 and #2467
By the way, there is newer version in Beta channel on Google Play.
I don;t believe it will fix your issue but at least you could try

[2019-04-15 17:58] davidpanderson opened #3099 "client crash"
I've seen this crash several times, over the last several years.

 	boinc.exe!show_message(PROJ_AM * p, char * msg, int priority, bool is_html, const char * link)  Line 92	C++
 	boinc.exe!msg_printf(PROJ_AM * p, int priority, const char * fmt, ...)  Line 153	C++
 	boinc.exe!CLIENT_STATE::handle_scheduler_reply(PROJECT * project, char * scheduler_url)  Line 656	C++
 	boinc.exe!SCHEDULER_OP::poll()

[2019-04-15 18:33] AenBleidd commented on #3099
No crash dump?

пн, 15 апр. 2019 г. в 20:58, David Anderson <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-04-16 00:24] VedantMahabaleshwarkar opened #3100 "Suspend when non-boinc load exceeds X % not working in container environment"
Deploying the linux app for boinc in a container environment, on an Openshift cluster.
The aim is to suspend the boinc container when other pods on the cluster take up resources. However, this feature does not seem to be working. BOINC never suspends irrespective of the non-boinc load running in another container on the same node of the cluster.
How do I get boinc to suspend in this scenario?

[2019-04-16 08:36] arkadiyjs commented on #3098
Installed the newer version via APKMirror and turned off battery optimization for the app. The "Computing" notification error seems to be solved, but the device continues to crash overnight. At this point, I'm unsure whether it's an issue with BOINC or the device itself.

[2019-04-16 09:25] #2147 closed

[2019-04-16 11:11] Ferroin commented on #3100
I suspect that this is due to BOINC not being able to see anything outside it's own container (which means it either can't see the high CPU usage, or can't figure out what's causing it).  Correctly handling this without compromising the security of any of the containers is likely to require handling from the container management stack, not BOINC.

[2019-04-16 11:21] lfield commented on #3091
The packaging responsibility have been taken over by the people involved in the various distributions. Their packing configuration files and scripts are in their own distribution specific repositories for Fedora, Debian and OpenSUSE.

[2019-04-16 14:02] anshugoe commented on #3100
@Ferroin So is it because BOINC calculates percentage usage of CPU based on processes running on the same container and not how much resource is actually free since those resource might also be getting used by some different containers
Also, it would be great if you could help us point out in which file these calculations are being made.

[2019-04-16 14:49] Ferroin commented on #3100
I'm not exactly sure where it's doing the calculations, but on Linux systems I'm fairly certain it's looking at the same files in `/proc` that the `top` command uses to calculate total CPU usage, and does similar on MacOS and Windows (just using different API's to get the data).  Depending on how aggressive the container software is at isolating containers from the rest of the system, that may or

[2019-04-16 20:47] serval2412 commented on #2870
Virtualbox isn't in Debian testing main repos and considering https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=794466, it seems it won't be in following Debian versions too (derivatives like Ubuntu too?).
Of course, it seems possible to download Virtualbox from Oracle but wouldn't like to play with dependencies.

[2019-04-17 02:28] songminkyu opened #3103 "How do install the Boinc server?"
There is no manual on how to build and install the Boinc server,
Can I get advice on how to build and install it?

[2019-04-17 05:20] AenBleidd commented on #3103
Hello @songminkyu,
Please take a look at next links:

- https://boinc.berkeley.edu/trac/wiki/ProjectMain
- https://boinc.berkeley.edu/trac/wiki/ServerIntro
- https://github.com/marius311/boinc-server-docker/blob/master/docs/cookbook.md

[2019-04-17 05:20] #3103 closed

[2019-04-17 12:45] Germano0 commented on #2636
@JacobWKlein does this happen even with lastest updates?

[2019-04-17 12:54] JacobWKlein commented on #2636
It is highly likely that it does. However, my RNA World project is no-longer using 26197 for tasks, and I no-longer have any more 26197 long-runners in progress.

I specifically reported the issue, at the time I saw it, because I knew it would be hard to test.

The issue likely still exists. Do you have steps to easily re-test it?

[2019-04-17 13:09] Germano0 commented on #2636
No, I asked you because I still have to start studying the situation from the scratch

[2019-04-18 01:32] JacobWKlein commented on #2915
I wrote this in an email on 4/17/2019:

https://www.virtualbox.org/ticket/18212

[2019-04-18 07:43] #3073 closed

[2019-04-18 09:56] AenBleidd commented on #3100
BOINC is not designed to work in a container and monitor resources outside of the its container because of security issues. If you want to let BOINC work when there is no system high-load by other processes you should do this manually or install BOINC directly on your hardware without any containers

[2019-04-18 13:44] adamradocz commented on #3100
This issue can be closed.

[2019-04-18 14:43] anshugoe commented on #3100
@AenBleidd @Ferroin When you say security issue, is it security concern to BOINC or other non-BOINC process running in some different container.
The reason I am trying to run BOINC as a container so that it is able to utilize all the slack resource of my node/cluster without affecting any of the primary containers running. Tuning BOINC container is possible from outside but I believe that wouldn't

[2019-04-18 14:54] AenBleidd commented on #3100
When I say "security issue" I mean BOINC must know nothing about the environment outside of the environment he run on (in this case, inside the container). And I believe it can't.
And no, I have no other suggestions except third-party software to control container or BOINC client inside it

[2019-04-18 15:04] TheAspens opened #3105 "On Linux, the manager cannot start the core client as a service"
This issue comes from discussions during the contributor call that was hosted on April 18, 2019 when discussing pull request #3094

The installation on Linux sets up the core client to run as a service.  If the user sets their permissions correctly and then runs the BOINC Manager with the directory to /var/lib/boinc then they are able to connect to the core client.

The user is then able to cause

[2019-04-18 15:07] anshugoe commented on #3100
I believe this is the part of code where BOINC is calculating CPU usage of non-BOINC process running in the same environment. There are cross-platform library like psutil in python which can get us the resource usage of all other containers running on the same node, without exposing much details

This looks like the final calculation:
https://github.com/BOINC/boinc/blob/master/client/app.cpp#L501

[2019-04-18 15:28] RichardHaselgrove commented on #3105
There are comments and functions starting from https://github.com/BOINC/boinc/blob/master/clientgui/BOINCClientManager.cpp#L91 explaining how service mode is detected and used by the Manager.

In consultations around #3094 leading up to the discussion, several users expressed that they would wish to prevent or delay BOINC startup as a service to allow prerequisites such as graphics drivers and WiF

[2019-04-18 15:55] Ferroin commented on #3105
This is likely a doomed proposition from the start.  This kind of thing is easy on Windows and macOS (and even many non-Linux UNIX-like systems such as Solaris) because they have exactly one way to handle services.  On Linux though, you have at least half a dozen possibilities, including:

* Management through systemd as a system service (Most Linux systems these days)
* Management through systemd

[2019-04-18 16:00] Ferroin commented on #3100
@anshugoe As stupid as it sounds, external management of BOINC resource utilization is, in my experience at least, way more efficient than just letting BOINC do it.  You get much more fine-grained control of trigger conditions, as well as being able to potentially react faster than BOINC itself does, and even potentially scale it down preemptively.

I've not done it with container software, but I'

[2019-04-18 18:31] adamradocz commented on #3100
Applications can't know anything outside of the container by design.
I use the [boinc-client-docker](https://github.com/BOINC/boinc-client-docker) and it works fine. The processes inside the container have low priority, so it uses the unused system resources.

[2019-04-18 19:10] TheAspens commented on #3105
While there are many ways to run services on Linux, I believe that only systemd is used by the current install of the BOINC core-client when pulled from the maintained packages for debian and epel.  As a result, I think that this is the case that should be handled.

I believe that what would be necessary to make this work is that the installation should create a file at /etc/sudoers.d/boinc that l

[2019-04-18 19:32] ChristianBeer commented on #3100
The idea of a container is to contain what is inside and not let it know what is outside the container. Depending on how much control you have other the containers you might set up a system that communicates with the Client inside the container via RPC (boinccmd from the outside) or execute a script inside the container (calling boinccmd) and controlling the client this way.
What you should not do

[2019-04-18 19:46] Ferroin commented on #3105
A quick check on Debian Sid seems to indicate that BOINC there still does work with sysv-init (just like pretty much every other package on Debian that doesn't explicitly require service provided by systemd).

That said, covering the case of conventional `/etc/init.d` scripts as well as systemd will indeed make things 'just work' for probably 95% of users on Linux.  Overall, you just substitute th

[2019-04-18 20:14] TheAspens commented on #3105
Actually rather than configuring /etc/sudoers.d, another way is with a polkit configuration:

/etc/polkit-1/rules.d/57-manage-boinc-client-service.rules (centos/fedora)

[code]

Unfortunately, this is not available until polkit v 226 and RedHat/CentOS aren't on a high enough level. (ref: https://superuser.com/questions/1064616/polkit-systemd-interaction)

[2019-04-22 09:00] songminkyu opened #3108 "How do I forward announcements without RSS?"
Is there any way to forward notices to the Boinc Client Manager without an RSS feed on the Boinc Web server?

[2019-04-23 06:23] davidpanderson commented on #3108
Post news items and check the "show as notice in the BOINC Manager" checkbox.
They're distributed via the notices.php RPC.

[2019-04-25 13:55] AenBleidd commented on #3108
I believe the answer is informative enough so this ticket could be closed.

[2019-04-25 13:55] #3108 closed

[2019-04-25 14:00] AenBleidd commented on #3100
I believe question by @VedantMahabaleshwarkar  was answered well enough. Closing this ticket

[2019-04-25 14:00] #3100 closed

[2019-04-30 11:36] AenBleidd commented on #1390
@AlmightyAug, do you still have some devices that you use for BOINC and have described issue?

[2019-04-30 12:50] lfield commented on #2113
The feedback from PR #2275 suggests:
1. Address at code comments in #2275
1. Explicitly consent attachment to project.
1. Authenticator in the cookie should not be used for authorization
1. gui_rpc_auth.cfg file should be used (maybe via browser callback)
1. http://127.0.0.1 can be considered secure

[2019-04-30 13:36] brierjon opened #3112 "Theme Dark Mode Text Contrast and Display Accessibility"
**Describe the bug**
The Resource share column in Advanced View and the text simple view have either white on white or Black on Gray contrast accessibility issues when using a dark theme. In Pop!_OS 19.04 enabling the default Dark Mode will reveal the screenshots. This is similar to issue #812 and #2917. Styling update is likely needed. This is using the gtk-theme https://github.com/pop-os/gtk-the

[2019-04-30 14:08] AenBleidd commented on #2692
Closing as a duplicate of #2467

[2019-04-30 14:08] #2692 closed

[2019-04-30 14:09] AenBleidd commented on #1473
Closing this in favor of #2467 as it has the same issues described

[2019-04-30 14:09] #1473 closed

[2019-04-30 14:11] AenBleidd commented on #2771
Closing this as a duplicate of #2467

[2019-04-30 14:11] #2771 closed

[2019-04-30 14:12] AenBleidd commented on #3098
@arkadiyjs, could you please provide any logs if available?

[2019-04-30 14:16] arkadiyjs commented on #3098
The issue has somehow solved itself. I now use this device solely for BOINC. All other applications were deleted and the device has stopped crashing overnight.

[2019-04-30 14:16] #3098 closed

[2019-04-30 14:32] AenBleidd commented on #2855
Seems very similar to #2467
Closing for now as a duplicate

[2019-04-30 14:32] #2855 closed

[2019-04-30 15:58] Ferroin commented on #3112
I can confirm this on Gentoo as well using a handful of other GTK+ dark themes.  It's been the case for as long as I can remember, I've just never been bothered enough to open an issue about it.

[2019-04-30 17:32] RichardHaselgrove commented on #3112
It has been mentioned, though. We should group this with:

#812
#980
#1072
#1126
#2919
#2917

[2019-04-30 18:23] adamradocz opened #3113 "Vagrant isn't working"
**Describe the bug**
I get this error message when I tried to use the Vagrant to create a VM:
` default: [=======================================] 100% Unzipping... m2repository/com/goo
    default: cp: cannot stat '/home/vagrant/.local/share/applications/android-studio.desktop': No such file or directory    default: chmod: cannot access '/home/vagrant/Desktop/android-studio.desktop': No such file

[2019-04-30 23:00] RoboticMind commented on #3086
Emscripten can convert to Web Assembly, while not as fully universal, it's on the major browsers and runs at a much faster speed. Multithreading is not actually supported in js, but Chrome does have a test of it (on production) in WebAssembly so that would allow for easier porting.

[2019-05-02 08:30] AenBleidd commented on #3113
@adamradocz, the error you mentioned is a result of the issue that appear earlier.
I believe it is fixed now, please verify

[2019-05-02 09:22] #2751 closed

[2019-05-02 11:02] #3113 closed

[2019-05-02 11:39] AenBleidd opened #3115 "[Manager] Support dark theme mode on Linux/MacOS"
Currently BOINC Manager is almost unusable when using dark theme on Linux.
It is a consolidated ticket that includes next issues:

- #812
- #980
- #1072
- #1126
- #2919
- #3112
- #3415
- #4023

[2019-05-02 11:40] AenBleidd commented on #1072
Closed in favor of #3115

[2019-05-02 11:40] #1072 closed

[2019-05-02 11:41] AenBleidd commented on #2919
Closed in favor of #3115

[2019-05-02 11:41] #2919 closed

[2019-05-02 12:31] adamradocz opened #3116 "[Vagrant] Switching from Mate to Lubuntu"
**Describe the bug**
Lubuntu Desktop is lighter than Mate, so I tried to change the GUI from Mate to Lubuntu, but I get this error message when the vagrant tries to install Android Studio:

[code]

**Steps To Reproduce**
1.  Change the  `apt-get --assume-yes install ubuntu-mate-core virtualbox-guest-x11` line to `apt-get --assume-yes install lubuntu-core virtualbox-guest-x11` in the `Vagrant` file

[2019-05-02 14:56] AenBleidd commented on #1348
Fixed via #3095

[2019-05-02 14:56] #1348 closed

[2019-05-02 14:58] AenBleidd commented on #1168
Fixed via #3052

[2019-05-02 14:58] #1168 closed

[2019-05-02 17:42] BAAKILI1987 commented on #2998
what i will do to change this 32bit to 64 bit in adobe air  !! is the latest version of SDK compiler enought to resolt a problem
thanks

[2019-05-02 20:53] AenBleidd commented on #3116
@adamradocz, looks like some random issues or environment issue on your side.
Everything is working fine on my side
![image](https://user-images.githubusercontent.com/3234209/57106164-66637880-6d35-11e9-81a1-6f48ff7372b2.png)

[2019-05-02 21:09] AenBleidd commented on #3112
Closed in favor of consolidated ticket #3115

[2019-05-02 21:09] #3112 closed

[2019-05-02 22:27] AenBleidd commented on #1600
FIxed via #3052

[2019-05-02 22:27] #1600 closed

[2019-05-02 22:50] AenBleidd commented on #2297
Closed as a duplicate of #2542

[2019-05-02 22:50] #2297 closed

[2019-05-02 22:54] AenBleidd commented on #2438
@adamradocz, is this still an issue? I believe it could be closed now

[2019-05-03 06:18] adamradocz commented on #2438
WCG still uses the `HTTP` protocol, not the `HTTPS`, but the Intel GPU support is shown now.

[2019-05-03 08:00] RichardHaselgrove commented on #2438
Any remaining http/https confusion would be better handled by #2696. I think this one can be closed.

[2019-05-03 08:18] #2438 closed

[2019-05-03 08:19] adamradocz commented on #3116
Thanks, I made a stupid mistake.

[2019-05-03 08:19] #3116 closed

[2019-05-03 15:30] AenBleidd commented on #2796
I think this could be closed as' Fixed'. It the issue is still there this ticket can be reopened.

[2019-05-03 15:30] #2796 closed

[2019-05-03 17:06] adamradocz opened #3119 "[Android] build_all.sh script gives error"
**Describe the bug**
The `build_all.sh` gives the following error message:
[code]

**Steps To Reproduce**
1.  `cd BOINC/android`
2.  `./build_all.sh`

**System Information (please complete the following information):**
 - OS: Lubuntu 18.04 (Vagrant VM)

[2019-05-03 22:46] mitchwagner opened #3125 "curl 3 dependency"
I'm in the habit of running a headless BOINC instance on Linux servers. For this purpose, I use the copy of BOINC distributed at https://boinc.berkeley.edu/dl/boinc_7.4.22_x86_64-pc-linux-gnu.sh

Unfortunately, the boinc executable contained in that distribution depends on libcurl3. Depending on the computer, reverting from libcurl4 to libcurl3 has proven to be a bit of a hassle. It would be wonde

[2019-05-03 23:12] adamradocz commented on #3125
Which OS?

[2019-05-03 23:31] AenBleidd commented on #3125
Definitely Linux. The problem is that this script is out-of-date for many
years. There is a ticket somewhere to update it.

сб, 4 мая 2019 г. в 02:12, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-05-04 04:58] mitchwagner commented on #3125
Sorry for the omission. My experience is primarily with Ubuntu 18.04.

[2019-05-04 05:57] adamradocz commented on #3125
Just simply use the apt to download the boinc.
You can add ppa:costamagnagianfranco/boinc repository to get the latest one.

[2019-05-04 20:55] mitchwagner commented on #3125
I appreciate the suggestion- I may try that in the future. The reason I turned to this strategy in the first place was because when installing through apt, I would constantly run into issues like those discussed in the following thread (I'm not sure if I ever resolved them, but I figure that's far outside the scope of the current discussion):

https://boinc.berkeley.edu/forum_thread.php?id=12288

[2019-05-04 21:28] laggarcia commented on #1187
dbus-send --print-reply --dest=org.gnome.Mutter.IdleMonitor /org/gnome/Mutter/IdleMonitor/Core org.gnome.Mutter.IdleMonitor.GetIdletime

The above call should give you idle time on gnome-shell (GNOME3) environments on top of Wayland. Not a perfect solution, but probably better than what we have today at least for Fedora default installation.

[2019-05-04 22:10] laggarcia commented on #1187
Another very interesting way to detect idle time for any user logged into a Linux system is to use the same approach used by the w tool. It basically get stat for the current terminal file (graphical, text, or serial) and watch for the last access timestamp (stat.st_atime).

[2019-05-04 22:42] adamradocz commented on #3125
You can use the [Docker Boinc Client](https://hub.docker.com/r/boinc/client) as an alternative.
I'm closing this issue in favor of #2360

[2019-05-04 22:42] #3125 closed

[2019-05-07 11:19] lfield commented on #2542
Work is being done on branch [phys_cores](https://github.com/BOINC/boinc/tree/phys_cores).

- [ ] Client detection
  - [x] Linux
  - [ ] Windows
  - [ ] Mac
- [x] Receive info on server, update DB, and display in host info pages
- [ ] Add planclass (?) to allow limiting to physical cores
- [ ] Use this info in scheduling

[2019-05-08 19:52] #1581 closed

[2019-05-09 20:11] dmkunsman opened #3134 "Error compiling BOINC server from source on Fedora RedHat 8.2"
I am getting an error when trying to compile a BOINC server from source.
automake and configure work fine, but when I try make I get this error
/usr/bin/ld: db_dump.o undefined reference to symbol gzwrite
//usr/lib64/libz.so.1: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status

[2019-05-09 20:35] SETIguy commented on #3134
When I've encountered this sort of error it's been a problem of either the
order of libraries on the command line or a circular dependency.  If you
provide the command being executed it might help.

On Thu, May 9, 2019 at 1:11 PM dmkunsman <notifications@github.com> wrote:

--
Eric Korpela
korpela@ssl.berkeley.edu
AST:7731^29u18e3

[2019-05-09 21:17] AenBleidd commented on #3032
Looks like this issue is already fixed in master. At least I could not reproduce it. Should be verified on Release build when ready

[2019-05-09 22:02] JacobWKlein commented on #2915
Any progress on this? I'd like to see an updated VBoxWrapper, so VM projects can finally deploy the version that supports VirtualBox v6!  Progress?

[2019-05-09 23:08] davidpanderson commented on #2915
Do we know that vboxwrapper doesn't work with VBox v6?

Also, does v6 have the ability to lower the process priority of a VM instance?

[2019-05-09 23:16] marius311 commented on #2915
I've not had the time to test myself but lots of reports of errors with VBox 6 from Cosmology@Home, e.g. https://www.cosmologyathome.org/forum_thread.php?id=7563

[2019-05-10 00:54] JacobWKlein commented on #2915
I'm pretty sure it needs an update to use the COM interface, right? Else it may successfully fall back to VBoxManage, but I haven't tested it, as I thought we were getting an update.

[2019-05-10 03:31] davidpanderson commented on #2915
Yes.  Rom just told me how to update the COM interface.  I'll try to do this shortly.

[2019-05-10 03:53] JacobWKlein commented on #2915
You did it last time, too, I think. It took 3 tries, if I recall ;) I won't be able to test any new version until Sunday at the earliest.

[2019-05-10 07:59] lfield commented on #2915
LHC@home is using the VBoxManage interface for Windows so is [running fine ](https://lhcathome.cern.ch/lhcathome/forum_thread.php?id=4905)without this change.  It looks like the [process priority](https://www.virtualbox.org/ticket/13500) issue has still not been fixed.

[2019-05-10 15:17] AenBleidd opened #3136 "[Android] Add possibility to cancel 'Add Project' procedure"
Currently there is no way to cancel 'Add Project' procedure if you accidentally pressed the corresponding button of just found no suitable projects to add.
If is very useful to have 'Cancel' button on 'Add Project' screen.

[2019-05-10 16:32] adamradocz commented on #3136
Android's default back button can do that.

[2019-05-10 17:43] AenBleidd commented on #3136
Yes, but in case of first start clicking 'Back' button will just close the application. I believe, in this case application just should return to the main screen

[2019-05-10 18:30] adamradocz commented on #3136
True.

[2019-05-11 04:09] davidpanderson commented on #2915
I made new versions (26201) of the Windows vboxwrapper:
https://boinc.berkeley.edu/trac/wiki/VboxApps#Premadevboxwrapperexecutables

[2019-05-11 07:05] AenBleidd commented on #2915
@davidpanderson, will you commit your changes via pull request? As far as I remember @romw made new release on github for every release of vboxwrapper also (e.g. https://github.com/BOINC/boinc/tree/vboxwrapper/26200 )

[2019-05-12 00:04] AenBleidd commented on #2001
I believe problem with menu location is ot topical nowadays since there is no default Android menu button.
If I'm wrong an it is still an issue please open new ticket.
Issue with background menu color will be fixed in pull request mentioned below.

[2019-05-12 09:58] #2001 closed

[2019-05-12 10:00] #2940 closed

[2019-05-12 10:08] #3136 closed

[2019-05-12 17:32] AenBleidd commented on #1331
Is still still an issue? By default, benchmark is running on fresh install, after application update and then one timer per month. I believe these rules are good enough and no special case for Android should be done.

[2019-05-12 18:31] JacobWKlein commented on #2915
@davidpanderson Just to make sure, isn't there some like .tlb file or something that was used to create the executable, such that the .tlb will need to be included in our source code somewhere?

Also ... yikes, it's been a long time since I've had to test this stuff out (with custom app_config stuff), but I'm going to start doing that now, and will chime back in with results when I have them. It m

[2019-05-12 19:13] AenBleidd commented on #1349
Is this still an issue? Can't reproduce it now

[2019-05-12 20:23] JacobWKlein commented on #2915
@davidpanderson I found 2 problems, likely related. I feel like you missed something that you've missed before, that should be on some checklist or something for the future. Add it to that list? Details are below. Let me know when to test a new "Release 2" please.

=================
Problem 1:

26200 app_info, stderr.txt correctly has 1 line:
2019-05-12 15:32:56 (13260): vboxwrapper (7.9.26200): s

[2019-05-12 21:29] AenBleidd commented on #1567
I believe that such use case is very rare and better options are provided above.
I consider not to add such functionality.
If this functionality still required please reopen this ticket,

[2019-05-12 21:29] #1567 closed

[2019-05-13 00:58] AenBleidd commented on #3046
@TheAspens, can this ticket be closed?

[2019-05-13 01:15] AenBleidd commented on #2467
There are existing limitations for background processes presented in newer versions of Android. And we can do nothing with this at this point, I'm afraid. There is a workaround to let BOINC work.
I believe this ticket could be closed because currently we can do nothing except put this information in FAQ somewhere.

[2019-05-13 05:36] davidpanderson commented on #2915
I forgot to update the version # in a couple of places.
I made a new version (26202) with these fixed.
See
https://boinc.berkeley.edu/trac/wiki/VboxApps#Premadevboxwrapperexecutables

The vboxwrapper version # is now independent of the client version.
There shouldn't be anything like 7.15.26202.
I'm still seeing this in the file details of the .exe.
I can't figure out where this info comes from.

[2019-05-13 08:20] brevilo commented on #2467
FYI: https://github.com/BOINC/boinc/issues/2467#issuecomment-422390244

[2019-05-13 09:38] AenBleidd commented on #2467
@brevilo, I'm not sure I understand your comment correctly. What issue are you talking about?

Because as far as I can see, two my Android devices run latest BOINC app presented on PlayStore.
Yes, if BOINC application is not on the foreground, there is non-zero probability that it will not start crunching when device plugged-in. Because it could be killed by Android core as non-active but CPU-inte

[2019-05-13 10:45] brevilo commented on #2467
I'm talking about **this** issue here. The latest BOINC version I built worked just fine as long as you disable the battery optimization (see #2467). The version on the PlayStore doesn't as far as I know. Thus, IMHO, this issue shouldn't be closed until a new PlayStore release happened.

Point is, the community thankfully works on fixing Android-related issues and even improves the Android version

[2019-05-13 11:01] brevilo commented on #1846
Hi @TheAspens, any progress on this front? We can fix and improve the Android client/app as much as we want, but that's all meaningless if there's no actual release.

[2019-05-13 13:17] JacobWKlein commented on #2915
Okay. I'll test 26202 in the upcoming days and report results here. Let me know if you spin another version for me to test.

[2019-05-13 14:39] AenBleidd commented on #1412
Couldn't reproduce this with latest development version. Need to be verified one more time once new version will be released

[2019-05-14 08:59] stream1972 opened #3145 "db_purge bugs in zlib support"
There are two bugs in db_purge zlib support code:
1. Wrong archive streams flushed (copy-paste programming...)
2. `Z_FULL_FLUSH` must not be used as it clears compression dictionary, this ruins compression. Use `Z_SYNC_FLUSH` instead.
The diff below fixed these issues.
[code]

[2019-05-14 09:54] AenBleidd commented on #3145
@stream1972, could you please create pull request with your fixes? If no - just let me know and I'll do this by myself

[2019-05-14 10:08] stream1972 commented on #3145
@AenBleidd Please be so kind and create pull request yourself. My own working tree is a mess from different patches and cherrypicks of different ages.

[2019-05-14 11:27] JacobWKlein commented on #2915
David,
When I go to the link you mentioned, it is still serving 26201 despite saying 26202 on screen. Can you fix that please, and let me know when to re-test?

[2019-05-14 13:25] JacobWKlein commented on #2915
Testing looks good on starting, snapshotting, and resuming from snapshot, for RNA World. See attached. I'll need to wait a little bit to test against LHC VMs (I use that project to test "new" VM creation)... as it appears their DB is currently down. Will chime in later with those results.

Also, don't forget to fix those hyperlinks please :) Thank you.
[RNA World - 26202 app_info - VirtualBox 5.2.

[2019-05-14 16:01] #3119 closed

[2019-05-14 16:10] #3145 closed

[2019-05-16 06:45] gopherit opened #3149 "If watching a project's graphics, and the task reaches 100%, subsequent tasks will error out until graphics closed"
**Describe the bug**
When watching the graphics of a task via the "Show Graphics" button, when the task reaches 100% completion, a domino effect of errors of subsequent tasks will occur until the graphics window is closed.  I am unsure if this is a BOINC issue or a project specific issue.  I am able to re-create this in World Community Grid's Microbiome Immunity Project application.

**Steps To Re

[2019-05-16 06:46] gopherit commented on #3149
**Result Log**

Result Name: MIP1_ 00189279_ 0839_ 0--
<core_client_version>7.14.2</core_client_version>
<![CDATA[
<message>
(unknown error) - exit code -1073741819 (0xc0000005)</message>
<stderr_txt>
[2019- 5-16 2:21: 4:] :: BOINC:: Initializing ... ok.
[2019- 5-16 2:21: 4:] :: BOINC :: boinc_init()
INFO: result number = 0
BOINC:: Setting up shared resources ... ok.
failed to create shared mem se

[2019-05-16 11:41] KexyBiscuit commented on #2927
Might be off-topic, was it by design to stop uploading new versions of Android client to https://boinc.berkeley.edu/dl/ ?

[2019-05-16 12:59] RichardHaselgrove opened #3150 "Linux systemd: delay BOINC startup until after video drivers have loaded"
**Describe the problem**
If the BOINC client starts before drivers are ready, GPU detection fails and any GPU is unusable throughout the session.

See, for example, https://boinc.berkeley.edu/forum_thread.php?id=12946

**Describe the solution you'd like**
Re-position BOINC client startup in repository scripts

[2019-05-16 13:19] brevilo commented on #2393
FYI, there is (hopefully) going to be some renewed management attention soon on the whole [Android release](https://github.com/BOINC/boinc/issues/1846) topic, so this might be revisited in due course.

[2019-05-18 12:33] JacobWKlein commented on #2915
I'm picking up the LHC testing today.

[2019-05-18 15:05] JacobWKlein commented on #2915
@davidpanderson I think I found significant problems in my testing today. Did you test 26202 yet?

I'm betting you'll be able to repro the problems, if you do -- I'll even give you an LHC app_info to make it easy - Just get one of their VM tasks, close BOINC, place the app_info.xml + exe + pdb into their project folder, and find the problems.

[app_info - LHC - CMS+Theory+ATLAS - 26202 vboxwrapper

[2019-05-19 13:19] JacobWKlein commented on #2915
Crystal Pellet reported success on Windows 7 here:
https://lhcathome.cern.ch/lhcathome/forum_thread.php?id=5034&postid=38894

I plan on redoing my testing using a release OS version instead of Insider version, and using a release version of VirtualBox instead of a Testbuild. Perhaps I'm hitting on a beta bug.

[2019-05-19 18:30] Germano0 commented on #3150
Hi Richard, what does it mean

?
Thank you

[2019-05-19 19:37] RichardHaselgrove commented on #3150
I'm not a Linux specialist, so I wasn't using technical Linux terminology.

But I assume any startup script follows a linear time sequence - step, after step, after step.

The BOINC step needs to be positioned after the video driver step, or so it seems.

[2019-05-19 19:43] lfield commented on #3150
In systemd language, boinc wants gpu driver.

[2019-05-20 07:59] RichardHaselgrove commented on #3150
Except, of course, on a client host running headless and without GPU coprocessors.

[2019-05-20 16:37] TheAspens commented on #2927
I talked with @davidpanderson and he said that he needs someone (probably @AenBleidd @adamradocz or @brevilo ) to volunteer to be the "android build master" for this release.  Once David starts the client release process for the 7.16 release he will send you an email letting you know that he needs a new build and you will do a build from the client release branch and send him the unsigned apk and

[2019-05-20 16:56] #3005 closed

[2019-05-20 17:20] AenBleidd commented on #2927
@TheAspens, I can do this. If @brevilo or @adamradocz want to be Android Build Master too I suggest to make an election.ij

[2019-05-21 09:47] brevilo commented on #2927
I for one am happy to support @AenBleidd and/or @adamradocz taking this on as you guys are effectively running the Android part of BOINC - and you're already doing a great job!

[2019-05-21 10:58] adamradocz commented on #2927
I'm ok with @AenBleidd being the Android Build Master.
I have one suggestion though. I think every PR merge should automatically create a new Android apk, which can be used for signing. So the latest apk is potentially ready for release without contacting the Android Build Master.

[2019-05-21 11:13] AenBleidd commented on #2927
It's not a good practice.
Only builds from release branch should be used for such purposes. This
could be automated too but anyway, because Master branch could be
potentially unstable.

вт, 21 мая 2019 г. в 13:58, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-05-21 11:21] brevilo commented on #2927
We could do both. I'm in strong favor to start actual continuous integration. CI-building `master` gives people the choice to support testing and/or access to bleeding edge features. CI builds of the latest release branch would also support testing and should eventually become a tagged release build.

[2019-05-21 11:27] AenBleidd commented on #2927
99% of CI builds are not related to Android at all so I don't think that we
should auto-sign and push such releases to Play Store. By the way, this
means that we should either use separate version for Android or make a lot
of small releases with build-number change only.
APKs are also created by CI on weekly basis from master but I don't think
that there would be a lot of people who wants to insta

[2019-05-21 11:48] brevilo commented on #2927
Since you're replying to my post: I didn't mean to imply that. I only supported the idea of having automated CI builds of both branches. If that's already the case, good. Whether continuous *deployment* to the Play Store (of release branch continuous *integration* builds) could be useful is a separate discussion and mostly up to the Android build or release manager - you :-)

[2019-05-21 15:50] Germano0 commented on #3150
In discussion ["[systemd-devel] Start service after video drivers have been loaded"](https://lists.freedesktop.org/archives/systemd-devel/2019-May/042707.html) Lennart Poettering said

[2019-05-21 18:23] SETIguy commented on #3150
The is another case of BOINC checking something at startup and assuming it
will never change.   Does waiting work? What does libudev do when you wait
on something that doesn't exist?  Shouldn't BOINC repeatedly check and
verify the presence and usability of GPUs, rather than just doing it once?

On Tue, May 21, 2019 at 8:50 AM Germano Massullo <notifications@github.com>
wrote:

--
Eric Korpela
kor

[2019-05-22 08:07] Rytiss commented on #1460
I was just personally bit by this issue and spent a while digging up info on how to fix it.

I believe BOINC should reset host_info.p_vm_extensions_disabled flag on each BOINC client startup: that is really the only time when a user could fix the setting as it needs rebooting into BIOS. Sure, that means we would do a single run testing VM extensions on a reboot even if the user did not fix the iss

[2019-05-22 08:50] Germano0 commented on #3150
@SETIguy https://en.wikipedia.org/wiki/Udev

[2019-05-22 12:22] AenBleidd commented on #1390
Looks like this issue should be fixed in the upcoming release. Need to be verified

[2019-05-22 13:35] truboxl commented on #2927
A little off topic - does the feedback entered at Google Play BOINC Beta page ever get read? Or we, users have to directly report issue here at GitHub? Also, kindly answer KexyBiscuit question?

I also in support for the automatic builds for each essential Android related PR merges...
Sideloading BOINC Alpha is also cool...

[2019-05-22 13:46] AenBleidd commented on #2927
Not sure. From time to time I take a look there. I plan to walk through all of them after the release to update/create corresponding tickets here in GitHub

It is the best case, of course, but nobody forces you to do this

@KexyBiscuit, I believe David just forgot to upload it

Please sue weekly builds from here:
https://bintray.com/beta/#/boinc/boinc-ci/weekly?tab=files
just filter by 'manager-an

[2019-05-22 13:52] AenBleidd commented on #1523
It is designed behavior to scan running processes. These errors should not happen on real device.
As soon as this is happen on emulator I'm closing this for now.
If it's still an issue please feel free to reopen it.

[2019-05-22 13:52] #1523 closed

[2019-05-22 14:09] AenBleidd commented on #2942
The goal of BOINC is to run tasks when phone is not used (most common case). If you want to monitor hardware information please use appropriate software.
Regarding BoincTasks, if they want some kind of integration with BOINC software that is not provided now, it is recommended to contact via `boinc_dev(at)ssl(dot)berkeley(dot)edu` or create a corresponding ticket here on GitHub.
Closing this ticke

[2019-05-22 14:09] #2942 closed

[2019-05-22 18:49] Rytiss commented on #3035
The translation in Transifex looks good. I just translated two missing Android strings.

[2019-05-22 20:16] AenBleidd commented on #2242
According to the comments above I'm closing this ticket as Fixed

[2019-05-22 20:16] #2242 closed

[2019-05-22 20:42] AenBleidd commented on #2063
Looks like it is fixed so I'm closing it now

[2019-05-22 20:42] #2063 closed

[2019-05-23 00:00] AenBleidd commented on #1434
Is it still an issue?

[2019-05-23 00:30] AenBleidd commented on #2118
Looks like it is fixed via #2965. @grctest, please correct me if I'm wrong

[2019-05-23 10:20] AenBleidd commented on #2284
Up

[2019-05-23 10:39] abowery opened #3157 "The 'Help' link on the Computing preferences window in the BOINC client opens a page on the website with no text"
**Describe the bug**
The 'Help' link on the Computing preferences window in the BOINC client opens a page on the website with no text

**Steps To Reproduce**
1. Open the BOINC Client (I am using the Linux version)
2. Click on 'Options' -> 'Computing preferences..'
3. Click on the 'Help' button.

**Expected behavior**
Expect to be forwarded to a relevant page on the website. Instead a page on the w

[2019-05-23 10:47] AenBleidd commented on #2346
Closing this in favor of #2348

[2019-05-23 10:47] #2346 closed

[2019-05-23 11:01] RichardHaselgrove commented on #3157
My browser displays the following text from the Wiki log:

On the same day, most of the narrative text was removed, leaving the skeletal 'help' page as basically a series of images of the page that the user was seeking help on.

[2019-05-23 11:30] Rytiss commented on #2574
Maxmind has deprecated GeoIP Legacy. The code is [still available](https://github.com/maxmind/geoip-api-php/blob/master/src/geoip.inc), but the databases [are not](https://support.maxmind.com/geolite-legacy-discontinuation-notice/), so we should upgrade to [GeoLite2](https://dev.maxmind.com/geoip/geoip2/geolite2/).

[2019-05-23 11:43] RichardHaselgrove commented on #2284
It's still an issue, but not quite as originally described. I have a Windows 10 test machine, still running at version 1809 (the anticipated v1903 hasn't been offered to this machine yet).

The problem remains that by default, the icon for BOINC Manager resides in the 'notification area' of the taskbar, starts minimised, and is hidden except when displaying notification of a notice. Most Windows u

[2019-05-23 12:05] AenBleidd commented on #2284
If the icon is present but hidden - is not an issue, it is just behavior by design. And it is mostly about User Experience with Windows infrastructure rather than with BOINC itself. Here's the corresponding discussion: #2954
So this particular ticket is about an issue when icon is not present in tray at all

[2019-05-23 12:21] RichardHaselgrove commented on #2284
At no point does the OP actually say that he has opened the notification area 'show hidden icons' and found the BOINC icon to be either present or missing - unless that's what he meant by 'icon box'.

My feeling is that the original issue could be ascribed to a bug in the 'insider preview' version of windows he was running: the subsequent discussion of build tools is a separate issue.

I think we

[2019-05-23 12:29] AenBleidd commented on #2284
Closing this as WorksForMe.
Please feel free to reopen once this issue will happen again.

[2019-05-23 12:29] #2284 closed

[2019-05-23 17:52] AenBleidd commented on #3157
Redirect should be fixed on help page.
@davidpanderson, could you please handle this?

[2019-05-24 00:30] adamradocz opened #3158 "Docker web-based manager"
I created a [Boinc Web Manager](https://github.com/adamradocz/boinc-manager) in asp.net core. It uses Docker. It's very rudimentary, currently, it can only show information about the client, but it has multiclient support and very useful if you want to monitor multiple clients on your network.

The [Boinc Client Docker](https://github.com/BOINC/boinc-client-docker) is very popular, it's over 1 mil

[2019-05-24 11:19] adamradocz commented on #3086
What's the use case of a browser-based client? It's temporary, and slower then a native client. The only thing I can think of is running boinc temporary on a machine which I don't have permission to install the boinc permanently.

[2019-05-24 11:29] Ferroin commented on #3086
This could also be used to run BOINC applications on platforms that don't natively support them (for example, you could use this to run BOINC on a Windows Phone, or on a Chromebook that doesn't have the new native Linux apps support).

Also, while it would indeed be worse in terms of performance than native code, it may not actually end up being as bad as you might think.  WebAssembly and asm.js a

[2019-05-24 13:09] davidpanderson commented on #3157
fixed

[2019-05-24 13:09] #3157 closed

[2019-05-24 13:30] AenBleidd commented on #3157
@davidpanderson
Maybe it's better to redirect directly to
https://boinc.berkeley.edu/w/?title=Editing_computing_preferences_with_the_BOINC_Manager&redirect=no
rather than
https://boinc.berkeley.edu/w/?title=ManagerComputingPrefs&redirect=no#Advanced_view
?

[2019-05-24 15:40] adamradocz commented on #3086
Windows Phone is dead. Can't Chromebook run Android Boinc?

[2019-05-24 15:57] adamradocz opened #3162 "Add common games to exclusive applications by default."
**Describe the problem**
For out-of-the-box experience, I think the common games should have added to the exclusive app list by default.

For default games, the [Steamcache](https://hub.docker.com/r/steamcache/monolithic) can be the base.

[2019-05-24 16:31] AenBleidd commented on #3162
BOINC is not a game rated app like Discord, Steam, Curse client etc.
Personally I don't like the idea to support this

пт, 24 мая 2019 г. в 18:57, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-05-24 16:34] Ferroin commented on #3086
@adamradocz They were just the first two platforms that came to mind, there are of course other platforms out there that are not widely supported by BOINC applications that could benefit from this.

Alternatively though, if combined with a headless web browser with some extra stuff added in, this could potentially be used as a much more portable alternative to the current VM app functionality in B

[2019-05-24 16:40] RoboticMind commented on #3086
Running on browser would allow iOS to use it which would allow more people to use BOINC. There's also the ease of use to it. If I'm not technical, going to a website is much easier than installing something. It might not seem like a whole lot different but I used to use folding@home over BOINC because it ran in the browser and that was easier for me at the time.

[2019-05-24 17:08] adamradocz commented on #3086
@Ferroin Make sense.
@RoboticMind For iOS, there's a similar app like boinc, called DreamLab. I think, visiting a website every day is tedious, so contributing in such a way, you have to be very conscious about the cause. But I accept your view.

[2019-05-24 17:13] adamradocz commented on #3162
@AenBleidd I think you misunderstood me. I'm not saying Boinc should be on the Steam. I'm saying, a few popular games should be added to the Exclusive Applications in the Boinc by default. So if you want to play with a game, the Boinc suspend the computation automatically.

[2019-05-24 17:17] Ferroin commented on #3162
And I'd tend to agree with @adamradocz on this.  95% of the people who I personally know who use BOINC use the exclusive applications functionality solely to keep it from running when they have a game running, and setting that up is probably one of the single most tedious parts of getting BOINC running comfortably on a new system.

Alternatively, implementing the ability to stop computing when som

[2019-05-24 17:20] AenBleidd commented on #3162
I understand you correctly. And my point is the same: BOINC should not deal
with any game lists. There is a ticket (sorry, it's hard to find it from
phone) to pause computations when fullscreen applications is launched.
Games are 99% of time fullscreen. The same as some video players etc. So
all we need is to identify that fullscreen application is launched and
pause computations. Also there is an

[2019-05-24 17:40] adamradocz commented on #2301
I reread your comments and an option to pause CPU while in full screen is totally valid. :)

[2019-05-24 17:40] adamradocz commented on #3162
I agree with you about the fullscreen issue.

[2019-05-24 17:40] #3162 closed

[2019-05-25 20:14] RoboticMind commented on #2622
I think adding support here might be possible through #3086 since it looks like it runs apps only through the browser

[2019-05-27 13:03] tlgalenson opened #3164 "setiathome_8.00_arm-android-linux-gnu__armv6-neon has text relocations"
Error messages:
<code><core_client_version>7.4.39</core_client_version>
<![CDATA[
<stderr_txt>
emory and prevents security hardening. Please fix.
WARNING: linker: setiathome_8.00_arm-android-linux-gnu__armv6-neon has text relocations. This is wasting memory and prevents security hardening. Please fix.
Unable to resolve function unwind_backtrace_signal_arch
Unable to resolve function acquire_my_map

[2019-05-27 13:44] RichardHaselgrove commented on #3164
You are running a very old version of BOINC for Android. The first thing to check is whether this is a BOINC (platform) problem, or a SETI (application) problem.

If you look at https://github.com/BOINC/boinc/issues/2927#issuecomment-494809707, you'll see how to get the current test builds of BOINC, produced weekly: if you could switch to one of these, it would help to localize the problem.

[2019-05-27 13:51] JacobWKlein opened #3165 "VBoxWrapper: Allow more retries when registration fails"
When VBoxWrapper fails to register a VM, allow more retries so the user may be able to fix the problem. Currently, 26200 will error the task with "Computation error", for a scenario I could have corrected if giving more chances. I deem that a bug.

In my case, I lost 108 days of work because a power outage happened during taking a snapshot. It appeared that, after 2 restarts of the VM, VBoxWrapper

[2019-05-27 13:53] AenBleidd commented on #3164
@tlgalenson, could you please also provide some information about the device you're facing this issue on?
And rather than installing weekly unsigned build please switch to Beta channel on Play Store: https://support.google.com/googleplay/answer/7003180?hl=en-GB and install latest public version.

[2019-05-27 14:21] tlgalenson commented on #3164
I am running a screen damaged Samsung using an app called "HTC the power to give" which was all that I could find to run Android/Boinc/Seti at the time.  Because of said screen I haven't been able to reach the URL listed above.  Sorry.

[2019-05-27 14:21] #3164 closed

[2019-05-27 17:31] AenBleidd commented on #2393
Quote from https://f-droid.org/ru/docs/Inclusion_Policy/:

I think this could be an issue because BOINC Manager actively downloads executable binaries from different sources.

[2019-05-27 22:38] SETIguy commented on #2393
It may, or it may not depending upon what they and their reviewer decide.
If they want to be strict, no web browser would be allowed in f-droid,
because every web browser downloads non-free code from unknown sources.  Or
they may decide to limit projects to only known projects that provide full
source code.  Or they may require that project executables be buildable in
f-droid.  The question is, ho

[2019-05-27 22:41] AenBleidd commented on #2393
@SETIguy, you might be right. But browsers are not allowed to download executables and execute them.
THe question is open, of course.

[2019-05-28 10:16] AenBleidd commented on #2998
According to this [article](https://developer.android.com/distribute/best-practices/develop/64-bit) we already have 64-bit application. However, even for 64-bit devices we are showing projects that support only 32-bit executables. And here could be an issue. I do not know exactly but it could happen that new devices will not run 32-bit executables at all. In this case we should remove support of 3

[2019-05-28 11:40] JamesMolson opened #3166 "mac build + unix makefiles"
Before @CharlieFenton et al say, I know this is not the supported method.

Some notes on the suggested xcode method, it does not build boinc_api_fortran.o and I would prefer to use gcc since our work needs a fortran compiler, and also we can use the same compiler across all platforms. Note - we only build the core libraries and not the client, etc.

Problem 1:
[code]

Fixed by running the api fold

[2019-05-28 14:20] alexander255 commented on #2393
Thanks for getting back to me!

On the topic of executing binaries, based on what I have observed:

Not complying with this section of the policy will not get the app banned if it is also usable without such binaries. From my point of view, this is clearly the case because one could at least use the local BOINC mobile client to test one's own self-hosted BOINC server (which is open source, hence n

[2019-05-28 16:50] CharlieFenton commented on #3166
To the best of my knowledge carbon.h is not an objective C file, but I will confirm when I get home from my trip. If it were, the official build method would not work. The make files have not been updated in years for Mac builds so I would expect many issues trying to use them.

Charlie Fenton
Sent from my iPhone

[2019-05-28 17:25] JamesMolson commented on #3166
It isn't carbon.h itself, it is all the other headers several layers down that are the issue - you end up in CoreGraphics.

It is the "^" in the following:
[code]
as one of many possible examples.

The apple compilers eat this up by default, so the official build method works fine. gcc needs to be told to enable objc (and then it works).

[2019-05-28 22:21] SETIguy commented on #2393
Whether an HTML file is an executable is a semantic difference.  Every HTML
document is code that is parsed and executed by a browser.  The license to
that code is rarely a license that is considered free.  Unless otherwise
specified, (in this country at least) that code cannot be legally copied
and distributed by anyone but the copyright holder, which means it's not
free software. I'm sure that t

[2019-05-28 23:00] AenBleidd commented on #2393
I'm not fully agree with you. In the case of browser you're really telling the browser to download some particular file and browser will not execute this file. I can't say that HTML is not executable file because browser really parser it and executes but in a different way when we are generally speaking about executables. But in the case of BOINC, from the prospective of user, Manager calculates s

[2019-05-29 01:03] TPS commented on #2393
@IzzySoft We'd appreciate if you could flag  who's officially best able to clarify whether this project would be accepted in F-Droid, given the above discussion re: the downloaded binary executables that are the whole _point_.  This decision could drive whether it'd be worth making this otherwise F-Droid-ready.…

[2019-05-29 09:26] CharlieFenton commented on #3166
From your example for problem 3, it looks like the issue is not that it is an objective-C file, but that the code uses an Apple-Clang specific extension to the C language which Apple calls _blocks_ as described in [this article](https://en.wikipedia.org/wiki/Blocks_(C_language_extension)). Given that this construct is an extension to Apple-Clang and that it is applicable to C, C++ and Objective-C

[2019-05-29 09:51] lfield commented on #3166
Renaming files in git will preserve the history.

[2019-05-29 18:58] #2698 closed

[2019-05-29 21:23] IzzySoft commented on #2393
@TPS could you give a short summary on what has to be answered? Apologies, but I lack the time to follow all the posts in any thread I get pinged from :wink: Are binaries downloaded during the build process (and needed to build the app), then the answer is "not acceptable" (as F-Droid only builds from source). If after install, it's a "depends on" – any web browser does that when asked to by the u

[2019-05-30 04:37] TPS commented on #2393
Based on what you've said, @IzzySoft, we'd need clarification on "it depends":

BOINC is a distributed computing platform which lets users use their idle CPU power on a variety of platforms (this issue is just re: the Android build) to do various computation-heavy projects, such as "investigate diseases, study global warming, discover pulsars, and do many other types of scientific research."

To d

[2019-05-30 11:30] CharlieFenton commented on #3166
Here is another possible approach I would be comfortable with. The _carbon.h_ header brings in many of the commonly needed standard headers. You could probably remove the `#include <Carbon/Carbon.h>` and instead add just those lower-level headers that are actually needed in each of these _*.cpp_ files. If you decide to do this, I suggest adding a comment saying something like this:

If you want to

[2019-05-30 13:03] adamradocz commented on #3086
It looks like [WebAssemly](https://webassembly.org/) is the future. Maybe worth considering converting the client to Wasm, rather than JavaScript. It will be much faster, especially in the future, when more the WebAssemly gets more optimization.
[A Real-World WebAssembly Benchmark](https://news.ycombinator.com/item?id=17463898)

[2019-05-30 14:36] IzzySoft commented on #2393
@TPS well, by that description: Are apps like Yalp, Aurora Store, A-Droid allowed? From the description you gave, this is the *purpose* of the app, and a user installing it is aware of this (or should be, unless just installing "something that has a nice name :rofl:) plus *controls* it. I see no issues with that.

It would be a completely different thing if the app downloads "some binaries" in bac

[2019-05-30 14:41] Rudloff commented on #2393
I think the general rule is that these apps are allowed (with NonFreeAddons?) only if downloads are triggered by user action and users are informed about what they are downloading.

[2019-05-30 15:48] IzzySoft commented on #2393
Thanks for confirming, Pierre! That's what I meant to say. And no, from the description it's not (necessarily) NonFreeAddons – or each and every web browser would need that flag as well. The downloads in this case could be considered, well, downloads (or materials, or documents, test cases…) if I got the idea correctly.

[2019-05-30 15:57] Rudloff commented on #2393
Well, it is not simply downloaded assets here, the downloaded binaries are installed and executed. So I would consider them addons.

[2019-05-30 16:12] AenBleidd commented on #1804
FYI
https://www.theverge.com/2019/5/30/18645609/microsofts-universal-windows-app-dead-microsoft-store-windows-store

[2019-05-30 17:33] IzzySoft commented on #2393
Ah, then I got that part wrong – and of course agree!

[2019-05-30 17:34] TPS commented on #2393
@AenBleidd, @SETIguy, @alexander255, &c:  Is this sufficient for y'all re: F-Droid's binary-downloading policy (or any other questions of the sort)?  Now's an _awesome_ time to ask!

[2019-05-30 18:27] #3046 closed

[2019-05-30 18:30] adamradocz commented on #3046
@TheAspens Does it mean, we can expect a GPU-based project on WCG soon? :)

[2019-05-30 18:55] TheAspens commented on #3046
I wish - our next project was written actually written in Fortran (ack!)  See https://www.worldcommunitygrid.org/forums/wcg/viewthread_thread,41609

I actually needed it for testing a pull request a month or two ago which is why I opened the issue.

[2019-05-30 22:31] ststeiger commented on #1875
I haven't seen the BOINC client, but may I suggest:

- You don't need a native GUI program
- You can write the client as web-application in C#
- .NET Core includes its own webserver
- you can publish a .NET-Core-program as self-contained application, so you don't need the .NET Framework installed
- so open a free port > 1000 on the client machine (requires no admin/root rights)
- open a web-browse

[2019-05-31 22:49] skelband opened #3170 "BOINC notification area icon is corrupted"
When starting boinc manager on Linux Mint 18.3, 19.0 or 19.1 with MATE desktop manager the notification icon is corrupted.

**Steps To Reproduce**
1.  Open boinc-manager
2.  Enable notification area icon

**Expected behavior**
The icon should fit the notification area space.
Instead, the icon seems to be tiled within the area.
Screen capture included

**System Information (please complete the foll

[2019-06-01 00:07] AenBleidd commented on #3170
@skelband, 7.9.3 is a very old version, the latest one is 7.14.2. Could you please update ( https://launchpad.net/ubuntu/+source/boinc ) and verify whether this issue still reproducible for you?

[2019-06-01 01:29] #2118 closed

[2019-06-01 08:22] RichardHaselgrove commented on #3170
@AenBleidd - refer to #3052 before spending any time on this one.

[2019-06-01 10:24] #1460 closed

[2019-06-02 00:20] skelband commented on #3170
Will do and thanks. Might be a little while as I;m just going on holiday but I will check!

[2019-06-03 15:26] JamesMolson opened #3172 "Android version parsing"
https://github.com/BOINC/boinc/blob/master/sched/plan_class_spec.cpp#L63-L79

The above code looks for:
(Android x.y.z
or
(Android x.y

but not
(Android x

My phone reports itself as (Android 9), so the function just returns 0.
Something like
[code]
should be added before the return 0;

[2019-06-03 15:40] AenBleidd commented on #3172
@JamesMolson, is it possible for you to provide a patch for this? It would be very great. If not - please let me know, I could find some time to spend fixing this issue.

[2019-06-03 15:45] TheAspens commented on #3172
Details about how to make a contribution are available at: https://github.com/BOINC/boinc-policy#development-processes

[2019-06-03 18:20] adamradocz opened #3173 "Add ability to restart unmanageable VM jobs."
**Describe the problem**
When the VM has not enough memory to run, the BOINC will stop it, but not restarting it for a very long time, or until I restart the BOINC.

**Describe the solution you'd like**
I want a button, which restarts the VM job, so when I manually release some memory, it can run as soon as possible.

[2019-06-04 07:14] nilsjh commented on #3172
Thanks to @JamesMolson for spotting this!  This affects the server code and scheduler, so we should add a label for the scheduler. @lfield Please review.

[2019-06-04 12:41] JamesMolson commented on #1961
I have a bit of time to look into fixing things again. One issue we found was that our AVX FreeBSD executables were not being sent out.

https://github.com/BOINC/boinc/blob/master/client/hostinfo_unix.cpp#L715-L762

It seems the code here checks for just mmx, 3dnow, sse1-3, and discards everything else.

With respect to the earlier solaris comment, it does not build for me at all either; again the

[2019-06-04 12:44] JamesMolson commented on #3166
@CharlieFenton you are correct, I just jumped to come conclusions after minimal reading :)

For some reason it compiled with gcc as objc, but yes, it is not objc. I'll just abandon building with gcc here.

Building with clang, everything works with some minor makefile changes. I'll make a PR soon.

[2019-06-04 13:40] adamradocz opened #3176 "Add option to not stop non-CPU intensive (NCI) tasks."
**Describe the problem**
I have non-CPU intensive tasks alongside CPU intensive tasks. I use the snooze option quite regularly and it would be nice if the NCI tasks are won't stop.

**Describe the solution you'd like**
I'd like an option inside the "Computing" preferences to not stop NCI tasks, even if BOINC is suspended.

[2019-06-04 13:43] AenBleidd commented on #3176
I believe 'Manual snooze' means 'Snooze anything including NCI' and this is correct behavior.
Maybe it will be better to add 'Snooze excluding NCI' option but with better caption?

[2019-06-04 13:47] adamradocz commented on #3176
Honestly, we can call it whatever you want, if it makes my life easier. :)
What about a scenario, when the boinc snooze because an exclusive app is running?

[2019-06-04 13:59] adamradocz commented on #3176
Yes, but still legit.

[2019-06-04 14:33] RichardHaselgrove commented on #3176
If anybody feels minded to work this issue up into a full PR, please also add the final missing option "snooze/suspend CPUs, but leave GPUs running".

Yes, I'm aware of the formal statement that every GPU task requires CPU support, but let's be real-world about this. Anybody who's ever run a GPU app under BOINC knows that the actual CPU demand varies massively from project to project, from applica

[2019-06-04 16:41] adamradocz opened #3177 "[Web] Sandbox implementation HTTP ERROR 500"
**Describe the bug**
The[ Sandbox implementation](https://boinc.berkeley.edu/sandbox_design.php) page gives HTTP ERROR 500. The page can be seen at https://boinc.berkeley.edu/trac/wiki/SoftwareDevelopment#Client:packaging

[2019-06-04 16:44] adamradocz opened #3178 "[Web] Development Workflow shows error 404"
**Describe the bug**
The https://github.com/BOINC/boinc-policy/blob/master/Governance_Documents/Governance.md#41-technical-contributions page shows a link to [Development Workflow](https://github.com/BOINC/boinc-policy/blob/master/Governance_Documents/Development_Workflow.md), which shows error 404.

[2019-06-04 19:01] davidpanderson commented on #3177
Thanks; fixed.

[2019-06-04 19:01] #3177 closed

[2019-06-04 20:27] TheAspens commented on #3178
fixed

[2019-06-04 20:27] #3178 closed

[2019-06-06 14:33] Germano0 commented on #1187
The following comment illustrates how I was trying to resolve this problem, and the conclusion I arrived to.

Unfortunately we cannot use systemd-logind to detect user idle time because it relies on desktop environments to pass this information, but none does it. So I was starting to implement it for for GNOME and KDE Plasma. For the former, there is a DBus solution, for the latter instead, KIdleT

[2019-06-06 15:05] adamradocz opened #3180 "Add AVX-512 detection"
**Describe the problem**
The Boinc Client currently detects AVX and AVX2 instruction capabilities, but not the [AVX-512](https://www.intel.com/content/www/us/en/architecture-and-technology/avx-512-overview.html).
Intel says about this new instruction set:

The first CPU with AVX-512 instruction was released in [2015](https://en.wikipedia.org/wiki/Advanced_Vector_Extensions).

[2019-06-06 21:03] AenBleidd commented on #3173
So you're talking about manual queue management that is not implemented in client and I'm not sure it should be.
@davidpanderson, @TheAspens, what do you think?

[2019-06-06 21:44] davidpanderson commented on #3173
The goal is for the client to do the "right thing" automatically.
What is the right thing in this case?
I don't understand the scenario.

[2019-06-07 08:41] adamradocz commented on #3173
How long the does it take the client to restart an unmanageable VM job, if there's enough memory again?
When I release enough memory for the VM job, I want to run it as soon as possible. My current scenario looks like this:

- VM job stops because there's not enough memory.
- I finish the memory intensive task.
- I close and restart the boinc to reinitialize the state and run the VM job again.

[2019-06-07 12:25] LisaMacintosh commented on #1376
Has anyone looked into how MobileMiner works?

It’s an IOS app that’s able to CPU mine crypto; they circumvent the AppStore rules by side loading if that is an issue you guys are running into.

Maybe this will give you an idea hopefully.

https://9to5mac.com/2017/12/21/hands-on-mobileminer-how-to-mine-cryptocurrency-on-an-iphone-video/

[2019-06-07 12:32] AenBleidd commented on #1376
@LisaMacintosh, thank you for the hint and link. Unfortunately there are much more limitations and we don't want to break AppStore rules like MobileMiner do (e.g. with background execution timer). Currently I like [DreamLab](https://www.vodafone.com.au/foundation/dreamlab) way more (it is not perfect either but better than nothing and fully legal)

[2019-06-07 13:48] Germano0 commented on #3166
You may want to give a look to [this code](https://github.com/BOINC/boinc/files/3262003/gnome_idle.txt) I have written, and how I let GCC compile the C code I included in C++ BOINC client code

[2019-06-07 16:26] BryanQuigley commented on #1187
Thanks for running these down!  I actually just asked systemd about doing a more kidletime like implementation in https://github.com/systemd/systemd/issues/12668  (although I didn't know what I was asking for was like kidletime until reading the thread you started)

If we can't get it in systemd proper (or somewhere else universal) I think we do need another simple utility unfortunately.  It defin

[2019-06-07 20:36] davidpanderson commented on #3173
BTW, the BOINC client doesn't monitor the memory usage of non-BOINC processes.  I can't see why running a memory-intensive job would affect BOINC's job scheduling.  What does the event log say at the point where the VM job is stopped?

[2019-06-08 18:35] Germano0 commented on #1187
@BryanQuigley you may want to attach your systemd ticket URL with a comment, to the systemd mailing list thread I created about user idle time

[2019-06-09 08:13] adamradocz commented on #3173
[code]

When I restarted the BOINC, it was computing again.

[2019-06-10 01:22] davidpanderson commented on #3173
The "VM job unmanageable" means that a vboxwrapper attempt to suspend, resume, or make a snapshot of the VM failed.  In this case vboxwrapper does a "temporary exit" with a delay of 1 day.  This delay is not recorded in the state file, so if the client is restarted the job will run again.
Notes:
- 1 day seems excessive
- the message generated by vboxwrapper is inadequate - it doesn't say what fail

[2019-06-10 05:21] adamradocz commented on #3173
`vboxwrapper_2018061901_windows_x86_64` and `vboxwrapper_2019052102_windows_x86_64` can be found in the BOINC folder.

[2019-06-10 05:45] davidpanderson commented on #3173
Those are probably the COM version.
In any case, I'll change vboxwrapper to print better error messages,
and to restart in 5 minutes instead of 1 day.

[2019-06-10 06:18] adamradocz commented on #3173
Thanks.

[2019-06-12 10:34] RichardHaselgrove opened #3182 "Client: generalize proxy management in cc_config.xml"
**Describe the problem**
Forwarding a wish list request from https://setiathome.berkeley.edu/forum_thread.php?id=84300

**Describe the solution you'd like**

"don't use a proxy for *.name.HLD" would work for multiple servers, and automatically exclude any additional servers as well.

**Additional context**
See source thread.

[2019-06-12 21:45] davidpanderson commented on #3182
One way to do this is to allow regular expressions in the <no_proxy> list.

[2019-06-14 14:58] Uplinger commented on #1951
Closing because this has a unit test on it and appears to be fixed.

[2019-06-14 14:58] #1951 closed

[2019-06-16 21:50] RoboticMind commented on #1846
Any update on this? One of the  \*newer\* features that allow for entering any account manager on Android is not on the current play store version. This would allow people to use large managers used for earning Gridcoin like [grcpool.com](https://grcpool.com) and [gridcoinpool.ru](https://gridcoinpool.ru) that are not on the list. I've seen people decide not to use the app for this reason.

[2019-06-16 21:50] adamradocz opened #3184 "VirtualBox Jobs crashing if Hyper-V was installed"
**Describe the bug**
I use VirtualBox to run VM jobs and everything was working fine. I had to install Hyper-V to do some job, then I uninstalled it. After the uninstall the VM jobs are crashing.

**Steps To Reproduce**
1. Install VirtualBox and run a Job.
2. Install Hyper-V.
3. Remove Hyper-V.
4. Run VirtualBox jobs again.

**System Information (please complete the following information):**
 - OS

[2019-06-16 22:18] AenBleidd commented on #1846
@RoboticMind, new release for Android will be released simultaneously with the Desktop version for Windows, Mac and linux.

[2019-06-16 22:19] RoboticMind commented on #1846
Any estimate on when that'll be?

[2019-06-16 22:25] AenBleidd commented on #3184
@adamradocz,
Just curious, did you restart your machine after Hyper-V uninstalled? Could you please also check that Hyper-V was successfully uninstalled? Could you also please run VirtualBox Manager and run some machine (non-boinc) manually> Does it run or crash with error? Thanks

[2019-06-16 22:26] AenBleidd commented on #1846
I have no such information, @davidpanderson or @TheAspens could know more

[2019-06-16 22:56] adamradocz commented on #3184
Yes, I restarted the PC, even reinstalled the virtual box. Hyper-v successfully uninstalled.
I'll try to run other vm tomorrow.

[2019-06-17 06:05] adamradocz commented on #3184
Other VM's are working.

[2019-06-17 07:01] davidpanderson commented on #1846
Does anyone have build (.apk file) of the current client?
If so please send it to me.

[2019-06-17 07:05] AenBleidd commented on #1846
@davidpanderson, is there a release branch for 7.16.0? I then could build
apk for you.

пн, 17 июня 2019 г. в 10:01, David Anderson <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-06-17 13:27] nilsjh commented on #3172
Also 8.x Android versions are affected and the server does not correctly reject .Android 8.1.0 clients even if the max client version is set to 79999.

  <name>aarch64-android-linux-gnu</name>
  <min_android_version>40100</min_android_version>
  <max_android_version>79999</max_android_version>

[2019-06-17 21:34] AenBleidd commented on #3184
@adamradocz, could you please attach /Logs/VBox.log file from any of the VM task? Actually BOINC itself doesn't verify whether CPU VM extensions enabled or not (I'm not even sure whether it could be done on user level (not driver level like it done in VIrtualBox), it just reads the log generated by VirtualBox for a particular VM and parses these data to find some error markers.

[2019-06-18 01:38] davidpanderson opened #3185 "develop new GUI using Electron"
Electron (https://electronjs.org/) is a possible framework for developing a new GUI.
It's cross-platform, uses HTML for layout and CSS for styling.
It seems to be widely used and well-supported.

If anyone is interested in working on this, please let me know.

BTW, the BOINC client exposes GUI RPCs via HTTP;
I've verified that these work with the HTTP and XML features built into Javascript.

[2019-06-18 07:36] lfield commented on #3185
This is similar to issues #2112, #2113 and PR #2275. Even though the BOINC client exposes GUI RPCs via HTTP, it is not possible to use this directly from a browser. As far as I understand Electron uses Chromium so will have the same issue. To make this work the client needs to provide a Web socket. There are some security concerns related to this that have been discussed in PR #2275. I believe tha

[2019-06-18 07:41] adamradocz commented on #3184
Where can I find the `VBox.log`?

[2019-06-18 07:49] adamradocz commented on #3185
I'm working on a complete rewrite of the [Boinc Manager](https://github.com/adamradocz/boinc-manager). It uses a shared code (.NET Standard) and some platform-specific code. It will work on:
- iOS, Android (Xamarin)
- Windows (.NET Core WPF)
- Web (ASP.NET Core).

[Electron.NET](https://github.com/ElectronNET/Electron.NET) could be a good candidate for Linux and Mac.

[2019-06-18 08:00] davidpanderson commented on #3185
Electron doesn't have the RPC security issue.

[2019-06-18 08:12] lfield commented on #3185
Electron might not but to make it communicate with the BOINC client you need to add a WebSocket. I remember us discussing this during the hackathon at the workshop in Paris. As soon as you do this you open the client to JS drive by attacks. Hence we have to be quite sure regarding the security considerations of this approach. It is one of the reasons why PR  #2275 was closed rather than merged.

[2019-06-18 08:30] davidpanderson commented on #3185
I have an Electron app that communicates with the BOINC client over TCP, just like the WxWidgets GUI does.  Take my word for it.

[2019-06-18 08:36] lfield commented on #3185
That's interesting. I wonder how it works. Do you have any sample code to try?

[2019-06-18 08:47] UweBeckert commented on #3185
Electron creates a stand alone app. The chromium inside electron is a browser just for rendering html/css and running javascript. It doesn't has the "same origin policy" and other security feature which a normal browser has. I wrote already electron applications which communicate via http to different server or which run soap operations and also parses xml.

[2019-06-19 08:40] Siltaar opened #3186 "Alternative CPU settings"
During the day, I use my machine and need to spare some CPU speed for my usage.
But at night, I can fully load the CPU.

**I would like to be able to switch between two CPU setting profiles automatically**, based on the time of day : few CPU for BOINC during office hours and full access at night.

***

Why would it be needed while BOINC is running with a massive nice setting under GNU+Linux ? It's

[2019-06-19 08:40] RichardHaselgrove opened #3187 "Manager Simple View: can't access options when disconnected"
**Describe the bug**
See #79 and #1374 - 'Optionally not start the daemon'

If the Manager is disconnected from the client - say because this option has been selected - the Simple View of the Manager doesn't allow access to the Options dialog to correct the situation. Advanced view allows options to be accessed.

**Steps To Reproduce**
1. Deselect "Run the client?" in options
2. Switch to Simple V

[2019-06-19 08:42] RichardHaselgrove commented on #3186
See #41 - this is probably the most frequently requested update to the BOINC ecosystem.

[2019-06-19 08:53] AenBleidd commented on #3187
What options supposed to be changed if we don't connected to the client so we don't know what settings we change?

[2019-06-19 09:00] RichardHaselgrove commented on #3187
Well, "Run the client?". That's a setting which is saved directly into the Windows Registry by the Manager, so doesn't need any client activity. Simple View also doesn't have a 'Select computer...' on the file menu, which can otherwise be used to start the local client if autorun hasn't done it.

See the 'Catch 22' described at https://setiathome.berkeley.edu/forum_thread.php?id=84316&postid=19987

[2019-06-19 09:01] AenBleidd commented on #3187
Fair enough. Will handle it when come back from vacation

ср, 19 июня 2019 г. в 11:00, RichardHaselgrove <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-06-19 09:06] RichardHaselgrove commented on #3187
Thanks. Now we know about it, we can advise people to switch to advanced view and sort it there. I don't think there's any urgency to do this for v7.16

[2019-06-20 00:36] davidpanderson commented on #3186
See also #2993

[2019-06-20 15:26] TheAspens opened #3188 "Agreeing to Terms of Use when Logging In without checking "Stay Logged In" Generates Error"
**Describe the bug**
If
1. A user has created an account
1. The website adds a terms of use and enables the flag "<enable_login_mustagree_termsofuse>1</enable_login_mustagree_termsofuse>" in the project config.xml file
1. The user tries to login but does not set the "Stay Logged In" checkbox

then the terms of use page throws an error.

**Expected behavior**
The user should be able to accept the t

[2019-06-20 18:25] #3173 closed

[2019-06-20 20:43] davidpanderson opened #3190 "Enable GUI RPC via HTTP"
Goal: expose GUI RPCs via HTTP, thereby making it easier to implement GUIs in Javascript (for example, in Electron).

The client already has code for parsing HTTP request headers and sending reply headers.  This works for unauthenticated operations like get_state.  It doesn't work for authenticated operations because the authentication scheme (auth1/auth2) assumes that a sequence of RPCs arrive on

[2019-06-20 22:16] TheAspens commented on #3190
I would suggest that we look at doing this in a more standard approach  (especially since the first item on the Electron security checklist is to only use https and not http  https://electronjs.org/docs/tutorial/security#1-only-load-secure-content).

I would suggest that we look to secure the GUI RPCs using HTTPS rather than HTTP.  One way this could be done is as follows:

- The core client will

[2019-06-20 22:25] davidpanderson commented on #3190
That's probably better long-term.
My short-term proposal is a minor change and is - I think - equivalent
to the current non-HTTP protocol from a security point of view - is that correct?

[2019-06-21 11:02] adamradocz commented on #3190
You can use the [Node net API](https://nodejs.org/dist/latest-v6.x/docs/api/net.html )in Electron to implement a TCP client.

[2019-06-21 14:42] TheAspens commented on #3190
Currently the non-HTTP protocol is a custom made, non-standard interface.  This has prevented much development against it.  By changing it to become essentially a REST API server you are now going to see significantly greater development against it.  It would be best to move fully to supporting standard features expected of a REST server (like using https and using standard authentication schemes)

[2019-06-21 15:22] Ferroin commented on #3190
@davidpanderson While the security benefits mentioned @TheAspens are big, I'd argue that there's a much bigger advantage to providing a standard REST-style API (even if it doesn't have HTTPS support natively (once you've got HTTP, HTTPS is easy to add externally if you need it)) in that it suddenly makes development against the API exponentially easier for pretty much everyone.  The existing XML i

[2019-06-21 23:42] davidpanderson commented on #3190
I wrote a proof-of-concept Electron GUI for BOINC:
https://github.com/BOINC/boinc/tree/dpa_gui_rpc_http/samples/electron_gui
See the comments in windows.js to run it.
You'll need to use a client built from that branch.
It does GUI RPCs using JS's XMLHttpRequest class.

The non-HTTP API wasn't that big a barrier; people developed bindings for several languages.
But for Javascript it makes sense to

[2019-06-22 15:23] moisesmcardona commented on #2470
Just had this very same issue with an Intel Atom E3940.

My solution was to download this: https://indy.fulgan.com/SSL/openssl-1.0.2s-x64_86-win64.zip

Then I replaced the BOINC libeay32.dll with the one in the downloaded zip. It's working now.

[2019-06-24 13:10] Rytiss opened #3193 "Client never asks for work when there are stalled downloads"
**Describe the bug**
I created some work using a temporary download server. The download server was then terminated, but some hosts were still downloading. They are now unable to download, and they no longer ask for work: "Not requesting tasks: some download is stalled".

The downloads never terminate as they point to a non-existent DNS name ("can't resolve hostname") - download termination is don

[2019-06-24 13:22] RichardHaselgrove commented on #3193
The 'stalled download' block on requesting new tasks only applies to the project with the download problem: work for other projects should be fetched normally.

So this is untidy, but not so much of a problem as the wording may make it sound.

[2019-06-24 13:34] Rytiss commented on #3193
It is a huge problem for the project, as it can essentially drop all of its hosts (this is actually what has happened in my case).

[2019-06-25 12:13] AenBleidd opened #3194 "Move installer from InstallShield to NSIS"
Currently BOINC uses InstallShield to create a installer. It is not free and rather expensive.
I suggest to move away from it and use NSIS instead ( https://nsis.sourceforge.io/Main_Page ).
It is free and easy to use.
I played a little bit with it and found it very easy. I can create test installer next week or so.
If we consider to use it we should also rewrite boinccas dll that is built with VS2

[2019-06-26 05:29] #3188 closed

[2019-06-27 14:11] AenBleidd commented on #3172
Removing label `C: Android - Manager` because it is not related to the Manager component of Android client.

[2019-06-27 14:14] AenBleidd commented on #1324
This could be done via adding Android specific badges. I'm thinking about adding something like this that is done for Apple Activity application:
![image](https://user-images.githubusercontent.com/3234209/60273511-f28db880-98fe-11e9-99c0-c854e0d481a5.png)

[2019-06-28 00:31] AenBleidd commented on #3035
Fixed by bf9b095bbbf91bf583530a5e6452b9e1f44fd36b

[2019-06-28 00:31] #3035 closed

[2019-06-28 03:20] kylinblue opened #3199 "BOINC.exe quits quietly with no error code"
BOINC does not run on a fresh new install on Win 10 1809. Attempting to run BOINC.exe with cmd to get error message, I've got none.
[code]

[2019-06-28 03:38] davidpanderson commented on #3199
It must be crashing.  Is there a file "stderrdae.txt"?

[2019-06-28 03:39] kylinblue commented on #3199
stderrdae is absolutely empty, it's there, just empty

[2019-06-28 03:44] kylinblue commented on #3199
Also here's a cue, I don't know how to troubleshoot an executable but the last second I saw the boinc.exe in task manager, it was reduced to 17kb before it disappeared,

[2019-06-28 04:00] davidpanderson opened #3200 "Fix duplicate GPU problem"
The GPU detection logic sometimes decides that 1 GPU is actually 2.  Apparently this can happen because of buggy drivers, or because there are multiple OpenCL "platforms" (e.g. POCL is present).

Note: gpu_opencl.cpp contains the comment
//TODO: Must we check if multiple platforms found the same GPU and merge the records?

[2019-06-28 04:09] davidpanderson commented on #3193
There is a time-out on file transfers; currently it's 90 days.
How about if we change this to 5 days?

[2019-06-28 07:01] RichardHaselgrove commented on #3193
No, please don't. The original timeout was 14 days, and it was increased because CPDN had some valuable data out in the field when one of their upload servers failed. It took longer than 14 days to source, specify, fund, order, take delivery, install, configure, and deploy a new server.

I think the takeaway message is 'never use a temporary url on a live project'. But since it's happened:

Can th

[2019-06-28 07:10] davidpanderson commented on #3193
BOINC currently has no mechanism by which a project can abort/cancel jobs on the client.  Maybe it should.

[2019-06-28 07:18] RichardHaselgrove commented on #3193
Are you sure? I'm sure I've seen jobs cancelled remotely over the years. Why do we have

`#define EXIT_ABORTED_BY_PROJECT     202`

[2019-06-28 07:26] Rytiss commented on #3193
Tasks get aborted, downloads are not.

[2019-06-28 07:30] RichardHaselgrove commented on #3193
I'll try and trace back that trac # 366 fix (edited into previous post) over the weekend. No time this morning - I've got a hospital appointment.

[2019-06-28 11:52] Strykar commented on #1555
I'm running BOINC client version `7.14.2 for x86_64-pc-linux-gnu` on Arch Linux `5.1.15-x86_64` on a remote virtual machine with no GPU.

I connect to the remote boinc-client (FQDN) via BOINC Manager installed on my local desktop and things are chugging along fine. When I select an active task in BOINC Manager, the Show Graphics button remains grayed out.

[2019-06-28 18:40] davidpanderson commented on #1555
graphics only work when the apps are running on the same machine as the manager

[2019-06-29 07:09] RichardHaselgrove commented on #3193
The updated references for this problem (historical version) in github are issue #366 and commit 4a8b4fae2c7ab07baad0cda490fea60ee2d0542d

David's checkin note 'may fix' sounds uncertain - perhaps @Rytiss could investigate. Does garbage-collect run continuously, or only at client restart?

[2019-06-29 11:22] Rytiss commented on #3193
My file is marked as sticky:

[code]

Because it is sticky, and status=0, it is considered to have ref_cnt >= 1 (https://github.com/BOINC/boinc/blob/master/client/client_state.cpp#L1738). Since it is considered referenced, persistent file transfer is not deleted: https://github.com/BOINC/boinc/blob/master/client/client_state.cpp#L1748

I do not see the 90 day timeout in the code, but I might be mi

[2019-06-29 15:39] RichardHaselgrove commented on #3193
The change to 90 days was made in commit 7bca6c021badf196fd67f15f5ebb7e758db6c4e8 (amongst other things - see final file reference). As I said, the context was result uploads, but at the time (BOINC v6.6), I don't think upload and download transfers were distinguished.

[2019-06-29 18:23] smoe commented on #2728
I kept my head spinning about it. Some wrapping bash script is not a problem at all. Just,, are the naming constrains for the -dir ? Does this require one directory per machine, then it would be $HOME/boinc_$(hostname -s)? Is it one directory per job started, then the job ID becomes part of the path. Preferably there would be a single directory shared with all boinc jobs that can read+write access

[2019-06-29 23:47] AenBleidd commented on #2954
@davidpanderson, could you please add necessary info to the online documentation and close this issue?

[2019-06-30 05:42] Rytiss commented on #3193
Thanks, that's helpful - the downloads should indeed time out in 90 days: https://github.com/BOINC/boinc/blob/f14d96d2be2e5a290177f7b5391b0802fbd3756c/client/pers_file_xfer.cpp#L340

This does not have a distinction between downloads and uploads. I do recognize Richard's case of project servers not being able to accept uploads; however, downloads should be totally under project's control, and work

[2019-06-30 10:23] adamradocz commented on #1376
I'm working on porting the Manager to iOS (besides a new Android version based on Xamarin).
@AenBleidd could you create a build script (or whatever) which builds the Client on iOS?

[2019-06-30 10:28] AenBleidd commented on #1376
Do you have some branch with iOS client? I could try to do this using some
CI provider

вс, 30 июня 2019 г. в 13:23, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-06-30 10:47] CharlieFenton commented on #1376
Be sure to review [Apple's App Store review guidelines](https://developer.apple.com/app-store/review/guidelines/) and [this overview of the approval process](https://developer.apple.com/app-store/review/) before you put a lot of effort into this so you don't waste too much time. I am quite certain that you must be a member of the Apple Developer program to submit an app to the store.

[2019-06-30 13:53] RichardHaselgrove commented on #3193
I agree with your first two points: the grace period to complete downloads could be even shorter, because we know the user had a working internet connection when work was requested and allocated. If the project can't keep all their servers working at the same time, they probably shouldn't be allocating work to volunteers in the first place.

I think the third point is more problematic. That would

[2019-06-30 15:02] #3187 closed

[2019-06-30 17:12] adamradocz commented on #1376
@AenBleidd I'm working on the Manager only, not the Client. That's why I need a built Client.

[2019-06-30 17:15] AenBleidd commented on #1376
@adamradocz, asked you some additional questions in skype

[2019-07-01 05:44] Rytiss commented on #3193
The project is also in control for the problem you describe. If they know they will have resources for uploads, they can continue issuing work; otherwise they can stop and wait for enough uploads to happen. There's already intervention needed within the project in case of outages, e.g. stop resending work, extend deadlines on the server side, etc.

[2019-07-01 07:44] bema-aei commented on #3200
As far as I understand, a "buggy driver" (as reported on [boinc_alpha mailing list](https://groups.google.com/a/ssl.berkeley.edu/forum/#!topic/boinc_alpha/J35lfoHRIy4)) also creates a new OpenCL platform with the same device(s), so both cases are actually the same issue.

Note that (so far) this problem is limited to OpenCL on NVidia.

Einstein@Home asked The Chronos Group to add a property to the

[2019-07-01 10:29] RichardHaselgrove commented on #3200
@bema-aei: I'm sorry, but I don't think that's a complete analysis of the problems we're seeing. Over the first 10 years of GPU computing, we've become accustomed to referring to "the driver" as a single entity, most commonly provided by the hardware manufacturer. But in reality, the downloaded driver file is a multi-component delivery system, and as with all software installation packages, it is

[2019-07-01 11:35] lfield commented on #2728
There are no naming constraints for -dir, which is set to be the current directly. Usually jobs are run in a temporary scratch space. Hence the directory is not shared but is transient and only exists for the duration of the job.

[2019-07-01 12:22] smoe commented on #2728
Ah - ok - so let us assume /tmp/boinc-scratch for the boinc directory.
The wrapping pilot script is executed on the target machine and would
[code]
That directory is not removed upon completion, I presume. So a later job can reuse that.

[2019-07-01 12:38] lfield commented on #2728
I would clean up the directory afterwards and make it unique with mktemp -d . Otherwise if you have a multi-core machine you can't run parallel jobs. If the batch system already runs the job in a temporary workspace then you just make the directory there.

[2019-07-01 13:32] AenBleidd commented on #2120
So what is the decision about this ticket? Should smth be done or it could just be closed?

[2019-07-01 13:47] AenBleidd commented on #3184
@adamradocz, sorry I had your question completely lost.
I have no running VM tasks right now but I suppose this log should be in slot directory.

[2019-07-01 13:53] #2358 closed

[2019-07-01 14:08] smoe opened #3203 "several -Wformat-truncation warnings"
I just compiled master with default g++ of conda which brings
[code]

[2019-07-01 14:26] TheAspens commented on #2120
From a project operators perspective, we get the signal 11 message on the server side and so we are able to conduct analysis and study what clients are generating the signal.  So we have what we need to investigate.  I would say that this can be closed.

[2019-07-01 14:30] #2120 closed

[2019-07-01 16:50] #1437 closed

[2019-07-01 16:52] adamradocz commented on #3184
Nothing.

[2019-07-01 20:44] TheAspens commented on #2779
I would like to add that we get user reports of this issue periodically.

[2019-07-01 21:11] RoboticMind opened #3204 "TODO_OLD and TODO - Safe to delete?"
Starting with the file TODO_OLD, it looks like it is really outdated, being last updated in 2002. The TODO file looks like it hasn't been updated since 2007. I assume that since those files are that old, they aren't really needed to be referenced from. Even if for some reason we might need it later, we'll still have the files in the git history.

[2019-07-02 04:36] davidpanderson commented on #2728
You need to use --fetch_minimal_work as well as --exit_when_idle;
otherwise it will keep fetching jobs.

On a machine with multiple cores and/or GPUs,
BOINC will (with these options) request enough work to use all device
instances.
With N cores, this could be one N-thread job, or N 1-thread jobs.
It waits until all these jobs have finished, then exits.

On Mon, Jul 1, 2019 at 5:38 AM lfield <notif

[2019-07-02 07:50] adamradocz commented on #3204
I wanted to clean up the repository too, without any success :)

[2019-07-02 07:55] adamradocz commented on #2779
There was an attempt to use virtual accounts in PR #2831 but unfortunately, it has been devoted because Windows XP doesn't support it.

[2019-07-02 11:37] AenBleidd commented on #3204
There is no real reason to do this because there is no goal to keep repo 100% clean

[2019-07-02 12:10] RoboticMind commented on #3204
How is this not an important goal? If you want to know what keeps me from actually doing PRs into the repo, it's because there's so much stuff in there I can't find where anything is. At one point, I was trying to figure out how BOINC detected that the host computer was awake and that took around an hour just to find where the code even was. I'm pretty certain that I'm not alone in this. There is

[2019-07-02 12:19] AenBleidd commented on #3204
And you are definitely right.
But removing some files (even outdated) will not change this.

BOINC is a complicated product that consist of many parts and oriented to work on different platforms. And as any other complicated product it takes some time to understand the structure of it.

The best way to start doing some PRs is to find an interesting ticket and ask other people where to start. Be su

[2019-07-02 12:43] smoe commented on #3200
When adding an AMD RX 580 to an Nvidia GTX 1660 under Windows 10, the Nvidia OpenCL is disabled. Instead, from the project (Einstein for me), the ATI OpenCL workunits are retrieved while the Nvidia OpenCL platform is no longer found. It is possible to run NVidia CUDA and ATI OpenCL jobs in parallel, though - like with SETI. I admit not to know if this is the expected behaviour. Ping me you want me

[2019-07-02 12:52] smoe opened #3205 "Misses -lz for client to compile"
The error was
[code]
Circumvented with
[code]
Configuration was
[code]

[2019-07-02 12:58] smoe commented on #1227
I just ran into it with current master.
[code]
commit a3b91098da638a1fda28a3e717fd7a8463a5faa0 (HEAD -> master, origin/master, origin/HEAD)
Merge: 5e5847ac0a 0a62f0e9af
Author: Kevin Reed <22824141+TheAspens@users.noreply.github.com>
Date:   Mon Jul 1 08:43:35 2019 -0500

    Merge pull request #3198 from BOINC/dpa_amd

    scheduler: if plan class name contains "amd", assume it's AMD GPU

[code]

[2019-07-02 13:27] RichardHaselgrove commented on #3200
Sticking to the Windows 10 machine for the time being, and depending how deep you're prepared to dig, I'd be interested in seeing:

1. The startup lines from BOINC's Event Log, showing the outcomes of GPU detection
2. The coproc_info.xml file from BOINC's data directory
3. The output from Oblomov's CLinfo (download from https://github.com/Oblomov/clinfo, at bottom: run at command prompt)

[2019-07-02 13:36] AenBleidd commented on #3205
If not using miniconda2 in favor of openssl, no additional flag required. Adding `-lz` flag in default configuration will add extra dependency that is not nice. If you want to fix this issue and make a pull request please find a way to add check for miniconda2 and adding the corresponding linking flag to appropriate m4 file

[2019-07-02 13:39] AenBleidd commented on #1227
I believe this is a different issue

[2019-07-02 13:43] smoe commented on #2728
To approach that pilot script I reserved an interactive shell:
[code]
From there I started boinc that I just compiled from source with what conda provides. This got me attached to Einstein but now I am stuck at what I thought would be easy to fix but I cannot find it:
[code]
But it is not idling.
[code]
I think to have a very forgiving setting at global_prefs.xml.  The machine has network, boinc s

[2019-07-02 13:45] AenBleidd commented on #2728
According to this line you interrupted it. right?

[2019-07-02 14:18] smoe commented on #2728
Yes, sorry, it was not going anywhere. Einstein lists the machine and assigned a task to it but it was never fetched.

[2019-07-02 14:24] AenBleidd commented on #2728
I believe it is because computer was in use so every other activity was paused:

02-Jul-2019 15:34:41 [---] Suspending network activity - computer is in use

[2019-07-02 14:52] RoboticMind commented on #3204
Big changes come in small steps. Having a goal being set to clean things up would make it more than just a few. To add to that, having fewer files makes things extraordinary easier to navigate. For one, old files point people to the wrong place and give false info. From my earlier mentioned thing about trying to find how BOINC detect when a host is not active, I ended up going on multiple dead end

[2019-07-02 14:56] smoe commented on #2728
You were right. I seem to have found it. Had to set the CPU used threshold to 100. That value should have been ignored - but with so many project-specific settings ... there likely was an oversight on my side.

I do not see that this should be done in an automated fashion, though. @davidpanderson,  would you accept command line options as the ultimate override to project settings? Maybe something

[2019-07-02 15:21] AenBleidd commented on #3204
I was a new user 3 or 4 years ago. And before asking to clean-up I tried to understand why the things are done in this way, why this project has this particular structure and not another. And not everything could be simplified to be easy to understand for every new user. Linux kernel also very complex and not easy to understand even with their folder structure.

I believe, the files you mentioned

[2019-07-02 15:22] AenBleidd commented on #2728
Maybe this could wok for you https://boinc.berkeley.edu/wiki/Client_configuration ?

[2019-07-02 15:55] smoe commented on #2728
If the previous plan was to start completely de novo, this would require to "sed -i" the right config files, and you don't really know how some innocent change of project preferences disturbes that threshold.  I find this a bit awkward. That uncertainty would not go away if I copy the currently working directory as a template, if I understand this right.

Side-issue: Since for some reason the mach

[2019-07-02 16:47] adamradocz commented on #3204
I completely agree with all the point that @RoboticMind said.
Plus complexity doesn't mean the repo can be cluttered with outdated files and folders.
Honestly, I was shocked too when I decided I want to contribute somehow, and I'm sure lot's of people feel the same way, but they don't even bother to make an issue about it because the entry barrier is too high. It took me a year to make my first me

[2019-07-02 17:02] AenBleidd commented on #3204
There is no outdated folders.

@adamradocz, feel free to push your idea on next Contributors call July
25th.
It would be great if you prepare some document with detailed files and
folders you believe are outdated, goals you want to achieve, pros and cons
of these goals and exact steps you want to do

вт, 2 июля 2019 г. в 19:47, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Kosh

[2019-07-02 19:10] smoe commented on #2728
I found that boinc-run-interactively to be fully responsive to the boinccmd (command line boinc-manager). This is nice and admittedly was not ultimately expected.

[2019-07-02 22:35] speed2048 commented on #3199
This also occurred on OSX, no error messages, it appears to happen randomly.

BoincSpy

[2019-07-02 23:37] davidpanderson opened #3206 "generate_account_ownership_keys.php breaks make_project"
The openssl stuff works only if PHP was compiled with --with-openssl and you've set up openssl.cnf.  This should be an optional separate step, not part of make_project.

Also, generate_account_ownership_keys.php contains no comments and isn't formatted correctly.

[2019-07-02 23:44] CharlieFenton commented on #3199
@speed2048: you might want to check the file
`/Users/{username}/Library/Application Support/BOINC/stderrgui.txt`
to see if there is a crash report for the Manager. On OSX,depending on settings, if the Manager quits unexpectedly, the client may also quit if it detects the Manager is no longer running.

I assume you checked `/Library/Application Support/BOINC Data/stderrdae.txt` for a crash report f

[2019-07-04 00:43] speed2048 commented on #3199
I did find some errors  in stderrdae.txt.

13-Jun-2019 08:27:59 getaddrinfo(wks-mac-mini-005.local): nodename nor servname provided, or not known.

Not sure if this would cause the app to exit and why would it fail to lookup the localhost.
------------------------------------------------------------------------------------------------------

I looked  in /Library/Log/DiagnosticReports. The OpenCL

[2019-07-04 13:54] smoe commented on #3205
I fail to understand why this omitted -lz could be caused by conda. I accredited it to --enable-boinczip . I don't want to create a pull request just now and propose to leave this report open for a while to collect more opinions/observations.

[2019-07-05 17:00] smoe opened #3210 "boinccmd --get_host_info does not show GPUs"
This former GPU mining rig still has a few non-functioning riser cards as it seems, so for now I only got 4 of the 6 graphic cards to be recognized by lspci, clinfo and ... how I interpreted it ... also by the boinc client, which when started directly gives the following to stdout:
[code]
Running Einstein, I get only three tasks running. This seems somewhat plausible since there are only 2 active

[2019-07-06 18:36] adamradocz opened #3212 "[Website] Update GuiRpcProtocol's wiki"
[https://boinc.berkeley.edu/trac/wiki/GuiRpcProtocol#get_file_transfers](https://boinc.berkeley.edu/trac/wiki/GuiRpcProtocol#get_file_transfers) doesn't contain the `hostname` tag.

[2019-07-07 08:18] bema-aei commented on #3200
@RichardHaselgrove Actually I didn't mean my analysis to be complete.

To narrow down this problem: I would *guess* that all the "duplicate device" problems arise from the OpenCL device handling. Is there any case of "double device" which involves *only* CUDA or ATI (CAL, Stream?) Apps?

[2019-07-07 20:11] AenBleidd commented on #2266
I suggest to close this issue without being implemented because of API that was deprecated for security reasons and there is no another legal way to get list of running applications.

[2019-07-07 20:33] AenBleidd commented on #3054
Any decision on this?

[2019-07-07 22:32] adamradocz commented on #2266
I haven't tied: [https://www.android-examples.com/get-show-all-background-running-process-in-android/](https://www.android-examples.com/get-show-all-background-running-process-in-android/)

[2019-07-07 22:35] AenBleidd commented on #2266
Please take a look at the comment at the end of this article. It is pointed
that these APIs are deprecated since version 19 and it's true. I pointed
the same in me previous comment

пн, 8 июля 2019 г. в 00:32, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-07-08 07:18] lfield commented on #3054
I would still like to do something so it isn't duplicated, i.e. make the strings different. Addressing this is on my todo list.

[2019-07-08 09:29] adamradocz commented on #2266
@AenBleidd You're right. This thread a solution for above API 19: [https://stackoverflow.com/questions/28066231/how-to-gettopactivity-name-or-get-currently-running-application-package-name-i](https://stackoverflow.com/questions/28066231/how-to-gettopactivity-name-or-get-currently-running-application-package-name-i)

[2019-07-09 18:46] davidpanderson opened #3213 "Integrate BOINC with "Extreme-scale scientific software stack""
Automate the process of running existing science-app containers on BOINC.
https://e4s-project.github.io/

[2019-07-10 19:06] #3190 closed

[2019-07-10 23:52] Rytiss commented on #3212
Can you be more specific, maybe post how the entire section should look like, and I'll put it into the documentation?

[2019-07-11 00:27] #3206 closed

[2019-07-11 08:56] lfield commented on #2113
This issue is essentially addressed by PR #3214

[2019-07-11 08:56] #2113 closed

[2019-07-11 23:11] adamradocz opened #3223 "[Web] Add android to project options"
**Describe the problem**
I run LHC and Einstein as backup projects and I want only GPU tasks for PC and any task for Android. The issue is if I check-out the `Use CPU` option to not get any CPU task for PC, then I don't get any task for Android as well. Even tho I'd like to run any kind of Android task.

**Describe the solution you'd like**
Get CPU task for Android, even when the `Use CPU` option

[2019-07-11 23:15] AenBleidd commented on #3223
Try to use different settings, e.g. 'Home' settings for Android, 'Work' settings for other devices or vice versa.
I see no reason to add 'Android' option because there are currently 2 kind of tasks, the one that use CPU and the one that use GPU. Android tasks use CPU only (potentially GPU also but there is no project for Android that has application that could run on mobile GPU).
So personally I t

[2019-07-11 23:18] AenBleidd commented on #3223
@adamradocz, please use this [link](https://boinc.berkeley.edu/wiki/Preferences#Location-specific_preferences)

[2019-07-12 22:00] adamradocz commented on #3223
Settings name can't be changed, so it's really deceiving. I don't like using it because I don't know which is which.

[2019-07-15 19:29] sm217144 commented on #1774
This has just started doing this on my android phone. I have reinstalled the app but to no avail. I have tried various projects but it seems to refuse to download new projects, what can I do?

[2019-07-15 19:31] AenBleidd commented on #1774
Could you please share more details:
1: What phone do you this issue on (manufacturer, model)?
2: What projects are you connected to?
Thanks

пн, 15 июля 2019 г. в 22:29, sm217144 <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-07-15 20:03] k4hamer opened #3224 "Problems with the display of tasks on Android 9"
Hello friends, forgive my bad english, I am from Russia. Before updating the phone on Android 9, everything was fine. After updating the phone on Android 9, a strange anomaly occurs: current tasks are not displayed in the program menu and in statistics, but are visible in the notification blind. I reconnected to the tasks and reinstalled Boinc, this does not help. I deleted Boinc and registered as

[2019-07-15 20:06] AenBleidd commented on #3224
Hello, looks like a known issue.
Could you please write me in Skype (aenvampire).
I speak Russian

пн, 15 июля 2019 г. в 23:03, k4hamer <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-07-16 00:23] AenBleidd commented on #3224
After the conversation that was made in skype I can assume that this is the duplicate of #2467 and thus could be closed.

[2019-07-16 00:23] #3224 closed

[2019-07-16 00:57] AenBleidd commented on #2928
As soon as there is no additional questions during last 6 months I believe this could be closed.

[2019-07-16 00:57] #2928 closed

[2019-07-16 19:00] #2090 closed

[2019-07-18 05:30] AenBleidd commented on #1599
I see no easy way to split data (non-executable) files from executable files inside BOINCDATA folder.
Assuming that SD card mounted on Android device has noexec flag on I propose to close this ticket.

[2019-07-18 05:42] AenBleidd commented on #1901
According to the log file and issue description it is a duplicate of two tickets:
- #1894
- #2467
I close this ticket in favor of two mentioned above

[2019-07-18 05:42] #1901 closed

[2019-07-18 06:23] AenBleidd commented on #1495
@davidpanderson, did you have permissions to update BOINC app [here](https://www.amazon.com/Space-Sciences-Laboratory-U-C-Berkeley/dp/B00DCCGLAG/ref=cm_cr_arp_d_product_top?ie=UTF8) ?
Looks like it was not updated as it was done for Google Play.
Maybe updating app on Amazon store will handle this issue (possibly no but anyway it requires update when next release will be ready)

[2019-07-18 08:14] code-kot commented on #2991
This issue is related to #2993

[2019-07-18 17:52] #2750 closed

[2019-07-18 18:00] adamradocz commented on #1599
Agree.

[2019-07-19 07:56] davidpanderson commented on #1495
I am able to update the Amazon store version, but haven't done so recently.

[2019-07-19 15:24] smoe commented on #3210
Side-note: The app_config.xml is how to adjust the demands for CPU and GPU per task. An example is given here https://einsteinathome.org/de/content/former-gpu-mining-rig-now-running-boinc#comment-172028 .

[2019-07-19 15:33] smoe opened #3229 "Application-locked slots"
I run BOINC a former GPU mining rig - 6 GPUs with USB riser cards - that is _mostly_ stable. It appears to be _perfectly_ stable when mixing very I/O demanding projects with some that communicate less and/or that needs power. I would for instance very much like ot have one SETI job (non-demanding) always running, i.e. a slot dedicated to that project, combined with such from Einstein (needs more).

[2019-07-19 16:47] AenBleidd commented on #3170
Tray icon is removed in #3052. Closing this as 'Wontfix'

[2019-07-19 16:47] #3170 closed

[2019-07-20 23:01] AenBleidd commented on #1282
I think this could be an option described here: #3083

[2019-07-20 23:02] AenBleidd commented on #3083
Closing this as a duplicate of #1282

[2019-07-20 23:02] #3083 closed

[2019-07-20 23:55] AenBleidd commented on #858
Closed as a duplicate of more recent and better discussed #2414

[2019-07-20 23:55] #858 closed

[2019-07-22 07:56] AenBleidd commented on #2752
As far as I see this is done by design: like on every other device you get your config from project and then when you change smth it is written in config_override.
I propose to close this as 'Not an issue'

[2019-07-22 08:02] AenBleidd commented on #3210
Should be fixed in #3231

[2019-07-22 14:29] RichardHaselgrove commented on #2752
Does Android have the warnings that we recently put into the desktop Manager: clicking 'Save' - as a change from 'OK' - will permanently change the behaviour of the client, by causing it to disregard changes to web preferences?

[2019-07-22 14:35] AenBleidd commented on #2752
Nope, it doesn't have and I'm not sure it should have.
Android is different from other devices very much, it uses completely
different set of default settings. And these settings are written once on
first run of Manager.
So either Android should download different default settings from web or I
suggest just to let it work as it works now

пн, 22 июля 2019 г. в 17:30, RichardHaselgrove <notificatio

[2019-07-23 11:58] smoe commented on #3229
The Einstein@Home moderator, Gary, [kindly pointed me](https://einsteinathome.org/de/content/former-gpu-mining-rig-now-running-boinc?page=2#comment-172194) to the max_concurrent feature in [app_config.xml](https://boinc.berkeley.edu/wiki/Client_configuration). That fixed it. I still think that this would be nice to see configurable also in the GUI. But I also see that this would open a whole new w

[2019-07-25 18:51] IRainman commented on #2549
Same problem. I use Lineage 16 (based on Android 9) with root on OnePlus 3T and only 3 core (2 liitle and 1 big) may used for BOINC tasks :( On my other devices with Android 6 (Samsung Galaxy Nexus) and 4.3.1 (Ainol Novo 10 Hero) this problem does not exist.

[2019-07-26 16:53] abowery opened #3234 "Error produced when using remote_file feature of create_work"
I am using the create_work feature to submit new workunits from the command line. This is described in:

https://boinc.berkeley.edu/trac/wiki/JobSubmission

I am trying to use the remote_file feature. For some unknown reason the create_work changes the name of the file to be downloaded, it changes the name to 'jf_...'. This is done in:

boinc/tools/process_input_template.cpp  (line 298)

It is not

[2019-07-26 19:06] #3210 closed

[2019-07-26 19:08] AenBleidd commented on #3229
@smoe, could this issue be closed now as far as you found a way to achieve what you want?
Project-specific changes is a whole new functionality that is much more complex and should be reviewed and discussed separately.

[2019-07-26 19:26] AenBleidd commented on #1699
This feature could be implemented in the next way:
- By default both client and Manager should use unix socket for better security
- After user request client should be restarted to use TCP/IP connection and Manager could reconnect to it. Some message about possible security should be shown to user.
But there is one issue that blocks this feature:
According to #2466 all connections starting from A

[2019-07-26 20:35] adamradocz commented on #1699
Correct me if I'm wrong, but I think Unix socket only works on the same machine, but not over the internet. How do you request a TCP connection if you can't access the client over Unix socket?

[2019-07-26 20:37] AenBleidd commented on #1699
@adamradocz, this should be made by Android Manager first to allow remote Managers otherwise it is a security issue

[2019-07-26 20:47] adamradocz commented on #1699
I couldn't find any article that says the TCP is less secure, especially with TLS, than Unix socket. Plus, over the internet connection shouldn't be a security issue anyway, it should be encrypted.

I do agree that interprocess communication on the same machine is better with Unix socket than TCP, but we want to connect to the client on over the internet too. So it seems to me, the Unix socket is

[2019-07-26 21:07] adamradocz commented on #1699
On the other hand, if the Unix+TCP combo is the right approach, then it should be implemented on all platforms, no?

[2019-07-26 21:08] AenBleidd commented on #1699
I can't agree with you here. In any case, it's up to the user whether to allow remote connection or not.
By default on all platforms including Android remote connections is not allowed, you need to add the corresponding setting to cc_config.xml and restart the client. The same could be done using Android Manager with some kind of setting (let's say, checkbox 'Allow remote connections'). After user

[2019-07-27 00:45] #3229 closed

[2019-07-27 07:34] adamradocz commented on #1699
Ok, Unix socket has some performance benefits too.
One more question. How does to IPC implemented in Linux, Android, Mac, and Windows?
Linux and Android use Unix socket. What do Mac and Windows use?

[2019-07-27 12:22] AenBleidd commented on #1699
Currently all platforms except Android use TCP/IP by default. Unix sockets
could be enabled on Linux but again, by default TCP/IP is used.

сб, 27 июля 2019 г. в 10:34, Adam Radocz <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-07-27 22:56] smoe opened #3235 "FTBFS not recognizing 7.64.1 of libcurl to be > 7.17.1"
Hello,
The error message on libcurl at version 7.64.1 not being more recent than 7.17.1 is not correct.
[code]
Adding "--without-libcurl" did not change that behaviour.

[code]
The BOINC source tree is
[code]
I compiled BOINC on the same machine just a few weeks ago, have updated conda just today, problem may be on my side - but that error message should point to the real problem. A compiler issue

[2019-07-27 23:01] AenBleidd commented on #3235
When it tries to check whether it is usable or not it tries to compile
sample application. If it shows 'no' that means that compilation was
unsuccessful. So it is not an issue with version check itself because it
looks like working fine. I had similar issue with different libcurl
installations on the same machine. Please check that both library and
headers are the same version

вс, 28 июля 2019 г.

[2019-07-27 23:16] smoe commented on #3235
I finally found config.log.  Yes.  The "module" system borked LD_LIBRARY_PATH for me, so the conda libs were no longer found. Thank you!

[2019-07-27 23:16] #3235 closed

[2019-07-28 15:53] #1599 closed

[2019-07-28 15:58] AenBleidd commented on #1495
Should be re-verified after new release update on Amazon store

[2019-07-28 17:37] AenBleidd commented on #1472
Verified with latest master code bf5f2fce31a6627fb31ba092bca5598021d1c008
Everything works fine.
Should be reverified after release.

[2019-07-28 17:41] AenBleidd opened #3236 "[Android][AM] No error message on wrong credentials"
When attaching to AccountManager from Android BOINC Manager with wrong credentials no error message shown to user. It could be found in log but for the user it's not so obvious, it looks like that Android Manager just initializes the Account Manager.

**Solution**

Error message should be shown to user that credentials are wrong.

[2019-07-29 00:17] AenBleidd commented on #3205
As per [this](https://travis-ci.org/BOINC/boinc/jobs/564757516) build log everything works fine without any additional `-lz` flag. So I suspect it is really because of conda library.
@smoe, could you please verify this?

[2019-07-29 10:33] Rytiss commented on #3223
Venues can definitely solve this problem already, so closing this issue.

Allowing one to change venue names or create custom venues is a different issue, which has been determined to be a "won't fix" in #313. I do think allowing custom venue names is actually a good idea, so if that would work for @adamradocz I can look into implementing it (@adamradocz, please create a separate issue if so).

[2019-07-29 10:33] #3223 closed

[2019-07-29 10:42] Rytiss commented on #3234
I have used the remote_file option in create_work previously and I think it works fine. Are you sure you are correctly identifying the problem on the client side?

Name should not matter as boinc_resolve_filename in the app will resolve logical/physical names. URL is written to the XML at process_input_template.cpp:301 correctly, so the client should be able to download the file - unless the URL y

[2019-07-29 11:08] adamradocz opened #3240 "[Web] Allowing custom venue names"
**Describe the problem**
The issue was described and discussed in #3223.

[2019-07-29 17:33] smoe commented on #3205
Since I am the only one with weird experiences I suggest to just close this issue. What should possibly think about, though, is to provide a conda package for the client. This should then also clarify what this -lz is all about.

[2019-07-30 06:22] davidpanderson commented on #3234
It names the file jf_(MD5) so that it has a unique name, which BOINC requires.
Andy, give me a call and I'll explain how this works.

[2019-07-30 16:04] tmannerm commented on #3205
The `-lz` flag is already required (and normally used) to build a BOINC Client due to [async_file.cpp](https://github.com/BOINC/boinc/blob/master/client/async_file.cpp#L208) and some other files referencing `gzopen()`, `gzclose()` and `gzread()` unconditionally. The flag comes into client build via BOINC_EXTRA_LIBS variable generated at [configure.ac line 513](https://github.com/BOINC/boinc/blob/m

[2019-07-30 19:01] SETIguy commented on #3205
config.log should show some additional detail.

On Tue, Jul 30, 2019 at 9:04 AM Teemu Mannermaa <notifications@github.com>
wrote:

--
Eric Korpela
korpela@ssl.berkeley.edu
AST:7731^29u18e3

[2019-07-31 18:31] abowery commented on #3234
I arrange a call with David Anderson about this.

[2019-08-01 14:42] RoboticMind commented on #3204
Any updates from after the July 25th contributor's call?

[2019-08-01 15:57] AenBleidd commented on #3204
This was not discussed on Contributors call

чт, 1 авг. 2019 г. в 16:42, RoboticMind <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-08-01 17:10] adamradocz commented on #3204
I couldn't attend this CC hopefully, I'll be on the next one.

[2019-08-01 18:57] AenBleidd commented on #3204
@adamradocz, will you prepare some document that contains some steps you'd like to be done to make project easier for understanding for newcomers or you just want to attend the call and discuss these 2 particular files?
@RoboticMind, maybe you want to attend Contributors call too and present your ideas?

[2019-08-01 23:04] adamradocz commented on #3204
Sure

[2019-08-02 21:36] TheAspens opened #3241 "Finish migration to python3"
Pull Request #2477 modified the scripts necessary so that creating and updating a project worked with python3 instead of python2.  I believe the following additional python scripts need to be updated to finish the migration to python3:

- ./stripchart/samples/parse_config
- ./tools/parse_config
- ./tools/dbcheck_files_exist
- ./tools/check_project
- ./tools/appmgr
- ./sched/start

[2019-08-02 21:46] TheAspens opened #3242 "Define XML code style"
Based on pull request #3044, there is a need to define a XML document format style for the project that future pull requests will expect to be coded against.

[2019-08-03 05:46] adamradocz commented on #3242
I think instead of defining an XML format style, we should use a standard library.
BTW [google has a style guide](https://google.github.io/styleguide/xmlstyle.html), we shouldn't reinvent the wheel.

[2019-08-03 10:59] AenBleidd commented on #3242
@adamradocz, using standard library is great, but it requires some effort to migrate from existing implementation to some standard one (BTW, there is no decision which standard X library should BOINC use because there are plenty of them). Do you want to put some effort to make a review of existing XML libraries and suggest the best one? And maybe to put some effort to make such migration? It would

[2019-08-03 11:07] AenBleidd commented on #3242
There is an issue already to migrate from existing XML parser to standard one: #2070

[2019-08-03 19:32] adamradocz commented on #3242
I did some research and the [pugixml](https://github.com/zeux/pugixml) seems very promising.
About the migration, my C++ knowledge is basically zero :)

[2019-08-03 20:17] AenBleidd commented on #3242
I had zero Java knowledge before starting my investigation of Android Manager code. So nothing is impossible, @adamradocz, you just should start and then things become easier.

[2019-08-03 20:37] TheAspens commented on #3242
Just to be clear here - this issue to is to define, agree on and document a style guide for XML documents.  It is explicitly not an issue to discuss replacing the XML parser.  That discussion belongs in #2070.  They are two related but very different issues.  We should keep discussions about the parser in #2070.

The discussion that occurred in pull request #3044 would have still happened regardle

[2019-08-04 19:54] lfield commented on #3242
Don’t forget that XML also has to be parsed in php, python etc.

[2019-08-09 14:29] nilsjh opened #3244 "statistics site boincsynergy.com obsolete?"
The link to http://www.boincsynergy.com/stats/index.php from the BOINC statistics page leads to an ISP URL, so it might be that this site is no longer maintained.

**Steps To Reproduce**
1. Look at the stats.php of any BOINC project site, e.g. https://www.cosmologyathome.org/stats.php

2. Click on the link and you will notice  that the link is dead.

**Expected behavior**
Only valid links should b

[2019-08-09 14:44] smoe opened #3245 "lib/coproc.h:230:46: clearing an object of non-trivial type ‘struct PCI_INFO’; use assignment or value-initialization instead [-Wclass-memaccess]"
Hello,
I just backported 7.16.1 and saw myriads of the following compiler warning.
Cheers,
Steffen
[code]

[2019-08-09 14:48] smoe commented on #3245
Ah - same here:
[code]

[2019-08-09 14:50] AenBleidd commented on #3245
Do you have some time to invest it to fix these warnings?

пт, 9 авг. 2019 г. в 17:48, Steffen Möller <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-08-09 14:52] smoe commented on #3245
Not today - was only "quickly" procastinating into rolling 7.16.1 on one of my machines. Will address them over the weekend.

[2019-08-09 19:21] sirzooro opened #3246 "Problem with remote_hosts.cfg on Linux"
People at PrimeGrid found that there is something wrong with handling of non-empty remote_hosts.cfg file on non-Windows hosts. When config is re-read, Boinc logs message like "GUI RPC request from non-allowed address 2.0.x.x". Additionally when someone connects from non-whitelisted IP, message contains invalid IP like 2.0.x.x.. On Windows IP is correct.

Original thread on PG: [https://www.primegr

[2019-08-10 14:55] RichardHaselgrove opened #3247 "Manager: writes garbage to cc_config.xml"
**Describe the bug**
When the 'Event log options...' dialog is used to modify the active set of Event Log flags, garbage is written to cc_config.xml.

**Steps To Reproduce**
1. Open Event Log Options dialog, change a setting, apply or save your changes
2. Inspect the contents of cc_config.xml visually
3. (optional) Shut down and restart the BOINC client...

**Expected behavior**
Existing option se

[2019-08-10 17:40] RichardHaselgrove commented on #3247
Further testing reinforces my belief that this is a Manager problem. Sending the 'update log flags' RPC remotely from an older version Manager doesn't corrupt the cc_config.xml file. But #3214 didn't modify the manager, and the changes to  lib/cc_config.cpp look benign. Still investigating.

[2019-08-11 11:03] RichardHaselgrove commented on #3247
I've been trying to trace back this problem, to find out for certain when and where it started. Bear in mind that (a) Appveyor builds when the PR is created, not when it is merged, and (b) Appveyor wasn't working for a long time. No artifacts were produced for PR 3214.

So I've tested the artifacts for PR 3230 (built July 20, before 3214 was merged) and PR 3233 (built July 26).

The client from PR

[2019-08-11 23:29] davidpanderson commented on #3247
Stray comma.  I'll check in a fix shortly.

On Sun, Aug 11, 2019 at 4:03 AM RichardHaselgrove <notifications@github.com>
wrote:

[2019-08-12 13:42] Rytiss commented on #2952
I just hit this issue while creating a project on Ubuntu 18.4 LTS. At the minimum, create_project should detect this and not fail, but in reality, I think we should start supporting this charset.

[2019-08-13 14:07] #3247 closed

[2019-08-13 14:07] #3244 closed

[2019-08-14 15:43] TheAspens opened #3250 "Bug installing BOINC 7.16.1 on Linux"
**Describe the bug**
There seems to be an error in the latest boinc-client 7.16.1 build. Upgrading an existing installation goes well, but installing 7.16.1 on a clean machine fails. It seems to fail on the creation of the 'boinc' user:

usermod: group 'render' does not exist
Could not assign boinc user to group 'render'
invoke-rc.d: syntax error: unknown option "--skip-systemd-native"
dpkg: error

[2019-08-14 23:34] nethershaw commented on #2256
I have noticed that this message gets printed once a second even if I have specifically allowed my BOINC client to use the CPU and GPU while the computer is in use. The log messages still appear at the end of the value of the `idle_time_to_run` setting (Computing allowed / Only after computer has been idle for ... minutes) in my global preferences; if I change that setting to 0, the messages appea

[2019-08-15 09:46] adamradocz commented on #3250
I have an issue installing the v7.16.1 too on docker. Same costamagnagianfranco/boinc repo.
The original Ubuntu repo works fine.

Here's the console log:
[code]

[2019-08-16 13:06] Germano0 commented on #3250
I think you should open a bugreport on Ubuntu bug reporting system

[2019-08-18 01:18] AenBleidd opened #3252 "Preferences are reset when connect to project"
**Describe the bug**
When project is connected, local preferences are reseted with web preferences from the project

**Steps To Reproduce**
1. Install BOINC with no projects added (clean install)
2. Make some local changes (e.g. computation settings)
3. Add project (e.g. Einstein@home)

**Expected behavior**
Local changes to be saved

**System Information (please complete the following information

[2019-08-21 10:56] Rytiss opened #3253 "physical_cpus plan class feature documented but not implemented?"
https://boinc.berkeley.edu/trac/wiki/AppPlanSpec#Hyperthreading states that 7.14+ distinguishes physical CPUs from hyperthreads. I tried to use it and found that it does not work; I tried to find code that handles it, and there actually is none (use github code search to look for `physical_cpus`).

Usually BOINC has undocumented features. It is uncommon to find a feature that is documented but doe

[2019-08-21 20:32] davidpanderson commented on #3253
The feature is in a branch that no one merged.  It should be merged at some point.

[2019-08-21 20:45] AenBleidd commented on #3253
If I remember correctly, this feature was not implemented completely (for
Linux only) and with support of c++11. So before merging, it should be
implemented with c++03 and support Windows and MacOS.
But again, it's in case we are talking about the same feature branch

ср, 21 авг. 2019 г. в 23:32, David Anderson <notifications@github.com>:

--
Best regards,
Vitalii Koshura

Sent via iPhone

[2019-08-21 21:27] davidpanderson commented on #3253
It's #2624.  It's implemented for Win and Linux, not sure about Mac.

[2019-08-23 15:22] amereghe opened #3256 "Allow the validator to flag compared results as `runtime_outlier`"
`runtime_outlier` is a flag that allows to disregard the use of a specific result to update the FPOPs estimate of a specific host. This mechanism can be important when the result is generated with a number of FPOPS way smaller than expected; otherwise, in presence of many of these results, the FPOPs of a host can be corrupted.

The aim of SixTrack simulations is to find the boundary between stable

[2019-08-23 21:22] oppiet30 commented on #3245
There is a lot more than just that one.
[boinc_compile_warnings.txt](https://github.com/BOINC/boinc/files/3536226/boinc_compile_warnings.txt)

[2019-08-24 15:07] oppiet30 commented on #3245
Oppie> It's telling you the class is not a plain-old C struct anymore because
you added a constructor. So memset could blow-away your class's data. There
are lots of valid ways to deal with this, including just ignoring the warning.
In general, memset is wrong. But C coders can't let it go.  Anyway, here's the
fix:

    // bad
    memset(&pci_info, 0, sizeof(pci_info));

    // good
    pci_info =

[2019-08-27 00:13] AenBleidd commented on #2077
Looks like this never happens again (at least in my case). So since I'm the only one who caught this once on one particular PC, I'm closing this issue.

[2019-08-27 00:13] #2077 closed

[2019-08-27 00:22] AenBleidd commented on #2216
Should this issue just be closed and the corresponding file just deleted from http://boinc.berkeley.edu/download.php ? In any case it is out-dated.

[2019-08-27 00:25] AenBleidd commented on #2360
Should this issue just be closed? In any case this file is out-dated and there are more easy and common used ways to install BOINC?

[2019-08-27 00:45] AenBleidd commented on #2475
Could this be closed in favor of #3241?

CC: @TheAspens

[2019-08-27 08:58] smoe commented on #3250
@adamradocz, could you please install the package "dialog" prior to boinc-client (in a separate invocation of apt)? I mean, somewhat amazingly neither the Debian/Ubuntu-typical dialog system works nor the readline. We hence either miss a pre-install dependency (thought Ubuntu would always ship with that, may be something special because of that minimal docker image) or something is weird with the

[2019-08-27 09:01] smoe commented on #2475
With a bit of luck, my https://github.com/BOINC/boinc/pull/3259 also closes (most of?) this.

[2019-08-27 09:09] smoe opened #3260 "The Fedora + Debian/Ubuntu packages better lose their patches"
So far so obvious, there should not be any need for a distro's packages to have any patches since all changes are either:
 * not necessary -> don't patch
 * of general interest -> have it upstream
 * an indication of a deficiency to configure/install BOINC -> improve upstream

I would like to leave this issue here as an anchor and over time revisit all patches that have accumulated downstream over

[2019-08-27 09:37] RichardHaselgrove commented on #3260
Could we also please consider the equivalent Fedora patch list: https://src.fedoraproject.org/rpms/boinc-client/tree/master

We were directed to that list during last week's contributor call, because it currently contains patches which were rejected by 'upstream' BOINC, but considered appropriate for the Fedora target audience. They perhaps fall into your third category.

[2019-08-27 12:52] adamradocz commented on #3250
@smoe, I got the same error message.

[2019-08-27 13:01] smoe commented on #3250
It says "TERM is not set" - could you please set that one? I found https://andykdocs.de/development/Docker/Fixing+the+Docker+TERM+variable+issue/ which seems promising.

[2019-08-27 16:20] adamradocz commented on #3250
It doesn't help eighter. Same issue:
[code]

But the `debconf: (TERM is not set, so the dialog frontend is not usable.)` line is resolved :)

[2019-08-28 09:11] smoe commented on #3250
You have installed "dialog", right? So we need to find out why it is not "usable". I was hoping the TERM would have addressed that. Hm. So, let's shift focus on Term/Readline.pm. This comes with "perl-modules". Installed?

But, anyway, the process fails later with the unknown option "--skip-systemd-native". Would you mind rebasing your effort on a more recent version of Ubuntu? A quick check on ht

[2019-08-28 09:16] smoe commented on #3250
Sidenote - there is no need to use the ppa for 7.16.1 with devel as it is the same package by the same maintainer (https://launchpad.net/ubuntu/+source/boinc) uploaded. My hunch is that it is also the same post-install script that has a bit of an issue to talk to earlier versions of invoke-rc.d.

[2019-08-28 09:22] smoe commented on #3250
@LocutusOfBorg , (hello!), you may have extra insights on what is done for backporting/known incompatibilities. If my hunch is confirmed then this is less of a docker issue.

[2019-08-28 10:35] adamradocz commented on #3250
I'm not at home now. Bit for your information, everything was working with v7.14.2 with the same script.

[2019-08-28 13:39] smoe commented on #3250
Ah.  I would then expect you to have seen the ReadLine and Dialog error messages with that version already. Let us confirm that it works again with the devel version of Ubuntu and then we see what to do to port it back, properly.

[2019-08-28 16:01] adamradocz commented on #3250
The devel works fine. Unfortunately, we use the 18:04 image.

[2019-08-28 20:24] smoe commented on #3250
I have no idea where this "--skip-systemd-native" is coming from. I understand it is a pre-depends missing (https://lintian.debian.org/tags/skip-systemd-native-flag-missing-pre-depends.html) and leave it to that backports' maintainer, i.e. @LocutusOfBorg, to solve that mystery. I can confirm the problem
[code]
on a throwaway ubuntu bionic VM. But, an "apt-get -u dist-upgrade" made it install
[code

[2019-08-31 04:32] #2529 closed

[2019-08-31 10:04] RichardHaselgrove opened #3264 "User web: list elements broken"
**Describe the bug**
BBCode list elements fail to render properly

**Steps To Reproduce**
(tested on SETI@Home only: may be due to local customization)
1. Create a Message Board post using the [list] or [list=1] tags described in https://setiathome.berkeley.edu/bbcode.php
2. Preview or Post the text
3. Observe that the '*' marking each list element is rendered as a literal, not as a bullet point (

[2019-08-31 19:50] Ageless93 opened #3265 "Not all pages in BOINC server code are up for translation"
Since about a year I've taken over as translator for Dutch translations of all things BOINC. In this time I haven't really checked if all available translations always make it all right. But a couple of weeks ago while CPDN was testing the new server code, I found that not all pages switch to Dutch, when Dutch is the selected language.

For example, the server status page isn't fully translated, l

[2019-09-01 06:28] #3264 closed

[2019-09-03 11:08] Germano0 commented on #3260
I am the author of Fedora/EPEL patches. @RichardHaselgrove has well described why we ship them

[2019-09-04 11:13] abowery opened #3270 "Difference between signup.php and create_account_form.php"
This is in server version 1.0.3. Please cancel this bug if this has been fixed in 1.0.4.

BOINC has two means of signing up to a project: signup.php and create_account_form.php
Both are accessible through the main page (index.php).

I am currently implementing the changes required for GDPR
(https://boinc.berkeley.edu/trac/wiki/GdprCompliance)
I have implemented on our dev site the part to show the

[2019-09-04 11:34] abowery opened #3271 "GDPR: option of 'User data is anonymized' doesn't work"
This is in BOINC server code 1.0.3, if this has been fixed in 1.0.4 please close this bug.

I have implemented the GDPR changes described in 'https://boinc.berkeley.edu/trac/wiki/GdprCompliance' on our dev site: https://dev.cpdn.org

In the 'Data Deletion' section a number of options for the value of <enable_delete_account/> are given. On our dev site I have set this to option '1 = User data is an

[2019-09-04 11:38] AenBleidd commented on #3270
Closing this as a duplicate of #2869
@abowery, please take a look at this issue and the comments there

[2019-09-04 11:38] #3270 closed

[2019-09-04 11:41] AenBleidd commented on #3271
@abowery, did you read https://boinc.berkeley.edu/trac/wiki/RightToErasure ?
I'm not sure but I believe it could answer your question

[2019-09-04 11:45] abowery commented on #3271
Hi @AenBleidd
No I am afraid this is a reproducible bug rather than a question.

[2019-09-04 11:48] AenBleidd commented on #3271
No problem. I'm not familiar with this functionality, just try to help you.
Did you also read the discussion here: #2447 ?
@TheAspens, could you please take a look at this? As far as I remember, you're the most experienced in this functionality, and you run some tests on it.

[2019-09-04 14:45] Germano0 commented on #3265
Have you tried to check if the untranslated strings are also untranslated on Transifex?

[2019-09-04 21:54] davidpanderson opened #3272 "Suggestions for Android GUI changes"
(a user email)

Hi there,
I'm a daily user of BOINC and I love the idea of a volunteer run computing network. The BOINC app for Android is very smooth and bug-free, however it looks quite dated. A redesign (and perhaps a dark mode to save battery for computing) would give a better impression to potential users of the Android client. For inspiration, you could either use Google's Material Design, o

[2019-09-05 08:26] smoe commented on #1114
A nice overview on raising the limit for open files is on https://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/ . It may be appropriate add a check on the number of files that can still be opened analogously to how BOINC checks for disk space.

[2019-09-09 13:58] abowery commented on #3234
This item can be closed. The 'remote_file' functionality works. I do have a suggestion to add more writing around it's description in the BOINC Wiki.

[2019-09-09 14:50] AenBleidd commented on #3234
According to your message, this item can be closed after documentation update

[2019-09-09 19:13] davidpanderson commented on #2993
I started implementing this in the dpa_prefs2 branch;
see also https://boinc.berkeley.edu/trac/wiki/Prefs2

[2019-09-10 08:04] LocutusOfBorg commented on #3250
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/boinc

Yes, I had the same trouble, and backported init-system-helpers	1.57~ubuntu18.04.1~ppa1
to my ppa exacly for that reason