[2022-06-14 08:10] AenBleidd commented on #4783
@Vulpine05, thank you for the report. I'll handle it

[2022-06-14 09:20] CharlieFenton commented on #4783
That should be a release version (release candidate), not pre-release. Does "About BOINC Manager" say "7.20.0 (Pre-release)" or just "7.20.0"? Commit 7be1ea068c removed  the BOINC_PRERELEASE flag, and was followed by commit f35e562aba which is the client_release/7.20/7.20.0 tag.

Also, the release build should have been linked with the non-debug build of wxWidgets, which should suppress wxWidgets

[2022-06-14 09:26] AenBleidd commented on #4783
This is reproducible on Release 7.20.0 (I have correct version saying it's a 7.20.0).

Sometimes wxWidgets is very weird. I'll check this but according to file size it definitely contains no Debug symbols.

I'll working on fixing this issue and provide a fix soon.

[2022-06-14 09:33] RichardHaselgrove commented on #4783
My test was with the release version made available on GitHub on 7 June. That was labelled 'pre-release' on the Github download page, but does not display pre-release internally when running.

I've just confirmed that the version deployed at the BOINC website is exactly the same: that has the 'use only for testing' warning on the download_all page, but does not identify as pre-release internally.

[2022-06-14 09:40] RichardHaselgrove commented on #4783
Linux is offering me

from @LocutusOfBorg PPA. I'll download and test that later today, at a convenient stopping point.

[2022-06-14 10:04] AenBleidd commented on #4783
Both flags are specified for release builds but I'll double check this. Thanks for the hint

[2022-06-14 10:41] RichardHaselgrove opened #4784 "Linux: Manager crashes when switching between views"
**Describe the bug**
Launching the Manager in simple view, and switching to advanced view, works.
Launching in Advanced view, and making a double switch (from advanced to simple view,  and again from simple to advanced view) crashes the Manager. No warning, no dialog, no messages - it just disappears.

**Steps To Reproduce**
1. Open Manager
2. Switch views once or twice, depending where you start

[2022-06-14 10:50] AenBleidd commented on #4784
@RichardHaselgrove, are you able to reproduce this on master with latest build artifacts?

[2022-06-14 11:01] Vulpine05 commented on #4783
No.  I had been running a version of the manager that I built to test a different bug.  When I saw 7.20.0 was available on BOINC's website I downloaded that, uninstalled BOINC, then installed the pre-release that I had downloaded.

For my problem on my Ubuntu system (different computer), I had just updated BOINC when the updater listed it.

[2022-06-14 11:13] RichardHaselgrove commented on #4784
Um. It's not the same, but...

Tested with `linux_manager-with-webview_1bbc873314e287cc924fdac5e11f0617132fe668.zip` from #4778 from yesterday. The 'About' dialog shows

![image](https://user-images.githubusercontent.com/14886436/173562797-848abad9-b19d-469b-9dc2-28f3c60bd1db.png)

It doesn't crash, but simple view displays as

![image](https://user-images.githubusercontent.com/14886436/173562936-

[2022-06-14 11:49] AenBleidd commented on #4784
This is exactly the reason why I hate wxWidgets.
@RichardHaselgrove, I'll try to check it out and send you some executables for testing because I have no linux system to test it by myself.

[2022-06-14 12:36] Vulpine05 commented on #4784
Looking at wxWidgets website, they updated to 3.1.7 just last week.  One item in their changelog is: "And many, many bugs fixes, including for the regressions in 3.1.6."

Is it possible by using the most current version of wxWidgets this may fix itself?

As a side note (for my curiosity and lack of understanding), why is Linux's (LocutusOfBorg's PPA) using the stable version (3.0.x) of wxW and Win

[2022-06-14 12:39] AenBleidd commented on #4784
Mainly because stable version is 2 years old and doesn't contain important fixes for HighDPI displays support on Windows OS

Need to be tested. I'll check this. Thanks for the hint

[2022-06-14 19:21] Dave-catcher commented on #4784
On my Ubuntu22.04 box, I have built both 7.20.0 and 7.21.0, the latter in a VM against 3.0.5 version of wxWidgets and both seem to perform normally. Which seems strong evidence that that is where the problem lies.

[2022-06-14 19:39] AenBleidd opened #4786 "[Windows] wxWidgets built with vcpkg have `wxDEBUG_LEVEL` defined"

[2022-06-14 19:40] AenBleidd commented on #4783
I have found the issue: #4786 that is on the side of vcpkg. I'll provide a hotfix to our repo and on vcpkg mainstream.

[2022-06-14 21:18] CharlieFenton commented on #4784
Since the Simple View has worked this way for years, I think the warning was incorrect. I will be curious whether the warning still occurs with wxWidgets 3.1.7. Please let me know.

[2022-06-14 23:55] AenBleidd commented on #4784
@LocutusOfBorg, is there anything that prevents you from building 7.20.0 with wxWidgets 3.1.6?

[2022-06-14 23:59] AenBleidd opened #4788 "[Manager][linux] Task Status icon on SImple View isn't shown properly"
![image](https://user-images.githubusercontent.com/3234209/173708669-b6736735-48de-4992-b198-6666aaa8699f.png)

[2022-06-14 23:59] #4783 closed

[2022-06-15 02:58] Vulpine05 opened #4789 "[Manager] Project icon size in simple view is inconsistent between platforms."
**Describe the bug**
As we were comparing how the tasks pull-down looked in different platforms, I noticed the icon in the projects pull-down was not consistent.

For Linux:
![image](https://user-images.githubusercontent.com/58096400/173726777-a67bd143-6aab-4b12-887c-f69fafbf92fb.png)

For Windows:
![image](https://user-images.githubusercontent.com/58096400/173726805-9f524b42-732e-4936-b9ef-3be828

[2022-06-15 05:34] bonze82 opened #4790 "Per project limitations"
Some workunits such as climate prediction are huge, is it possible to make a per project limits such as lhc has server side.

Something such as this but on the client side not the server side:
![image](https://user-images.githubusercontent.com/8306092/173745705-9e860b27-28c5-42ec-a6ee-e369419540f7.png)

The max number of jobs would be a huge benefit. Btw I have lhc limited for troubleshooting a vb

[2022-06-15 06:12] CharlieFenton commented on #4789
At the risk of too much information:

I spent many hours trying to get the projects pull-down menu on the Mac to be tall enough when collapsed to hold the icon without clipping it, but was not able to do so with a native control. My goal when I redesigned the Simple View was to use only native controls, at least on the Mac and Windows. This is to ensure that BONC is accessible to users with disabi

[2022-06-15 07:49] AenBleidd commented on #4789
@CharlieFenton, if the OSX version has such a huge issues with Combobox, maybe it's reasonable to change the design of this window a little bit? For example, do not show Project icon in Combobox list but instead put this icon for the selected Project at the left of the Combobox (for all OSs)?

[2022-06-15 08:15] AenBleidd commented on #4789
I know, but for me it's fine. At least better not to have them there than just put an icon on top of Combobox, but as you wish.

I'll check it. Maybe it require just some additional sizing. In any case, I'll take a look.

[2022-06-16 11:39] RichardHaselgrove opened #4793 "[Manager] Memory access error on closedown"
**Describe the bug**
I've seen this popup a couple of times since installing the test version of v7.20.0

![image](https://user-images.githubusercontent.com/14886436/174061252-11e86612-5a2e-4f00-b0dc-9d6556c802c1.png)

**Steps To Reproduce**
I think it occurs when the Manager (running mimised) is force-closed by the operating system in preparation for a reboot. Further testing required.

**System

[2022-06-17 00:24] AenBleidd commented on #4786
Fixed via https://github.com/microsoft/vcpkg/pull/25240

[2022-06-17 00:24] #4786 closed

[2022-06-17 05:02] hucker75 commented on #4780
I tried, but it didn't happen this time, it's very random.

[2022-06-17 13:48] Vulpine05 commented on #4793
@RichardHaselgrove , when you have a moment, could you provide more detail on your steps?  I tried to reproduce this in Windows 10 with the pre-release build, and I couldn't replicate the error.  All I did was minimize the Manager window (that is, it was in the task bar, not just the system tray), and the restarted manually.

[2022-06-17 14:15] AenBleidd opened #4798 "[wasm] Generate device or browser unique id"
When BOINC client runs on Desktop, it generates a unique device id even if Data folder was removed between runs. This helps to avoid device duplicates on user profile page.
This behavior is achieved by reading device MAC address.

For WASM hardware identifiers could not be read.

There should be implemented some functionality to generate unique id for device (or at least browser) from JS code.

Re

[2022-06-18 11:39] talregev commented on #4798
Also here:
https://stackoverflow.com/questions/49692073/how-can-i-get-a-unique-device-id-in-javascript

[2022-06-19 02:09] makeasnek opened #4801 "BOINC does not gracefully handle capitalization discrepancies"
**Describe the bug**
When using boinccmd (and I believe the underlying GUI-RPC as well), inputting a project url with a capitalization different than BOINC's internal list of project URLs results in a "no such project" response.

**Steps To Reproduce**
1. Find a project url attached to your BOINC client such as https://sech.me/boinc/Amicable/
2. Run the command `boinccmd --project https://sech.me/

[2022-06-19 12:25] #4801 closed

[2022-06-20 12:00] #4798 closed

[2022-06-20 14:02] jamesdakon opened #4804 "Build failure api/makefile.in not found / created"
Upon merging version 7.17 with 7.21 we encountered a build error with the following error:

config.status: error: cannot find input file: `api/Makefile.in'
make: *** No targets specified and no makefile found.  Stop.

[2022-06-20 14:45] AenBleidd commented on #4804
@jamesdakon, could you please provide exact steps to reproduce this?

Please follow this instruction to build BOINC software: https://boinc.berkeley.edu/trac/wiki/CompileClient

[2022-06-20 14:52] RichardHaselgrove commented on #4804
Is 'Compile Client' right for the API? Shouldn't is be more like https://boinc.berkeley.edu/trac/wiki/BasicApi

[2022-06-20 15:02] AenBleidd commented on #4804
@RichardHaselgrove, yes, the link is still correct because it describes the way to build boinc client (that by default also enables libraries that are essential when building application for BOINC).
Your link is mostly about the way of interacting with boinc library.

[2022-06-20 17:25] Vulpine05 commented on #2380
Sounds simple enough.  I would think when a release version is published, the year would be "locked in" to the code, similar to how we have (or are going to) lock in the wxWidgets version when a release is published?

In other words, if this was implemented and if five years from now someone builds the source code of a release published today, the copyright year should say 2022, not 2027.

[2022-06-20 19:10] talregev commented on #4804
Can you run this command and the output?
`./_autosetup`

[2022-06-20 19:54] Crystal-Pellet commented on #4793
Reported bug is occurring and reproducable under 3 of the 4 possibilities when system is shutdown.
1. Boinc Manager application window open on the screen
2. Boinc Manager iconized on the status bar
3. Boinc Manager iconized in the system tray

Only when the Boinc Manager is minimized to the status bar the application error doesn't appear.

![Boincmgr](https://user-images.githubusercontent.com/1078

[2022-06-20 22:05] AenBleidd commented on #4793
Is the error the same for the current master build?
@RichardHaselgrove, @Crystal-Pellet, could you please use this executable and check again https://github.com/BOINC/boinc/suites/7006198503/artifacts/274916661 ?
Thank you both in advance

[2022-06-21 05:42] Crystal-Pellet commented on #4793
Your pre-release 7.21.0 creates the same error under same conditions.
![Boincmgr21](https://user-images.githubusercontent.com/107885995/174724625-c7c33fae-c57b-476d-b504-91489f7537df.png)

[2022-06-21 11:21] AenBleidd commented on #4793
@Crystal-Pellet, thanks for testing this.

[2022-06-21 12:27] AenBleidd commented on #4804
@CyberTailor, @jamesdakon, could this happen because of old build tools?
From the log of @jamesdakon:
[code]
On my system it succeeds:
[code]

[2022-06-21 12:35] talregev commented on #4804
Can you take master (version 7.21.0) and apply your changes and try again? (without git merge)

[2022-06-22 09:18] LezheGao opened #4806 "A debugging check in this application has Failed"
![1](https://user-images.githubusercontent.com/76685272/174992738-771c0a37-9754-4eb7-9b7d-07758227b010.jpg)

[2022-06-22 09:22] AenBleidd commented on #4806
Closed as a duplicate of #4783

[2022-06-22 09:23] LezheGao commented on #4806
but my OS is Windows11

[2022-06-22 09:24] LezheGao commented on #4783
I have this problem too...

[2022-06-22 09:25] AenBleidd commented on #4806
This happens on any OS and is already fixed.
Fixed version will be provided soon. Please stay tuned

[2022-06-22 09:29] LezheGao commented on #4806
OK，Waiting...

[2022-06-22 11:09] AenBleidd commented on #4793
@Crystal-Pellet, unfortunately I'm unable to reproduce this locally so I require your help here.
May I ask you to activate postmortem debugger (https://www.windowscentral.com/how-use-procdump-create-dump-files-windows-10), try to reproduce this and send me a dump file once succeed?
Also, please do this with the this executable: https://github.com/BOINC/boinc/suites/7006198503/artifacts/274916661

[2022-06-22 14:31] Crystal-Pellet commented on #4793
I first looked if the boincmgr.exe was still present when I cancel the shutdown with the error pop-up open.
Else other actions would be worthless. Luckily it was.
Attached you would find the zip with a mini-dump and the extended dump from the process state with the pop-up error open.
Unfortunately 69MB is not supported to upload here. So you'll find now only the mini-dump
[boincmgr.exe_220622_1615

[2022-06-22 17:52] Crystal-Pellet commented on #4793
@AenBleidd: Write me a private message with your e-mail into my inbox of Boinc Berkeley Message board.
You seem to have 4 User ID's overthere. My User ID 33650.
I'll send the zip with the mini dump and full dump to that e-mail address.
Discord told me that the invite could not be accepted :( but not why not.

[2022-06-22 18:35] AenBleidd commented on #4793
@Crystal-Pellet, message is sent.

[2022-06-22 19:31] bonze82 commented on #4793
@RichardHaselgrove: Different memory voltages shouldn't matter, memory such as pc3l runs at pc3 voltages without an issue. Can you please elaborate. and system specs would be nice as it might be a system board issue and not a windows issue. I'm running linux and have pc3l and pc3 in the same system and running stable for 6+ months. I have seen systems with too much ram, did that to my current netw

[2022-06-23 01:00] LezheGao opened #4807 "an error happened if I close the PC without exiting BOINC"
**Describe the bug**
If I close the PC without exiting BOINC，an error happened（the screenshot）.
**Steps To Reproduce**
1. Close the PC without exiting BOINC

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.
![1 (2)](https://user-images.githubusercontent.com/76685272/175185252-1c9532c8-7d0a-47db-874d-d688c743b5c9.jpg)

**System Information**
 - OS:

[2022-06-23 07:27] AenBleidd commented on #4807
Closed as a duplicate of #4793

[2022-06-23 07:28] #4807 closed

[2022-06-23 09:25] AenBleidd commented on #4793
@Crystal-Pellet, could you please test this executable https://github.com/BOINC/boinc/suites/7057774204/artifacts/278233453 ?
In case of a crash please send me memory dump again.
Thank you for your testing.

[2022-06-23 10:01] Crystal-Pellet commented on #4793
@AenBleidd: Crash, thus dump to: https://drive.google.com/file/d/1fKyJuBtdlhe9iz6ffLUJz9eVK5rFv9uB/view?usp=sharing

[2022-06-23 21:42] AenBleidd commented on #4793
@Crystal-Pellet, may I ask you to do one more test?
https://github.com/BOINC/boinc/suites/7069056724/artifacts/278926554
I believe I understand what's going on but still have no idea why this happens now and completely not reproducible on my side.
Thanks a lot for your help!

[2022-06-23 22:28] AenBleidd commented on #4788
Ok, this linux specific issue and in happens only when there is a task in the list that has a very long name.
For some reason, it calculates the start of the string with some 'negative' number, thus making icon and/or text partially or completely hidden.
Looks like this is a buggy implementation on the side of wxWidgets but it should be additionally tested.

[2022-06-23 23:43] Vulpine05 commented on #4788
@AenBleidd , are you sure wxWidgets is buggy?  I recall that wxWidgets returns a negative number when a string is not read or converted correctly.  That depends on the function of course.

[2022-06-23 23:45] AenBleidd commented on #4788
@Vulpine05, I meant 'negative' coordinate of the control with text string inside it. Sorry for the confusion :)

[2022-06-24 07:26] Crystal-Pellet commented on #4793
@AenBleidd: It's hard to find the problem, if you can't reproduce it yourself, but it seems you hit the nail on the head in the dark.
With your last version, I can't reproduce it either, so it seems you solved the problem without knowing the cause.
This time no dump file from me.

[2022-06-24 10:29] AenBleidd opened #4809 "[Manager][linux] Search for skins to display on Simple View"
Currently BOINC Simple View on linux has no default skin and looks not so nice as on other OSs.
It would be nice to look for default skin in the next locations:
- /usr/share/boinc-manager/skins/
- /usr/local/share/boinc-manager/skins/
- ./skins

[2022-06-24 10:53] RichardHaselgrove commented on #4809
This needs co-ordination with the Linux distribution maintainers. At the moment, my distro (@LocutusOfBorg's PPA, based on Debian) doesn't even deploy the skins folder - so looking for it won't make any difference. We should agree on a location for the default and other skins.

[2022-06-24 11:15] AenBleidd commented on #4809
Exactly. The email is already sent, and this ticket just for reference and possibly better place of discussion than private email.

[2022-06-24 12:03] #4396 closed

[2022-06-24 12:31] #4793 closed

[2022-06-25 14:36] CyberTailor opened #4815 "Keep track of project's files"
**Describe the problem**
I use BOINC anonymous platform, and some files in the project directory are handled by the package manager. When I detach from a project, these files are gone.

**Describe the solution you'd like**
Keep track of all project's files downloaded by the BOINC client. When user detaches from the project, client should delete only these files, not the entire directory.

[2022-06-25 19:55] LocutusOfBorg commented on #4784
Hello, this is the reason
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=919903

[2022-06-25 20:47] jellythefish commented on #4733
@davidpanderson, @AenBleidd
Hi there! I made some stuff over there as we discussed https://github.com/BOINC/boinc/pull/4816
There are some things i am confused about.
I tried to make both the tool - executable binary and the libarary function.
I am not sure whether the signature of the lib func is ok with the arguments passed to the tool.
Also, not sure wheter i return error codes and print errors

[2022-06-25 20:49] AenBleidd commented on #4733
Hello @jellythefish, thank you for your PR.
I'll take a look at the code.

[2022-06-26 11:04] wangqr commented on #4806
Came here from https://github.com/microsoft/vcpkg/issues/25437.
I can see the debug alert dialog using the [binary installer from 7.20.0 release](https://github.com/BOINC/boinc/releases/tag/client_release%2F7.20%2F7.20.0). But cannot see the alert if I build boinc from source f35e562 with MSVC, using win_build/boinc_vs2019.sln. How is the binary installer built?

[2022-06-26 11:52] AenBleidd commented on #4806
@wangqr, probably because you're using wxwidgets port with already set 'wxDEBUG_LEVEL=0' ?

[2022-06-26 13:47] wangqr commented on #4806
Yes. Once I add `git checkout dc6f878c0f49c3b0625d4f94217732fb3743b251` (one commit before microsoft/vcpkg#25240 was merged) after [`git pull`](https://github.com/BOINC/boinc/blob/client_release/7.20/7.20.0/win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj#L171), I can reproduce the issue.

The reason is that, wxWidgets is built with`wxDEBUG_LEVEL=1`, but boincmgr is built with `wxDEBUG_LEVEL=0

[2022-06-26 14:20] AenBleidd commented on #4806
@wangqr, if you check, 'NDEBUG' is already set for release builds of BOINC: https://github.com/BOINC/boinc/blob/e9d122480b8c54d6cd36e7b4e4e2513111f7aa9c/win_build/boincmgr_vs2019.vcxproj#L107
But debug asserts are still there and shown in runtime

[2022-06-26 14:21] AenBleidd commented on #4806
@wangqr, I assume, to keep asserts disabled, wxwidgets should be built with 'NDEBUG' also, but this flag is not supported by cmake build of wxwidgets.

[2022-06-26 14:24] wangqr commented on #4806
Yes, its because `wxDEBUG_LEVEL` is set to 0. If we remove that, i.e. changing that line to:
[code]
Then this issue will be fixed

[2022-06-26 14:36] AenBleidd commented on #4806
@wangqr, so you want to say that these two flags contradict each other, and if I set 'wxDEBUG_LEVEL=0' in my app, then 'NDEBUG' flag will keep debug asserts enabled?
Either I don't understand smth or wxwidgets has broken logic.

[2022-06-26 14:44] wangqr commented on #4806
It is not 'wxDEBUG_LEVEL=0' and 'NDEBUG' contradict each other. It's 'wxDEBUG_LEVEL=1' when building wx, and 'wxDEBUG_LEVEL=0' in boincmgr, contradict each other.

* 'wxDEBUG_LEVEL=1' when building wx enables the debugging function in wx
* 'wxDEBUG_LEVEL=0' in boincmgr means: "We are linking a wx library without debugging functions, therefore we should not call any debugging related function, and

[2022-06-26 14:57] AenBleidd commented on #4806
@wangqr, then I suggest next: make this flag a port option. Then this will enable you to keep debug asserts dormant and I can completely remove them from my release builds.
What do you think?

[2022-06-26 15:11] wangqr commented on #4806
IIRC there is no "port option" in vcpkg. You may make it a "feature" that can be toggled on or off. This will work for my use case.

[2022-06-26 15:12] AenBleidd commented on #4806
@wangqr, sorry, my bad. Saying 'option' I meant 'feature'. Thank you for correcting me.

[2022-06-26 16:11] davidpanderson commented on #4733
Unless efficiency is an issue, I'd recommend invoking the PHP script from C++ using system().  In any case, don't change the name of stage_file since that will break some projects.

[2022-06-28 08:48] #4809 closed

[2022-06-28 13:06] Vulpine05 commented on #4784
It looks like we have a new stable release that is about to emerge:  [https://github.com/wxWidgets/wxWidgets/releases/tag/v3.2.0-rc1](url)

[2022-06-28 13:40] AenBleidd commented on #4784
@Vulpine05, I don't feel safe to upgrade to wxWidgets 3.2.0. BOINC Manager is tested with 3.1.* for Windows and OSX. Upgrading to 3.2.0 will require a new round of testing that I'd like to avoid and not delay 7.20.1 release of BOINC.
I plan to check why it's crashing on wxWidgets 3.0.4 and make a linux-only fix, and later make next major release of BOINC with new wxWidgets. Otherwise it might take

[2022-06-28 17:48] AenBleidd commented on #4784
@LocutusOfBorg,could you please tell me what version of wxwidgets was used to build BOINC release 7.18.1 for Linux?
@RichardHaselgrove, by any chance, are you able to reproduce this issue on older build of BOINC for Linux (any old one from the PPA)? If no - what is the version of wxwidgets shown there in About dialog?
Thank you both in advance.

[2022-06-28 18:49] AenBleidd commented on #4784
@RichardHaselgrove, this is not urgent, so please take your time and feel free to do that when it's most convenient to you. Thank you very much.

[2022-06-29 02:03] cwallbaum commented on #4782
About a year ago I successfully compiled the wrapper for Debian 9/10 and Ubuntu 18.04/20.04, each for armhf and arm64, and they ran fine as far as I remember. I cannot say anything about the current development branch, but could you be more specific with "not supported"?

[2022-06-29 07:30] AenBleidd commented on #4782
@cwallbaum

There is no binary available for download from our website

[2022-06-29 08:11] LocutusOfBorg commented on #4784
wxwidgets is 3.0.5

[2022-06-29 08:17] LocutusOfBorg commented on #4784
boinc is built with system wxwidgets3.0.

and its built with this version:
bionic  3.0.4+dfsg-3
focal  3.0.4+dfsg-15build1
impish  3.0.5.1+dfsg-2
jammy  3.0.5.1+dfsg-4
kinetic  3.0.5.1+dfsg-4

I always build with webview support.

[2022-06-29 08:28] AenBleidd commented on #4784
Hm, that's interesting: I have Ubuntu 20.04 and it gives me wxwidgets 3.0.4 but in your table it's stated 3.0.5

[2022-06-29 13:18] Corsair-63 opened #4817 "When would be a version for Windows ARM64?"
**Describe the problem**
I've seen many distributions of the cliente but still didn't see a version for windows ARM64.
working under emulation is not a good practice (e.g. x86 neither x64)

**Describe the solution you'd like**
Build a version for the afore mentioned o.s. and also compile projects apps for the same o.s.

**Additional context**

[2022-06-29 13:32] AenBleidd commented on #4817
Hello @Corsair-63,

Thank you for your report.
BOINC for Windows on ARM64 is planned for the next major Release.
Please stay tuned for more updates.

Closing this ticket as a duplicate of #4697

[2022-06-29 13:32] #4817 closed

[2022-06-29 14:27] RichardHaselgrove commented on #4784
Well, I've had a bit of a poke around, and found where installation packages are cached:

![image](https://user-images.githubusercontent.com/14886436/176459055-cff74610-a949-42cb-8ff4-afb3979c2c1d.png)
But only the current working version is there - no older builds. This one from 27 June still says it uses wxWidgets 3.0.4, and doesn't yet have the skins folder in the package.

I've also had a look

[2022-06-29 17:45] talregev commented on #4784
He didn't downgrade.
This version we compiled ourself before my upgrade and we compile with 3.0.4
On ubuntu 22.04, there is a boinc 7.18.1 and it compiled with share wxwidgets that found on the system and it 3.0.5.1.

Also next versions (7.20.0 and 7.20.1) with wxwidgets 3.0.5.1.

[2022-06-29 17:47] AenBleidd commented on #4784
It's even not released yet

[2022-06-29 17:48] talregev commented on #4784
I know. but there is a bug in 3.1.* that prevent then to upgrade. I want to understand if this bug is fixed for them.

[2022-06-29 18:06] jellythefish commented on #4733
Ok, i'll change the name of stage_file back to .php version, actually agree with you. Just thought it would be kind of uniform to use my c++ lib functions and tool as it is usually done in BOINC. I tried to make totally same function behavior as in .php be, but just in case will leave this script default in usage.

[2022-06-30 02:33] AenBleidd commented on #4784
Ok, I just checked this on BOINC Manager 7.16.17 (on Ubuntu bionic) built with wxWidgets 3.0.4 and it has the same crash.
So this is not a new issue thus should not be a release blocker.
Currently I see two ways of fixing this:
1. Wait for wxWidgets 3.2.0 release. If it will not be available on Ubuntu 20.04 and lower, then `goto option 2`
2. Force build BOINC Manager for wxWidgets 3.0.* without We

[2022-06-30 04:02] talregev commented on #4784
When they will upgrade to 3.2.* wxwidgets, most likely they will not go backward on ubuntu version.
You cannot force anyone to use wxWidgets 3.0.* without WebView support.
Debian maintainers can have patch fix for your enforcement in your code, and still compile it with wxwidgets with webview as they like.

This is an old bug across boinc linux versions. We didn't pay attention for linux boinc as

[2022-06-30 07:31] AenBleidd commented on #4784
If this will fix the issue with the crash - but do they need to do that?

[2022-06-30 07:38] talregev commented on #4784
And create other issues that we don't aware of them yet?
And fix an issue that is not critical? Even if it a crash, you need to do rare action many time. this is not usually users use our manager.
That why my opinion is to change this issue to known issue for old linux boinc manager.

[2022-06-30 07:45] AenBleidd commented on #4784
Please read my message carefully. I said that such a change will require additional testing, so this will definitely not be just patched and dropped without proper testing and fixing new issues.

[2022-06-30 07:47] talregev commented on #4784
I read it. I know it will be with additional checking and testing. I say we shouldn't need to spend our resources to check and test different ui and go backward just for this bug.

[2022-06-30 07:53] AenBleidd commented on #4784
We can discuss this later together with @LocutusOfBorg and decide how to proceed with this issue

[2022-06-30 17:15] speed2048 commented on #4704
Have reported the same issue to einsten@home  and the solutions the provided did not help. Here is my setup and have 2 Nvidia CPUS and initially both GPUs are happily  crunching and lets say after a day or two only one GPU works. If I delete all tasks for the project the 2 GPUs work again for a while.  The following debug statements shows the following:

1/12/2022 10:49:15 AM | Einstein@Home | [co

[2022-07-02 19:24] Vulpine05 commented on #3974
Duplicate of #1903.

[2022-07-02 19:24] #3974 closed

[2022-07-02 23:59] Vulpine05 opened #4824 "[Manager] When restoring column visibility, column is restored at end of tab."
**Describe the bug**
In advanced view of BOINC Manager, the user has the ability to hide columns.  If a column is hidden, changes are accepted, then made visible again, that column is moved to be the last column, regardless of where it was prior to hiding it.

**Steps To Reproduce**
1. Open BOINC Manager, Advanced View.
2. "Options"->"Select Columns..."
3. Unselect any column that is not the last

[2022-07-03 10:29] CharlieFenton commented on #4824
In case you're not already aware, you can rearrange the columns by dragging them left or right, though this only works on MS Windows. So you can easily move the restored column where you want it.

Restoring a previously deleted column to its earlier position can get complex. Consider this scenario: You delete the 4th of 7 columns, then rearrange all the remaining 6 columns by dragging them left or

[2022-07-03 20:12] Vulpine05 commented on #3344
Interesting.  I have noticed that this issue goes away when I use a debug build of the Manager.  However, when using a release build, the null "slice" returns.  I just confirmed this with the current master, building it both as a release and debug.

Obviously this is a low priority bug, but I thought I would note it.  wxWidgets version 3.1.6 for Windows 10.

[2022-07-03 22:25] Vulpine05 commented on #2068
I can fix the message to save Service Install, but it .  Looking through the code I see that the bool is defined in sched_config.h, but it is not initialized anywhere, nor is it modified anywhere.  Besides wondering if this is needed for other versions of Windows, I don't see how this message would ever be generated.

@davidpanderson , would you happen to know what may be missing?

[2022-07-03 22:35] AenBleidd commented on #2068
@Vulpine05, this option can come from the cc_config.xml as far as I see, that's why you don't see it's ever set in the code (expect initialized to the default value).

[2022-07-03 23:23] Vulpine05 commented on #2068
Because of alt_platform?  Even if it comes from cc_config, shouldn't it tell the code to do something with it?

I was looking to just work on a simple fix (i.e., changing the message).  As much as I'm curious how this works, I don't want to use up your time explaining server code that I am by no means familiar with.  It does seem odd that this error message is only for Vista.  If it should apply t

[2022-07-03 23:31] AenBleidd commented on #2068
From the changelog:
[code]
Assuming that we don't support Vista anymore, I doubt we should keep this code, and it might be better to remove it entirely.
Also, IIRC, when BOINC installed as a service on Windows, it has no access to any GPU, so mentioned issues with CUDA can't happen by design (no GPU tasks - no issues).

[2022-07-04 00:53] Vulpine05 commented on #2068
Ah, I didn't check the changelong.  I just searched for all references.

I see your point about CUDA, and that makes sense.  Vista is available as both 32 and 64 bit.  I would assume the 64 bit version would still be supported?  I haven't been paying close attention to Vista if it had been mentioned before.  Regardless, I'll leave this alone for now.

[2022-07-04 01:07] AenBleidd commented on #2068
Technically, BOINC can be installed on WIndows Vista. Not sure anybody still uses it to run BOINC. According to this statistics, number of Windows VIsta users is less than 0.25%:
https://gs.statcounter.com/windows-version-market-share/desktop/worldwide/#monthly-202106-202206-bar

[2022-07-04 07:47] CallMeFoxie opened #4826 "Quick boinc:// link to attach project"
**Describe the problem**
An easy way to add a new project to the client from a website -- register a new protocol, for example `boinc://attachonlytoken@someproject.com`

**Describe the solution you'd like**
Clicking on that link in a browser will attach that project to local BOINC instance

**Additional context**
Shouldn't be that hard, write a simple wrapper that registers into HKCR (Windows)  or

[2022-07-04 08:28] RichardHaselgrove commented on #2068
This issue arose because of changes made with the introduction of the WDDM with Windows Vista - specifically, the move of large parts of the [WDDM architecture](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/windows-vista-and-later-display-driver-model-architecture) from kernel mode to user mode.

As such, it's a generic change and a permanent change (as much as anything is perm

[2022-07-04 08:33] RichardHaselgrove commented on #2068
You can use GPUs in service mode in Windows XP and Windows 2000, but nothing later.

[2022-07-04 08:58] RichardHaselgrove commented on #2068
This function is only called once, at https://github.com/BOINC/boinc/blob/master/sched/handle_request.cpp#L1371, in the context of resending lost work.

I haven't followed the spaghetti all the way back, but it should only have been invoked if the work in question had been destined to be run on a GPU: work for CPUs runs fine in service mode on all versions of Windows.

The test should have been in

[2022-07-04 17:07] Vulpine05 commented on #1071
The source of this problem is here:
https://github.com/BOINC/boinc/blob/beb630e982da5ef8111387307ca4a4a64b42293c/client/file_xfer.cpp#L438
If the bandwidth limit is removed (i.e., changed to 0), then the function for adjusting the bandwidth limit ends at this point.  Any new transfers added to file_xfer_set are initialized to 0 (through libcurl, from what I can tell, source is [https://curl.se/lib

[2022-07-06 03:56] TunaErtemalp opened #4827 "Pull #4800 into 7.20.1 to fix #4396 seems to have not covered GPU case"
**Describe the bug**
Pull #4800 to fix #4396 seems to have possibly worked only on CPU tasks not getting pre-fetched to let PrimeGrid folk idle their resources in the quest of being the 1st to be the finder of a prime, by setting ResShare=0 & Buffer=0 (although I have seen CPU tasks in the waiting when I first started the client), however GPU tasks still seem to be pre-fetched at times.

**Steps T

[2022-07-06 17:22] TunaErtemalp commented on #4827
And, sadly, I also caught CPU tasks in waiting now, so this is not limited to only prefetching GPU tasks... :( And those currently active CPU tasks are not even in their last 3min of estimated remaining time...

![image](https://user-images.githubusercontent.com/64696922/177607667-8922b51c-211b-4301-a54f-2e1ee1365ab1.png)

[2022-07-06 17:22] TunaErtemalp commented on #4827
And, yes, I am on 7.20.1:

![image](https://user-images.githubusercontent.com/64696922/177608018-802c8d09-33a4-4416-a313-644eda027b3d.png)

[2022-07-06 17:26] AenBleidd commented on #4827
@davidpanderson, could you please take a look?

[2022-07-07 07:13] davidpanderson commented on #4827
I think I fixed it

[2022-07-07 18:15] ManAtWork opened #4831 "My Boinc Manager freeze up when adding project"
**Describe the bug**
The Bonic Manager freezes up completely when I log on my account in adding the project

**Steps To Reproduce**
1.  After receiving the notice in Bonic Manager, it requires us to change the URL of World Community Grid project to https://master.worldcommunitygrid.org. I tried to use Add Project with this new URL under World Community Grid project.
2. After that, Bonic Manager co

[2022-07-07 18:25] RichardHaselgrove commented on #4831
What keyboard input language are you using? If non-english, please switch to english and try again. I think this occurs with non-roman script languages.

[2022-07-07 21:00] Toby-Broom opened #4832 "Report GPU memory in GB vs MB"
**Describe the problem**
Reporting of VRAM is in MB so its hard to read the quantity.

**Describe the solution you'd like**
Report VRAM in GB

**Additional context**
There is not many GPUs that have less than 1 GB of VRAM now, so minimal impact to the users.  I guess it could report in MB less than 1 if really needed.

[2022-07-07 21:01] Toby-Broom commented on #4832
#1773

[2022-07-08 02:10] raisinc opened #4833 "Problem with BOINC Notice being issued - World Community Grid change of URL"
![BOINC message re World Community Grid](https://user-images.githubusercontent.com/15245461/177901872-c84a2527-b91b-4584-8db2-86babbcc2bc7.jpg)

This message keeps appearing in the BOINC Manager's Notices.
After I remove the World Community Grid project and then add it using the changed URL,  BOINC loads it but changes the URL back to the one which **IS** being used by World Community Grid (appare

[2022-07-08 06:05] RichardHaselgrove commented on #4833
Yes, there is a problem, but it's a project problem, not a BOINC problem. New owners took over the WCG, and are facing a very steep learning curve. Mistakes are being made, but hopefully will - eventually - be ironed out.

[2022-07-08 07:40] #4833 closed

[2022-07-08 17:00] talregev opened #4834 "[Manager][SimpleView] It is not possible to change skin when Manager isn't connected to the client"
Before manager is connected to client:
![image](https://user-images.githubusercontent.com/7043539/178037267-869d9b7a-5c89-4cf7-91bb-9813515a209a.png)

After it connected to client:
![image](https://user-images.githubusercontent.com/7043539/178037313-03db4ce0-c7ee-48ce-9ddd-aa48323285d1.png)

[2022-07-09 09:19] #1071 closed

[2022-07-09 10:10] #4834 closed

[2022-07-11 12:08] #4650 closed

[2022-07-12 09:39] #4612 closed

[2022-07-12 14:11] #4733 closed

[2022-07-13 22:58] #2662 closed

[2022-07-14 11:36] truboxl opened #4847 "Add clvk support"
**Describe the bug**
Currently the client fails to detect clvk driver, an OpenCL on Vulkan implementation.

**Steps To Reproduce**
1. https://github.com/kpet/clvk to clone, build, install, and manually set up its ICD
2. Run BOINC client

**Expected behavior**
BOINC client should detect clvk driver.

**Screenshots**
n/a

**System Information**
 - OS: Linux
 - BOINC Version: master branch

**Additio

[2022-07-14 23:02] #4644 closed

[2022-07-14 23:05] AenBleidd commented on #2115
@Vulpine05, assuming your current experience, maybe this is a next good ticket for you? It has a PR open, but it's not correct (you can read my comments) and I believe you're the best candidate to make this implementation in a proper way.

[2022-07-15 17:24] Vulpine05 commented on #2115
@AenBleidd sure, I can take a look.  I have read through the comments and PR, and it appears there still is some debate about what this is supposed to do or not do.  Specifically, the estimated completion column.  I'll report back after I've had time to do some testing and thinking.

[2022-07-16 09:57] talregev opened #4848 "[Bug report][Manager] When switch skins, it also change application name"
When switch skins, it also change application name:
![image](https://user-images.githubusercontent.com/7043539/179350103-0da1b797-925e-492a-a221-063f2a19c3d7.png)

[2022-07-16 09:59] AenBleidd commented on #4848
This is a feature, not a bug

[2022-07-16 09:59] talregev commented on #4848
Should I close this issue? :P

[2022-07-16 10:00] AenBleidd commented on #4848
Yes, please.
Just FYI: https://github.com/BOINC/boinc/blob/b908e8f7864fa9969198288e7d36ed08b212ffa6/clientgui/skins/World%20Community%20Grid/skin.xml#L30

[2022-07-16 10:01] #4848 closed

[2022-07-17 13:12] kpet commented on #4847
I think what boinc is doing here is perfectly fine and I've fixed device enumeration in clvk with https://github.com/kpet/clvk/pull/386.

[2022-07-19 11:43] psypherium commented on #4018
This issue is not exclusive to Windows, it is also a problem in Arch Linux, and probably other Linuxes, and my guess would be that it also happens on mac. Boinc version 7.18.1.

[2022-07-20 01:33] Vulpine05 commented on #4018
After a quick search online, apparently Windows has a power troubleshooter.  Settings-> Update & Security -> Troubleshoot, then click on "Additional troubleshooters".  There is one for Power.  @Ageless93 , could you try that if you haven't already?  I know this doesn't help with Linux.

I haven't had this problem on the two desktops and two laptops I've used BOINC (Windows 10 and Ubuntu 18.04/20.0

[2022-07-20 02:14] psypherium commented on #4018
I am experiencing this problem using multiple monitors. You may be on to something.

[2022-07-20 02:40] Vulpine05 commented on #3344
Yes, I'm beating a dead horse, but I found another instance on the BOINC help page:  [https://boinc.berkeley.edu/wiki/Advanced_view](https://boinc.berkeley.edu/wiki/Advanced_view)

This appears to date back to at least 7.6.2.

[2022-07-20 03:14] Vulpine05 commented on #4018
Well, I do have a second monitor for my work from home setup.  Let me find a DisplayPort cable or adapter and I will be able to see if I can replicate this bug.  Give me a few days and I will let you know.

[2022-07-21 03:48] Vulpine05 commented on #4018
Apparently my 1660 Ti has two HDMI ports!  I plugged in the second monitor, waited for my screen to turn off, and it did.  I rebooted, loaded BOINC again, moved the window to display 2 (the new monitor), waited, and the screen turned off.  Sorry, I can't replicate this bug.  I'm using Windows 10 and BOINC 7.20.2.

Windows is set to turn off the display after 3 minutes, no screen saver is used.  Bo

[2022-07-24 04:39] truboxl commented on #4847
Closing issue as it was fixed at clvk side.
Though the same workaround (BOINC side) somewhat improves the detection for Adreno GPU #3613, refer coproc_info.xml below:
[code]

I doubt Qualcomm will fix it like clvk did.

[2022-07-24 04:39] #4847 closed

[2022-07-25 06:49] psypherium commented on #4018
BOINC was active processing tasks during the testing?

[2022-07-25 16:54] Vulpine05 commented on #4018
Yes, tasks were running.  I may test this again another day, I am curious if any different power settings may affect this.  Although, that wouldn't necessarily explain how this occurs in Linux.

[2022-07-28 11:29] #3751 closed

[2022-07-29 15:22] sinusoid2 commented on #41
Has there been any movement or thought on this?  I have tried looking at the code, but I honestly don't know where to start

[2022-07-31 02:39] LezheGao opened #4860 "I can't see some of my project."
**Describe the bug**
In https://boinc.berkeley.edu/cert_dev.php,I can't see some of my project.

**Steps To Reproduce**
1. goto https://boinc.berkeley.edu/cert_dev.php
2. input your CPID and Name
3. Press the button

**Screenshots**
![image](https://user-images.githubusercontent.com/76685272/182007311-3742f79c-51f9-4dd6-bdbc-da79f1a3e251.png)
![image](https://user-images.githubusercontent.com/7668

[2022-07-31 02:41] LezheGao commented on #4860
I have found them when their points>100,can you fix that??

[2022-07-31 04:06] davidpanderson commented on #4860
I added a "min credit" field to the form.

[2022-07-31 07:38] LezheGao commented on #4860
OK,thanks

[2022-07-31 07:42] LezheGao commented on #4860
Wait,this problum solved.But when does this Update once？A day？？

[2022-07-31 07:48] LezheGao commented on #4860
Can you made it into 1hour or 2hours？？Thanks.

[2022-07-31 07:52] LezheGao commented on #4860
This is not myfirst problem.so I‘ll close it.......And start a new one.Expect you soulve it(I'm sorry I am so rude,but I am a chinese,I can't speek English well).

[2022-07-31 17:54] davidpanderson commented on #41
I wrote a design for a super-flexible prefs system, but realistically that's not going to happen.
I think the best thing is to add a couple of prefs to the existing system,
and reshuffle it to make it more logical.  I'll look into this.

[2022-07-31 19:19] sinusoid2 commented on #41
Where could I find this in the code to look at it myself?  I may be naive in thinking this, but couldn't it be a simple if/then or case/switch statement? INUSE ##% cores, EXCLUSIVEAPP ##% cores, ##% cores?

[2022-07-31 19:43] AenBleidd commented on #41
@sinusoid2, that's not just a logic change, there should be also a user settings to control this and set preferred values for idle and busy mode. If you want to contribute to this, I suggest you to start looking at existing settings and their usage to understand to current logic of the scheduler and then try to understand how to modify it

[2022-08-01 01:42] Vulpine05 commented on #2115
I think @davidpanderson is right in his argument [here](https://github.com/BOINC/boinc/pull/3403#issuecomment-570831940), I don't know if this is a good feature to implement, at least as a new column in the task tab.  There are a few things that concern me:

1. With this extra column, each active task is going to have its estimated completion (EC) updated once a second.  This information is going

[2022-08-01 01:43] LezheGao commented on #4860
Wait，I still can‘t see my iThena:
![image](https://user-images.githubusercontent.com/76685272/182056643-c55cc870-2a8f-4eec-bf38-6dafcca883ff.png)
![image](https://user-images.githubusercontent.com/76685272/182056660-41c0c4f3-0e28-4b9a-9cf8-66fcbc53fbba.png)

[2022-08-01 01:43] LezheGao commented on #4860
Is this a problem about the "min credit"?

[2022-08-01 01:59] davidpanderson commented on #41
Here's a scheme with a couple of new prefs, organized better.  Comments?
-----------------------
When computer is in use
    "in use" means no input in X min
    Use at most X% of the CPUs
    Use at most X% of the CPU time
    suspend if non-BOINC CPU usage exceeds X%
    Suspend all computing
    Suspend GPU computing
    Use at most X% of memory
When computer is not in use
    Use at most X% of

[2022-08-01 02:12] makeasnek commented on #41
David's proposal sounds lovely

[2022-08-01 02:22] LezheGao opened #4861 "I can‘t see my iThena"
I can‘t see my iThena:
![image](https://user-images.githubusercontent.com/76685272/182056643-c55cc870-2a8f-4eec-bf38-6dafcca883ff.png)
![image](https://user-images.githubusercontent.com/76685272/182056660-41c0c4f3-0e28-4b9a-9cf8-66fcbc53fbba.png)
![image](https://user-images.githubusercontent.com/76685272/182060037-d8132dca-e159-48f5-985c-2ca51626f715.png)

_Originally posted by @LezheGao in https

[2022-08-01 02:22] #4860 closed

[2022-08-01 02:22] CharlieFenton commented on #2115
While I added code several years ago to allow a user to hide or show columns, and on MS Windows to rearrange them, there are already too many columns to display on most monitors.

I think this is an extremely important point that gets overlooked far too often. The BOINC power users represent a tiny percentage of the BOINC community, or perhaps more accurately, the size of the BOINC community we wi

[2022-08-01 07:45] AenBleidd commented on #2115
@CharlieFenton, this is not related to this particular PR but I need to mention this.

I don't agree. In general yes, we should make UI as simple as possible but sometimes some setting should be changed and when it's not available on UI - it's extremely hard to explain to "mom and pop" users how to edit properly configuration file (that has an XML format and is not easy to use).
I'd think about an

[2022-08-01 08:14] CharlieFenton commented on #2115
@AenBleidd I think your suggestion about having an "advanced" or "expert" mode is fine, though we already call the detailed GUI "Advanced View." I have also long thought that we need some view between Simple and Advanced, but as you say we don't have the resources to do that.

I'm sorry I was not clear. I was referring to only those very advanced and rarely used settings which are of  interest onl

[2022-08-01 08:20] putianyi889 commented on #4014
Can BOINC switch the keyboard mode automatically when it detects Microsoft Pinyin?

[2022-08-01 11:41] sinusoid2 commented on #41
David, looks good.  Small fix, your first line un in use should be something along the line of "in use" means input in X min (pull out the "no")

[2022-08-01 19:50] davidpanderson commented on #2115
I think the GUI (both views) should have 3 options,
Low power / Standard / Maximum computing
(like the Science United web interface)
with an Advanced button showing the complete set
(with tooltips explaining each one)

[2022-08-02 01:43] LezheGao commented on #4861
Well,I can see it on Free-DC

[2022-08-02 02:23] Vulpine05 commented on #2115
Sorry, I didn't mean to get this off topic for this issue!  Considering what has been said, I could add this feature as @AenBleidd has suggested (keeping the column un-selected).  It wouldn't take much to tidy up #3403.  A separate window as I suggested yesterday would take a bit more effort on my part, and to @CharlieFenton 's point, there are other fixes that I can focus on that affect more user

[2022-08-02 06:52] AenBleidd commented on #2115
One more comment about this. If show this column, then update it for running tasks only, otherwise it will anyway show not relevant information

[2022-08-02 10:46] Vulpine05 commented on #2115
The PR does that already, but the field doesn't refresh.  If you move the mouse over the task it will update, and in your example turn to '---'.  To your point, I can fix it to display properly.

[2022-08-02 20:53] #4327 closed

[2022-08-02 21:18] davidpanderson commented on #41
I implemented the new prefs in the dpa_niu_prefs branch.
The web interface now looks like this:
https://setiathome.berkeley.edu/prefs.php

Please review; I want to make sure people like this before
making the corresponding changes in the Manager.

[2022-08-03 01:19] makeasnek commented on #41
Looks like one needs a login to see this? I am so excited for this change, this will easily double the amount of computational power I can give to BOINC

[2022-08-03 01:28] Vulpine05 commented on #41
It looks like SETI@home is used as a live test, so if you have SETI@home you can log in.  If not, here is a screen capture:

![image](https://user-images.githubusercontent.com/58096400/182504139-7350a0fc-cdcf-4743-a7f2-3f75e927912f.png)
![image](https://user-images.githubusercontent.com/58096400/182504168-8dda85f2-d271-44bf-be32-6c4a9e9eaf22.png)

@davidpanderson, if we're looking for a broader po

[2022-08-03 01:31] makeasnek commented on #41
This looks awesome!!

[2022-08-03 01:54] davidpanderson commented on #41
@Vulpine05 Feel free to gather feedback - thanks.

[2022-08-03 02:03] Vulpine05 commented on #41
@davidpanderson will do.  Its getting late and I want to be sure the message is well written, so I will probably get to it tomorrow.  In the meantime, I'm going to play devil's advocate.

On one hand, this looks pretty good.  My only comments on this format would be:
1. Suspend when non-BOINC CPU usage is listed in both 'When computer is in use' and 'When computer is not in use'.  I think it shoul

[2022-08-03 02:05] sinusoid2 commented on #41
Looks good to me.  I would like to see a further step personally.  I know there are exclusive apps that stop it all together, but with so many cores even exclusive apps could probably just be limited to a user preference as well.

[2022-08-03 02:16] davidpanderson commented on #41
That sort of thing would be handled by the ultra-general framework described here:
https://boinc.berkeley.edu/trac/wiki/Prefs2
However, implementing that would be a gargantuan task.

[2022-08-03 02:21] davidpanderson commented on #41
I'll change "Tasks" to "General".

"non-BOINC CPU usage" appears in both places because there are potentially 2 different limits,
e.g. a low limit while in use, and a higher limit while not in use
(but possibly still running CPU-intensive jobs, like a server node).

[2022-08-03 09:26] AenBleidd opened #4863 "Skins are not shown when running BOINC installed with Flatpak"
Currently there are two issues with Flatpak installation:
- [x] Skins are not included in the package. Reference: https://github.com/flathub/edu.berkeley.BOINC/issues/6
- [x] Skins can't be found because Flatpak has a different structure of file, and we're not looking there.

The second issue is also relevant for the upcoming Snapcraft package.
Need to find a better way to search for skins

[2022-08-03 11:45] Vulpine05 commented on #41
@davidpanderson, what changes, if any, will be in simple view?

I think we should move the conversation for reformatting the preferences to another issue, also.

[2022-08-05 17:49] sbouet opened #4870 "All projects are in delayed communication permanently"
Can you help me, please !
In advance, thanks you

BOINC events log :

[code]

[2022-08-05 17:53] AenBleidd commented on #4870
This delay is expected to not flood message with very frequent requests.
The issue you have is basically because all projects you have added currently have no tasks available.
Try to add more projects.

[2022-08-05 17:53] #4870 closed

[2022-08-06 01:46] LezheGao commented on #4861
Now I can see it

[2022-08-06 01:46] #4861 closed

[2022-08-06 18:56] kotenok2000 commented on #4571
Still happens on 7.20.2

[2022-08-07 14:23] AenBleidd opened #4872 "[Coverity] sizeof finding"
New issue found by Coverity:
https://github.com/BOINC/boinc/blob/ce3cf4dfe1c2d56c9df99cc9c62e85be0a59ec07/client/file_names.cpp#L325-L329
![image](https://user-images.githubusercontent.com/3234209/183295287-d6a551cf-2766-4e01-82e2-ad85f3273fe5.png)
![image](https://user-images.githubusercontent.com/3234209/183295338-b302ca0f-48ef-4312-ba70-8048a8ed5814.png)

@computezrmle, since this was introduce

[2022-08-07 16:39] davidpanderson commented on #4872
Let's avoid sweeping changes that don't fix any actual problems.

[2022-08-07 17:25] Jord-NL opened #4873 "Android BOINC 7.18.1 pauses when run on DC power with battery setting turned off"
As per https://boinc.berkeley.edu/forum_thread.php?id=14310&postid=109523
User prefers to be answered via the forums, if that's possible, due to dyslexia and these boards being confusing to them.

[2022-08-07 17:38] Ageless93 commented on #4873
(And yes, I made a new account because I forgot I changed my email address... no worries, is all me. 😀)

[2022-08-07 19:19] AenBleidd commented on #4872
@davidpanderson, sorry, my bad. That's an issue that was found after an improvement I asked @computezrmle for. I made this ticket just for easier tracking of it by myself.

[2022-08-08 07:31] #4872 closed

[2022-08-08 22:23] TechMasse commented on #4873
Huawei P9 (_Android 7_) - same as Case #1 too.

(_Headline incorrect, it pauses only - Case #3. Yes, I'm the one who reported these issues._)

[2022-08-09 20:51] AenBleidd opened #4877 "[CI][OSX] Verify build for universal libraries"
In #4849 universal lib verification was added to cmake build.

The next code need to be adapted to verify in general CI flow ( https://github.com/BOINC/boinc/blob/master/mac_build/buildMacBOINC-CI.sh ) after **every** target the files that were built during each particular target.

[code]

This will help to see where the issue happens (if any) and have a list of affected binaries and the targets t

[2022-08-09 20:57] AenBleidd opened #4878 "[Manager] Add possibility to search for skins in multiple locations (including user accessible)"
Current implementation of skins search allows only one directory where skins could be located.
It would be nice to have a possibility to support multiple locations (installation default + user accessible) to look for skins.
User accessible locations could be next:
- [ ] linux - `$HOME/.boinc/skins`
- [ ] OSX - `$HOME/.boinc/skins`
- [ ] Windows - `%LOCAL%\BOINC\skins`

---
This feature was request

[2022-08-09 21:01] AenBleidd commented on #4014
@putianyi889, is this issue still reproducible on BOINC 7.20.2 ?

[2022-08-09 21:06] putianyi889 commented on #4014
@AenBleidd No. I was on 7.16.11 which couldn't fetch update automatically. 7.20.2 works.

[2022-08-09 21:18] AenBleidd commented on #4831
This should be already fixed in BOINC 7.20.2.

Closed as a duplicate of #4014

[2022-08-09 21:18] #4831 closed

[2022-08-09 21:27] AenBleidd commented on #4863
Should be solved in other way (e.g. #4878)

[2022-08-09 21:27] #4863 closed

[2022-08-10 01:31] CharlieFenton commented on #4878
OSX - $HOME/.boinc/skins

These would require each user to have a copy of the skins. At least on MacOS, all users share the same BOINC directory and the same running instance  of the client, though each user launches their own running instance of the Manager (launched from one copy on the disk.)

[2022-08-10 04:16] AenBleidd commented on #4878
The idea here is to allow users to install custom skins in addition to existing that are provided with the installer.

[2022-08-10 04:18] AenBleidd commented on #4877
Not needed anymore

[2022-08-10 04:29] #4877 closed

[2022-08-10 06:50] CharlieFenton commented on #4878
OK. I guess there is no harm in that, as long as the View->Skin menu (in Simple View) shows all skins from both the standard (default) location and `$HOME/.boinc/skins`. But users can add custom skins to the same directory with the standard skins provided by the installer, at least on Mac and Windows.

However, `$HOME/.boinc/skins` is not a good place for this on MacOS. The MacOS GUI hides directo

[2022-08-10 06:51] CharlieFenton commented on #4878
Please use the existing user-specific BOINC directories rather than creating new ones.

[2022-08-10 07:23] AenBleidd commented on #4878
@CharlieFenton, I added these directories as an example, so before making this change I'll definitely clarify first with you and David what are the best locations for all 3 OSs

[2022-08-10 11:37] RichardHaselgrove opened #4879 "[Manager] [Website] New version notification not working for M1 Mac"
**Describe the bug**
User report: has a M1 mac mini and an i5 Intel iMac. The i5 was notified of v7.20.2: the M1 wasn't.

On advice, he downloaded manually from the 'download all' page and reports successful upgrade from previous v7.16.21

https://boinc.berkeley.edu/forum_thread.php?id=14749

**System Information**
 - OS: OS X 'Monterey' 12.5
 - BOINC Version: 7.16.21 to 7.20.2 upgrade
 - Project:

[2022-08-10 12:38] AenBleidd commented on #4879
Manager sends notification about new version once in 28 days (IIRC), so I believe this is just a bad timing.

[2022-08-10 13:02] RichardHaselgrove commented on #4879
Read the linked thread, especially the opening post. User explicitly states:

after seeing and acting on the i5 notice.

[2022-08-11 10:42] CharlieFenton commented on #4879
I think I've fixed this. It was an omission from the _versions.inc_ file, which has this comment:

// Apple Silicon (ARM64) Macs, but the two architectures
// report different primary platforms so we need to include
// these builds in both the $mac and $mac_arm arrays for
// the client's New Version Check code to handle them properly.
// See GitHub Issue #4551 for more details.

However, when 7.20

[2022-08-11 10:43] CharlieFenton commented on #4879
My M1 Mac is being replaced by Apple due to a problem so I can't test that I've actually fixed this until the new unit arrives, which may be 2 weeks or longer.

[2022-08-11 11:31] RichardHaselgrove commented on #4879
I see you've already commented in the message board thread. Sometimes the message boards are worth reading!

[2022-08-12 06:31] davidpanderson opened #4880 "Win screensaver doesn't go away"
Win 10: I selected the BOINC screensaver.  It kicked in and worked OK,
but when I moved the mouse it didn't go away.
Instead the screen went black except for a small box at the LL corner that said "BOINC".
I had to use the Task Manager to get rid of the screensaver.

[2022-08-12 11:18] AenBleidd commented on #4880
I'll take care about this issue

[2022-08-13 18:43] Toby-Broom opened #4882 "Working set size incorrectly set"
**Describe the problem**
For the LHC@Home project to let BOINC schedule the tasks own its own the "Max # jobs" needs to be set to "No limit".

However when this is enabled then the BOINC client assume every WU needs 9.96 GB of memory, regardless of what the VM is configured for.

**Describe the solution you'd like**
I could set the cmdline XML element to force a lower quantity of memory and this w

[2022-08-13 19:09] davidpanderson commented on #4882
I don't understand the problem; please clarify.

[2022-08-13 20:34] Toby-Broom commented on #4882
I added some pictures.

Maybe also there is some issues with Max # of jobs / Max # CPUs since only when both are set to unlimited does BOINC "store at least" n days of work.

[2022-08-13 22:39] davidpanderson commented on #4882
The code (app.cpp) has
        if (atp->app_version->is_vm_app) {
            // the memory of virtual machine apps is not reported correctly,
            // at least on Windows.  Use the VM size instead.
            //
            pi.working_set_size_smoothed = atp->wup->rsc_memory_bound;
        } else {

... which is the source of this problem.

So we need to figure out
1) do OSs other than Win

[2022-08-13 23:15] Toby-Broom commented on #4882
A CMS task reports less
![image](https://user-images.githubusercontent.com/27242647/184516122-c1ed2148-83d2-4bde-ba83-f1f77eb4e747.png)

So it reflects the values in the client_state.xml

CMS = 3000000000
Theory = 700000000
ATLAS = 10695475200

If you force another number in appconfig then it doesn't override

I can check on linux

[2022-08-13 23:30] Ageless93 opened #4883 "BOINC 7.20.2 will not install on Windows 11: Error 1719. Windows Installer service could not be accessed"
As reported via the [BOINC forums](https://boinc.berkeley.edu/forum_thread.php?id=14752) by two independent people. They've run all the options I've given them to check that it wasn't the Windows Install service that's the problem here. They can install other programs without a problem. They cannot install BOINC 7.20.1 because of "Error 1719. Windows Installer service could not be accessed."

So t

[2022-08-14 08:05] AenBleidd commented on #4883
I'll check this.

[2022-08-14 09:08] AenBleidd commented on #4883
I was not able to reproduce this on clean WIn11 21H2 (Build 22000.739) installation.
I need some additional information:
- is this an issue with regular installer or installer with VBox?
- does this happen when installing BOINC by default or as a service?

I remember I saw similar issue when some other installations stucks and there was some processes like 'msiexec.exe' running that were not relat

[2022-08-14 09:47] Toby-Broom commented on #4882
I changed my Max # CPUs to 1, so the working set in client state is 4089446400 but  BOINC now has no work buffer, when one job is completed then it gets one.

waiting for Linux machine to get some new tasks

[2022-08-14 11:35] Toby-Broom commented on #4882
Here is default on Linux
![image](https://user-images.githubusercontent.com/27242647/184534806-999063d6-b9e1-4f2c-a265-1119c6dd4dce.png)

[2022-08-14 11:59] Toby-Broom commented on #4882
On windows the VM size is wrong due to the way the kernel handles virtualization, the true ram usage is in private data WS not in the image size

[2022-08-14 20:30] davidpanderson commented on #4882
Is there a way to get the RAM usage on Windows?

[2022-08-14 20:54] AenBleidd commented on #4882
I can check this

[2022-08-14 21:08] Toby-Broom commented on #4882
Something like this?
https://www.codeproject.com/Articles/87529/Calculate-Memory-Working-Set-Private-Programmatica

[2022-08-14 22:39] bradlewt commented on #1471
WIN11.  Suspend when computer is on battery checked, but BOINC still computes when UPS is engaged, this runs the UPS down in 20 min.  Currently UPS controlled by UPSmart.

[2022-08-15 00:29] davidpanderson commented on #4882
The 2nd link looks promising.

[2022-08-15 01:35] KeithMyers commented on #1471
You will have to grab the fix in [#3425](https://github.com/BOINC/boinc/pull/3425) and compile your own client and give it a try.
Detecting whether the computer is on a UPS is supposed to work on Windows.  At least it does for Windows laptops.
The fix in [#3425](https://github.com/BOINC/boinc/pull/3425) is just for polling Upower interface in Linux which changes the status polled by apcupsd.
Sound

[2022-08-15 14:33] Ageless93 commented on #4883
I forwarded what you asked, but getting silence back. Also on questions I asked earlier. Waiting game.
Now, there is a bug in Windows 11 that stops the Windows Installer from working, but they managed to get through all the tests and fixes for that without it fixing their problem. When I asked them if they could download and install any other installer - I pointed to Notepad++ - one answered he co

[2022-08-15 14:48] AenBleidd commented on #4883
We're using very old InstallShield, so if there is some incompatibility with Win11 - I'll be not surprised

[2022-08-15 15:23] RichardHaselgrove commented on #4883
I have a Windows 11 laptop. Until about 10 minutes ago it had BOINC v7.16.20 installed: it now has v7.20.2

The process seemed entirely normal - check options, agree license, remove old version, install new version, run. No error messages, nothing unexpected.

Laptop was supplied with Windows 10 OEM (Dell), upgraded in situ by downloaded Win 11, updated regularly since. BOINC was/is standard versi

[2022-08-15 15:30] RichardHaselgrove commented on #4883
The original reporter on the message board was also upgrading from v7.16.2 (may be typo for .20) to 7.20.2 - not as the issue title says. He doesn't mention whether VBox or not, but otherwise seems to be the same pathway.

[2022-08-15 17:07] Toby-Broom commented on #4882
So if the VM size is fixed then it would start new work based on the delta of free memory vs VM size? now it seems to do based on WS size which is wrong from project

[2022-08-16 06:47] AenBleidd commented on #4701
This will require a lot of additional efforts to implement this.

Currently we have no plans to move everything to vcpkg, so I'm closing for now.

[2022-08-16 06:48] #4701 closed

[2022-08-16 10:49] C029s-MOC opened #4887 "Random Manager freezes on Windows"
**Describe the bug**
Literally freeze , the manager just will not do anything and won't react to mouse clicks and window resizing......anything.
The only thing you can do is terminate the app in Windows task manager

**Steps To Reproduce**
1. Open the manager
2. Repeatedly resize the window , add projects , switch between views
3. The manager will freeze

**Expected behavior**
The manager should b

[2022-08-16 11:14] C029s-MOC commented on #4887
Additional content : when adding a project , a window with the text "Communicating with BOINC Client" will not appear when the manager windiw is not on the main monitor (Dual screen setup)

[2022-08-16 11:57] RichardHaselgrove commented on #4887
I think the display of alert dialogs on the main monitor only, even if the issuing application is using a secondary monitor, is a Windows 'feature', not easily overcome.

With regard to your main issue: I too see Manager freezes - but they are brief, and recover after a few seconds at most. I believe it happens when the underlying boinc client is busy, either with spawned computational processes,

[2022-08-17 12:36] Ageless93 commented on #4883
The second reporter reports his OS as:

Could it be the beta pack he has (Richard has an older one)? I have at least asked him to report it to Microsoft as well.

[2022-08-18 02:01] Vulpine05 opened #4888 "[Manager] When hiding a column after moving scroll bar, Manager crashes"
**Describe the bug**
When hiding a column, the Manager will crash if the scroll bar is not in the far-left position.  This only happens when you hide a column on the tab that is currently in view, AND there are items in the tab.  I can reproduce this easily in the Projects and Tasks tabs, but I couldn't reproduce this in the Transfers tab, probably because there were no items in that tab.

When th

[2022-08-18 13:14] C029s-MOC commented on #4887
I have developed a habit of suspending all tasks , even restarting the PC before adding a project , but this sitll troubles me sometimes , maybe the network environment in China isn't that good for it to communicate THAT well with a project

[2022-08-19 01:53] #4782 closed

[2022-08-19 07:15] ckrause opened #4890 "Apple M1 Platform Support"
**Describe the problem**
Most new Macs are running on Apple M1 silicon (ARM-based). This architecture is currently not supported by BOINC:
https://github.com/BOINC/boinc/blob/master/tools/project.xml

**Describe the solution you'd like**
Support Apple M1 platform (ARM-based) including the BOINC client / manager and the wrapper app.

[2022-08-19 09:38] CharlieFenton commented on #4890
All BOINC releases since version 7.16.12 (17 November 2020) have had full M1 support. They have all been universal binaries with both native Apple Silicon and native Intel code.

[2022-08-19 10:35] RichardHaselgrove commented on #4890
The Einstein project also has native M1 science applications, but I'm not aware of any others. I can't comment on the status of the wrapper.

[2022-08-19 10:37] AenBleidd commented on #4890
Closing this as invalid since everything that should be done is already in place and tested.

[2022-08-19 11:03] CharlieFenton commented on #4890
I have uploaded a Universal binary (x86_64 and arm64) of the wrapper app to the server. You can download it [here](https://boinc.berkeley.edu/dl/wrapper_26017_universal-apple-darwin.zip).

[2022-08-19 13:05] #4890 closed

[2022-08-19 13:07] AenBleidd opened #4892 "[CI] Add 'samples/wrapper/BuildMacWrapper.sh' to CI build flow"

[2022-08-19 14:17] ckrause commented on #4782
Can you please upload the binary of the wrapper app to https://boinc.berkeley.edu/dl/ ?

[2022-08-19 15:20] AenBleidd commented on #4782
Once it will be released - it will be uploaded there. Please wait a bit.

[2022-08-19 20:22] Ageless93 opened #4893 "Move multiple messages at once to a different thread"
A function us moderators could use is one where we have multiple posts in a thread that need to be moved to a different thread. Now it's done manually, one by one. While even using tabs in the browser makes it somewhat easier, it is still quite a hassle. Therefore, since we can delete multiple private messages by checking their check mark boxes and clicking the Delete these option at the bottom, I

[2022-08-20 03:37] CharlieFenton commented on #4892
The BuildmacWraspper.sh script probably won't need to be modified to run under CI, but both Makefile and Makefile_Mac will need modification, since it doesn't make sense to add the Mac Wrapper builds to CI without also adding the Windows and Linux builds. (I don't know if there is an Android version of Wrapper.)

Building the Wrapper depends on linking it with several BOINC libraries which must ha

[2022-08-20 04:40] CharlieFenton commented on #4892
Actually, I'm not sure about this, so you might want to test it. At least in the case of the Mac, when _BuildmacBOINC.sh_ is run on a local computer, it puts the built libraries as well as the intermediate files (*.o, etc.) into the source tree under the _mac_build_ directory, which is where the Wrapper _make_ files expect to find the built BOINC libraries. And the wrapper builds put the generated

[2022-08-20 04:44] AenBleidd commented on #4892
We have already build CI flows for win/Linux/Android to build on every PR or push to master. Having the same done for osx would be nice and consistent. I'll check this script and will try 5o do the same we have already for osx CI flow. I doubt this will require changes in Makefile but let's see. I have limited access to osx device to test both local and CI builds.

[2022-08-20 07:59] CharlieFenton commented on #4892
I did not know we were already building the Samples for other platforms under CI. In that case, it may work for macOS without major changes.

[2022-08-20 11:09] CharlieFenton opened #4895 "Certain project website computing prefs fail to synchronize"
While testing the code for PR #4871, I found that if my global_prefs.xml file has prefs from either Rosetta@home or Einstein@home, I cannot get them to propagate at all to each other or to any of my other projects: NFS@home, PrimeGrid or LHC@home. If the prefs are from NFS@home, PrimeGrid or LHC@home, they propagate correctly to all of the other 3 from that list, but do not propagate at all to Ros

[2022-08-20 16:26] TechMasse opened #4896 "[Android] 7.18.1 don't transfer WUs in any direction"
**Describe the bug**
Stopped to transfer WUs in both directions. Other functions w/o problems.

**Steps To Reproduce**
1. An ASUS Zenfone 3 has so far completed 44 WUs, uploaded those and got new ones.
2. Now, it refuses to send finished and recieve new ones.

**Expected behavior**
The app have finished 18 WUs ready to send, according to task page. At project page, it expects to receive 8 new and

[2022-08-21 14:05] #4896 closed

[2022-08-22 08:15] squid-f opened #4899 "7.20.2 : pre-release or stable production release"
**Describe the bug**
When building and running boinc-client and boinc-manager, "BOINC Manager (Pre-release)" appears as a headline on the boinc-manager window bar.

**Steps To Reproduce**
1. Build 7.20.2 for source, using the tarball provided
2. Start client and open manager
3. Look at the headline on the boinc-manager window bar

**Expected behavior**
Pre-release should not appear, assuming it is

[2022-08-22 08:20] AenBleidd commented on #4899
@squid-f, are you using tarball from this tag https://github.com/BOINC/boinc/releases/tag/client_release%2F7.20%2F7.20.2 ?

[2022-08-22 08:27] squid-f commented on #4899
Yes, I am using https://github.com/BOINC/boinc/releases/tag/client_release%2F7.20%2F7.20.2

[2022-08-22 08:33] RichardHaselgrove commented on #4899
@LocutusOfBorg PPA also displays pre-release.

[2022-08-22 09:21] RichardHaselgrove commented on #4899
The problem is at
https://github.com/BOINC/boinc/blob/client_release/7.20/7.20.2/version.h.in#L24

[2022-08-22 09:37] AenBleidd commented on #4899
@RichardHaselgrove, you are looking at master branch. On release it should be everything fine: https://github.com/BOINC/boinc/blob/82d0a3731c743884b6e7a25d68c6558eca691635/version.h

[2022-08-22 09:52] team109 opened #4900 "VirtualBox can't be blamed this time"
**The bug**
I'm running on VirtualBox 6.1.32 and I have 4 virtual machines of my own.They are able to run normally when Hyper-V is open ,though Hyper-V cannot run when VirtualBox is even only installed.However lhc@home shows CPU virtualization support is off.So do GPUGrid.Only after I disabled Hyper-V through bcdedit and then restart can I run lhc@home again.It seems that,it's boinc who fights wit

[2022-08-22 09:52] CharlieFenton commented on #4899
The Mac release of BOINC 7.20.2 does not display _pre-release_. It was, of course, built from the _client_release/7.20/7.20.2_ tag on GitHub.

[2022-08-22 09:52] team109 commented on #4900
Please forgive me that English is a second language.

[2022-08-22 10:12] RichardHaselgrove commented on #4899
No, my code link explicitly pointed to the client_release/7.20/7.20.2 tag in the release branch.

But it pointed to a different file, version.h.in - I haven't yet checked whether/if that would influence the clientgui source tree.

[2022-08-22 10:14] AenBleidd commented on #4899
@RichardHaselgrove, sorry, my bad. I'll check it out. Thank you for doing this.

[2022-08-22 10:33] squid-f commented on #4899
Hi. Just checked version.h from the source tarball I have. Pre-release tag is commented:
[code]

[2022-08-22 10:35] RichardHaselgrove commented on #4899
And in version.h.in?

It's usually active in development branches, but de-activated (commented out) when a branch is considered ready for release.

[2022-08-22 10:37] squid-f commented on #4899
Bingo! It is set in version.h.in:
[code]

[2022-08-22 10:59] AenBleidd commented on #4899
I'll fix that for the next release. Thank you all for the report and investigation

[2022-08-22 19:05] #4899 closed

[2022-08-22 19:05] #4502 closed

[2022-08-23 08:08] RichardHaselgrove opened #4902 "[Linux][Manager] Subsidiary windows blank from skinned Simple View"
**Describe the bug**
When using Simple View from a skinned Linux Manager (default skin), subsidiary windows (notices, preferences) appear blank. In fact, they contain white text on a white background.

User report, confirmed: https://boinc.berkeley.edu/forum_thread.php?id=14770

**Steps To Reproduce**
1. Open Linux Manager
2. Switch to Simple view
3. Open sub-windows

**Expected behavior**
Text sh

[2022-08-24 01:22] team109 commented on #4900
Yes it can be reproducted simply by

[2022-08-24 11:20] CharlieFenton commented on #4895
Found the problem was that I was attached to the  Rosetta@home and Einstein@home projects with different email addresses from the ones I use for other projects, and from each other..

[2022-08-24 11:20] #4895 closed

[2022-08-24 21:16] kotenok2000 opened #4903 "When i disable leave non-gpu tasks in memory and suspend computing tasks stay in memory."
**Describe the bug**
A clear and concise description of what the bug is.
When i disable leave non-gpu tasks in memory and suspend computing tasks stay in memory.
**Steps To Reproduce**
1. Run several non-gpu tasks.
2. Disable  leave non-gpu tasks in memory.
3. Suspend.
4. Open task manager.

**Expected behavior**
A clear and concise description of what you expected to happen.
Suspending kills task

[2022-08-25 04:23] Isocosmic opened #4904 "Invalid Client RPC password. Try reinstalling BOINC. How to troubleshoot on Windows"
**BOINC Manager Connection Error "Invalid Client RPC password. Try reinstalling BOINC" pops up, all my projects have disappeared and BOINC Disabled **

BOINC Status: not connected to client.

_How it all started_

My projects were not running when System was idle, it said system is busy & no computations @ all, so changed preferences, still same issue persisted.

Then wanting to monitor why no com

[2022-08-25 08:26] RichardHaselgrove commented on #4904
Some thoughts appropriate for this forum.

1. It's 99%+ certain that this error message is **false** - there's nothing wrong with the password, and re-installing BOINC won't improve the situation.
2. In general, this message seems to appear when the client becomes too busy to handle communications with the Manager.
3. Sometimes, that happens when the client is communicating with a project server.

[2022-08-25 12:33] Isocosmic commented on #4904
Mr. Richard Haselgrove.

**Issue Resolved** Thank you for your assistance.

Suggested Solution by BOINC ALPHA:

"You cannot run all debug flags at the same time, that's more information per second than an RPC can handle"

you have to go to the data directory, search for **cc_config.xml** edit it (with a plain text editor) and **change all the debug flags to 0 (zero)**, bar task, sched_ops and file

[2022-08-25 12:33] Isocosmic commented on #4904
RESOLVED

THANK YOU

[2022-08-25 12:33] #4904 closed

[2022-08-25 12:46] Vulpine05 commented on #4904
We could run a check to see how many event log check boxes are selected.  If it exceeds a certain number, a dialog box can pop up telling the user to reduce the amount of options.  I am not sure what that quantity is, but this should be fairly easy to add.

We could possibly do the same when reading the event log flags in starting up, too.

[2022-08-25 13:07] Ageless93 commented on #4904
It's not the quantity of check boxes, but which ones. There are two or three that generate an enormous amount of traffic and when selected at the same time, they overwhelm the amount of traffic the RPC can handle. It's easy to generate up to 1,500 lines per second, while the RPC can only handle something like 1,000 lines.

Flags like <rr_simulation>, <rrsim_detail>, <work_fetch_debug> are high tra

[2022-08-25 13:10] RichardHaselgrove commented on #4904
It's not really just a case of 'how many' - a lot are very benign, and produce very little traffic. It's the few that generate a large number of lines, regularly and frequently, that are the problem.  rr_simulation, work_fetch, and the http pair come to mind as examples. I wondered if we could come up with an agreed list. and separate those out into a "Here lies danger" list: then we could restric

[2022-08-25 13:10] AenBleidd commented on #4904
So maybe just make like a warning when saving settings with any of these flags saying that this will might lead to an issue?

And it's not generally possible to make a recovery of client from Manager because they might not be on the same machine.
So, recovery should be kept manual and not automatic.

[2022-08-25 13:11] AenBleidd commented on #4904
@Ageless93, @RichardHaselgrove, this sounds like a new feature request. Could please any of you create a new ticket with a proper description, and then we can continue this discusiion there

[2022-08-25 13:12] Ageless93 commented on #4904
There is already a "Default" button on the Event Log Flags window, but you can't reach it or use it when BOINC Manager cannot connect to the client. The same will happen to any other "default" button in the manager.

We probably more need a different description than "More info..." on the link to the explanation of what each flag does, or a mouse-over message on each one saying what they do and on

[2022-08-25 13:14] AenBleidd commented on #4904
I don't agree. Users should be able to do whatever they, they only thing we should do is to warn them about the consequences

[2022-08-25 13:16] RichardHaselgrove commented on #4904
On your previous point - if this dialog is generated as an 'event in service', we could save a record of 'last host contracted' and 'data folder used'. If the last host was blank or localhost, reversion to default should be possible.

[2022-08-25 13:20] AenBleidd commented on #4904
@RichardHaselgrove, we can discuss this, but from my point of view, this is a very rare case, and it will work under very special conditions (local machine only). Also, it will require a lot of additional verifications like 'do this repair on request when no client is connected, and user should start BOINC Manager with a very special command line parameters to not try to connect to the client auto

[2022-08-25 13:22] AenBleidd commented on #4904
What we could probably do is to make a separate tool (repair?) that could repair some wrong settings, but this definitely should be separated from Manager

[2022-08-25 19:00] Ageless93 commented on #4903
Tasks will stay in memory when they haven't checkpointed yet. Some tasks have very long times between checkpoints, others may not checkpoint at all (is this still true though?). If a task hasn't checkpointed at least once, it will stay in memory with this option disabled and BOINC still running.

[2022-08-25 22:33] Ageless93 commented on #4900
By default Hyper-V will disable VirtualBox when it detects that the other hypervisor is installed, this is because they can't both be using the virtualization (VT-x) on the CPU at the same time. There are ways around that (https://www.how2shout.com/how-to/use-virtualbox-and-hyper-v-together-on-windows-10.html) but you'll have to test whether that works that way on Windows 11 as well.

The above wi

[2022-08-25 22:38] Ageless93 commented on #4887
I always saw this behaviour when large tasks were loading into memory, or a new VM was loading into VirtualBox. Opening Windows Task Manager would show what was happening, and the problem would go away after a while, when things were loaded and running.

[2022-08-25 22:45] Ageless93 commented on #4883
One of the users reported that he finally managed to install BOINC, just kept retrying. We haven't heard from the other user.

[2022-08-26 00:17] team109 commented on #4900
Yes I was using as that link says, the paravirtualization interface was set to Hyper-V, and my own vm was working all right, that's the problem.
Besides, Windows 10 Home *is* able to run Hyper-V service. It's easily searched that you only need to run this bat:
[code]

[2022-08-26 16:15] Ageless93 commented on #4900
BOINC devs, see https://www.how2shout.com/how-to/download-and-install-hyper-v-on-windows-10-home.html for how to do this. I'm not sure we'd want to add something to the user's computer without their express acknowledgment.

[2022-08-27 06:51] team109 commented on #4900
Well, you can teach them to do it themselves.

[2022-08-27 06:52] team109 commented on #4900
Anyway the problem is that VirtualBox is working all right but BOINC shows no virtualization support.

[2022-08-28 01:21] sam8641 opened #4906 "Boinc client won't start with cc_config, exclude_gpu, device_num=99"
**Describe the bug**
Boinc client fails to start when cc_config.xml have exclude_gpu, device_num=99. The only error message is from BOINC manager, "The BOINC client has exited unexpectedly 3 times within the last 3 minutes".

**Steps To Reproduce**
1. Open cc_config.xml
2. `<cc_config><exclude_gpu><url>http://milkyway.cs.rpi.edu/milkyway/</url><device_num>99</device_num><type>ATI</type></exclude_g

[2022-08-28 01:56] Vulpine05 commented on #4906
I can replicate this.  Windows 10, BOINC version 7.20.2.  Slight change from ATI to NVIDIA to account for my GPU.

I'm not familiar with the coprocessor settings in cc_config, but shouldn't that be defined in your file as well?  Regardless, if someone erroneously enters the wrong device number in the xml file, this shouldn't stop BOINC from running.

[2022-08-28 20:34] #4906 closed

[2022-08-30 09:04] #2115 closed

[2022-09-05 13:55] Vulpine05 commented on #4888
I've investigated this some more.  This occurs only when the active window with a list has a column removed.  Manager doesn't crash when there are no items in the tab (such as transfers, typically), nor does it crash if you are removing columns in a different tab (for example, removing a column in Projects, but you have Tasks visible).  I suspect the crash occurs because the items in the list are

[2022-09-06 09:17] #4888 closed

[2022-09-06 09:27] AenBleidd opened #4913 "Minor Coverity findings"
There are two issues found by Coverity.
1.
![image](https://user-images.githubusercontent.com/3234209/188599087-b23d0c9e-5b02-44c4-b4f8-af6a666aba6f.png)
2.
![image](https://user-images.githubusercontent.com/3234209/188599174-ffbbd909-129a-49a5-be5e-2dcec186b17a.png)
Since we get the `result` and then use it, it should be checked for NULL like it's done here:
![image](https://user-images.githubuse

[2022-09-06 09:30] AenBleidd commented on #4913
@Vulpine05, please take a look at it

[2022-09-06 14:08] TechMasse opened #4914 "BOINC 7.18.1 (Ubuntu) finally halts/crashes, when not able to report finished WU's."
**Describe the bug**
Too many unreported WU's causes a crash.

**Steps To Reproduce**
1. (_A_) Project down due to crash, support etc.
2. BOINC not able to report finished WU's, keeping those as open files (_why?_), ready to send.
3. When using, like in this case, a [_preferably fast_] computer with many cores/threads, including a large buffer (_10+10 days_), a great number of WU's are stored loca

[2022-09-07 02:42] Vulpine05 opened #4916 "[Feature] Provide limit checks when reading global_prefs_override"
**Describe the problem**
Preferences can be modified in three ways:

1. Web preferences
2. Locally, via the Manger
3. Locally, by editing the global_prefs_override.xml file directly

When changing preferences via the project website or the Manger, those values are validated to be in the correct range.  However, when BOINC is started, it will read the global_prefs_override file (if it exists), and

[2022-09-07 08:21] AenBleidd commented on #4916
@davidpanderson, looks like a valid ticket and it would be nice to have it in the next release. Are you ok to wait for it implementation after #4871 is merged?

[2022-09-07 08:34] AenBleidd opened #4917 "Update Windows solution to use Visual Studio 2022"
Currently we have 3 solutions in our win_build folder: VS2010 (not supported anymore), VS2013 (not supported anymore), and VS2019.
We need to get rid of the items we don't use anymore, and as a part of it move to VS2022 for a long term support.
List of tasks:
- [x] Add VS2022 solution (as `boinc.sln`)
- [x] Rename existing projects that has `_vs2019` suffix by removing the suffix and retarget them

[2022-09-07 09:15] davidpanderson commented on #4916
Not really needed.  No one AFAIK manually edits global_prefs.xml;
it's not documented except for an ancient trac page.

[2022-09-07 13:22] ncoded opened #4918 "Adding additional Task's info on the Bottom Status bar"
On large thread machines its pretty difficult to see what is going on with tasks. How many in total, how many are running, how many are waiting to run, how many have I suspended, and how many are currently waiting for memory.

It would be very useful if the above task info could be available within BOINC. One idea would be to put it in the bottom task bar, as show in the mock-up image.

![My proje

[2022-09-07 17:29] Vulpine05 commented on #4916
Actually, there is documentation [here](https://boinc.berkeley.edu/wiki/Preferences) and [here](https://boinc.berkeley.edu/wiki/PreferencesXml).

[2022-09-07 19:50] Toby-Broom commented on #4918
I'd recommend using BOINCTasks it has many advanced features like this.

https://efmer.com/boinctasks/

[2022-09-08 03:53] CharlieFenton commented on #4916
Some projects customize / modify the standard web code. Coding errors could inadvertently allow users to set illegal values in their computer preferences when editing them on the project web site. Coding errors could also inadvertently cause bad values to be sent in the _sched_reply_ message to the client. So it would be good to perform sanity checks on the computing prefs values in the _sched_rep

[2022-09-08 18:02] ckrause commented on #4890
Thanks! We use consumed in LODA. The Activity Monitor show the correct kind now ("Apple").

[2022-09-09 02:26] AlPiskun commented on #4918
I'd recommend adding the info to the BOINC manager.

[2022-09-09 07:15] #4913 closed

[2022-09-10 01:13] grahjenk opened #4921 "Boinc Projects that use Virtualbox crash on Ubuntu 22.04.1"
Boinc Rosetta@home tasks hang immediately and indefinitely with message: "Communication with VM Hypervisor failed".

8-CPU Boinc LHC@home fail after 12 seconds with message: "Computation error (8CPUs)".

**Steps To Reproduce**
1. Upgrade a Ubuntu 20.4.3 (Intel i7-4790) machine to Ubuntu 22.04.1
2. Observe that normal Virtualbox guests like FreeBSD, NetBSD and Alma Linux continue to behave as expec

[2022-09-10 09:35] Toby-Broom commented on #4921
it probably this, #3355

[2022-09-11 10:05] grahjenk commented on #4921
Thanks Toby. I changed the ProtectSystem value in boinc-client.service to 'full' and that resolved the issue.

Then I found that the Ubuntu 20.04.3 version of that file differed only from the 22.04.1 version only in declaring 'PrivateTmp=true', so I've put that version in place instead, and it seems to be working.

Regards ..
________________________________
From: Toby-Broom ***@***.***>
Sent: Sat

[2022-09-13 11:24] #4914 closed

[2022-09-15 13:31] #3430 closed

[2022-09-18 23:25] #2947 closed

[2022-09-18 23:35] #3389 closed

[2022-09-18 23:48] #2350 closed

[2022-09-18 23:48] #1345 closed

[2022-09-18 23:54] AenBleidd commented on #2774
There is no a real reason to do a massive refactoring to use any new code standard features when they are released.

[2022-09-18 23:54] #2774 closed

[2022-09-18 23:59] AenBleidd commented on #4643
Should be fixed via #4923

[2022-09-19 17:04] BryanQuigley commented on #1345
@AenBleidd I was hoping to close this when all projects on the project list are only using HTTPS.   Was there another reason for the close?

[2022-09-19 17:33] AenBleidd commented on #1345
All major projects are already using https. Since there is no any action from our side to make any restrictions and block http usage, there is nothing that should be done in this ticket, so there is no reason to keep it open.

[2022-09-19 17:45] BryanQuigley commented on #1345
There are still a good number of projects that are set as http in the projects list:
        <url>http://denis.usj.es/denisathome/</url>
        <url>http://www.rnaworld.de/rnaworld/</url>
        <url>http://www.cosmologyathome.org/</url>
        <url>http://milkyway.cs.rpi.edu/milkyway/</url>
        <url>http://einstein.phys.uwm.edu/</url>
        <url>http://numberfields.asu.edu/NumberFields/<

[2022-09-20 16:08] Germano0 commented on #3355
@techsy730 I don't understand the point of having
[code]
when systemd-tmpfiles can be triggered by creating `/etc/tmpfiles.d/boinc-vbox.conf` with content
[code]

-----------------------------

At the moment I am having working units failures after 10 minutes of run. My config is
[code]
**boinc-client systemd unit file**
[code]

[2022-09-21 22:50] #41 closed

[2022-09-24 23:05] AenBleidd commented on #4921
Closed as a duplicate of #3355

[2022-09-24 23:05] #4921 closed

[2022-09-24 23:09] #4903 closed

[2022-09-24 23:23] AenBleidd commented on #4784
This is still reproducible on @LocutusOfBorg build with wxWidgets 3.2.0

[2022-09-24 23:26] #4824 closed

[2022-09-24 23:53] AenBleidd opened #4927 "Implement snap package for client and Manager"
Ref: https://snapcraft.io/

[2022-09-24 23:54] AenBleidd commented on #2485
BOINC for Flatpak is done.
BOINC for Snap is moved to #4927

[2022-09-24 23:54] #2485 closed

[2022-09-25 16:58] KeithMyers commented on #2696
Einstein has changed their URL to https now.  All the BOINC files will need to be changed also.

[2022-09-25 17:14] RichardHaselgrove commented on #2696
@KeithMyers - see the discussion on #4926. I think the Einstein change was in response to @AenBleidd's email to the projects list: one down, six to go.

But all should see the discussion in https://einsteinathome.org/content/master-url-changed-use-https: the change hasn't been welcomed in all quarters, especially by those users not yet running v7.16.20 or later.

[2022-09-25 18:37] KeithMyers commented on #2696
But of course you know the Catch-22 people are faced with when responding to the advisory messages about being connected twice to Einstein.  If you follow the instructions to remove and rejoin the project, you are going to use the Join Project mechanism which relies on the all_projects_list.xml file which still has Einstein listed with a http URL.

So you achieve nothing by taking action on the ad

[2022-09-26 00:25] team109 opened #4928 "CAPCHA no access"
**Describe the bug**
Many sites uses RECAPTCHA but you know google is out of access in CN because of the Firewall.

**Screenshots**
![scrsht](https://s2.loli.net/2022/09/26/mIMAuD1VtaYBCOE.jpg)

[2022-09-26 07:19] CharlieFenton commented on #2696
Looking at the code, the BOINC client (including much older versions) downloads a new all_projects_list.xml from the [BOINC server](https://boinc.berkeley.edu/project_list.php) about every 2 weeks, or whenever the client is restarted. So I believe the issues with older clients should resolve themselves within 2 weeks after the URLs are updated on the BOINC server.

The all_projects_list.xml file o

[2022-09-26 07:48] RichardHaselgrove commented on #2696
Communications with a project usually succeed, even if the wrong flavour of http is used. The event log message/notice is a warning, not an error.

I've seen one exception to that rule recently:  if a project configures its server to reject all **non**-https connections. There's an acronym for that, but I've forgotten it again. Projects with allow redirect are OK.

[2022-09-27 14:04] AenBleidd commented on #4521
Assigned to @pAkalpa

[2022-09-27 14:04] AenBleidd commented on #4414
Assigned to @pAkalpa

[2022-09-28 14:20] RichardHaselgrove opened #4930 "Linux: downstream releases broken in specific repositories"
Mainstream Linux releases of the BOINC client / manager packages are handled by repo teams. But problems rebound by causing reputational damage to BOINC and, ultimately, UCB.

There have been sporadic grumblings for some time about an inability to run repository installations of BOINC for versions of Linux such as Ubuntu 22.04 LTS and Mint 21. None of them were specific enough for us to be able to

[2022-09-28 14:25] #4643 closed

[2022-09-28 14:29] AenBleidd commented on #4930
@RichardHaselgrove, AFAIK @LocutusOfBorg if responsible for maintaining mainstream linux releases, so I can't remove faulty version from there.
All I can do from my side (and will try to do that with the new release) is to keep Desktop/Android releases always in sync, so there will be no major releases dedicated to any particular platform.

[2022-09-28 16:48] aswarthm commented on #4892
Hey, I'd like to work on this. Can you guide me on how I can go about adding scripts to CI build flows as I'm new to this

[2022-09-28 17:05] AenBleidd commented on #4892
@aswarthm, OSX CI flows are configured here: https://github.com/BOINC/boinc/blob/master/.github/workflows/osx.yml
You should check this file and others in the same folder to understand how it works now and how to add a new flow.

[2022-09-29 01:42] makeasnek opened #4937 "Make BOINC urls case-insensitive"
**Describe the problem**
When a user is given a URL to attach to a BOINC project, it will not work if the case is not correct. For example: boincproject.com/boinc would work but boincproject.com/BOINC would not. Domain names are case-insensitive, and I see no reason for case-sensitive URL handling. There is a chance that a user without the correct case-sensitive URL may try to attach to a project

[2022-09-29 02:51] Vulpine05 opened #4939 ""In Use" and "Not In Use" suspension preferences could prevent computing indefinitely"
**Describe the bug**
BOINC has the option to suspend computer usage in two ways:  When the computer is in use (IU), and when it is not in use (NIU).  It is possible to enable suspension for both IU and NIU at the same time.  It is also possible to set the values for each such that BOINC will never work on any tasks.

**Steps To Reproduce**
1.  Open BOINC Manager->Options->Preferences.
2.  Set IU t

[2022-09-29 02:56] Vulpine05 commented on #4939
I had started working on the Manger change via #4634.  I should be able to fix this in the Manager and Client.  I think the fix for the client will prevent any web preferences from propagating to a client, but having an error message when saving web preferences would be better.

With that said, I am not familiar with php.  Also, even if I figure out how to fix it via web, I don't know how to test

[2022-09-29 04:16] KeithMyers commented on #4930
@AenBleidd, @LocutusOfBorg doesn't have or ever did have the Android 7.18 release on his PPA.  His PPA is exclusive to Ubuntu.

The problem occurred because the other Debian distro maintainers grabbed the 7.18.1 Android version release from the BOINC Github tag release branch and didn't pay attention to the tag description [Android]

[2022-09-29 10:20] aswarthm commented on #4892
Sure, I'll take this up during Hacktoberfest

[2022-09-30 20:40] #4521 closed

[2022-10-01 10:18] #1903 closed

[2022-10-01 13:26] AenBleidd opened #4946 "[Android] Fix deprecations"
There are some deprecations:

- [x] android\BOINC\app\src\main\java\edu\berkeley\boinc\ProjectDetailsFragment.kt: (106, 9): 'setHasOptionsMenu(Boolean): Unit' is deprecated. Deprecated in Java
- [x] android\BOINC\app\src\main\java\edu\berkeley\boinc\ProjectDetailsFragment.kt: (153, 15): 'onCreateOptionsMenu(Menu, MenuInflater): Unit' is deprecated. Deprecated in Java
- [x] android\BOINC\app\src\ma

[2022-10-02 16:30] hucker75 commented on #3774
Sorry to reopen this, but I've started using this successfully until I realised running this command makes Boinc forget the wait time the project has required before I can ask for new tasks, so Boinc is hammering servers for new work and never getting any as it's too annoying.  Please make this command not cause forgetting of wait time.

[2022-10-02 22:53] Germano0 commented on #3355
Hello, I erased my message of 22 September 2022 because the tests I ran where flawed by a qemu/kvm virtual machine running on my system, that prevented VirtualBox from running correctly.

I managed to successfully run working units from LHC@home that make use of VirtualBox.
I used the default boinc-client systemd unit file, and just replaced
[code]
with
[code]

There was no need of

- file `/etc/t

[2022-10-03 09:02] MattBlack85 opened #4948 "not being able to crunch successfully GPU WUs on ArchLInux with default systemd settings"
**Describe the bug**
I am not being able to complete any GPU task on my ArchLinux based system using an AMD Radeon 5700XT.
For some projects, like milkyway@home the task errors out imemdiately, for some others like primegrid they proceed **very** slow and are never completed (Computation Error) and restart.
This happens only when I start boinc using systemd, I realized running it from another fold

[2022-10-04 01:40] delta1513 commented on #4345
Where are the TOUs usually supplied from? Have some examples?

Should they just appear as a link in the app or as something else?

[2022-10-04 02:04] delta1513 commented on #4214
Will be working on this for hacktoberfest

[2022-10-04 02:04] delta1513 commented on #4437
Will be working on this for hacktoberfest

[2022-10-04 02:04] delta1513 commented on #4225
Will be working on this for hacktoberfest

[2022-10-04 02:09] AenBleidd commented on #4345
@delta1513, this should be an additional screen after user put their credentials. If user don't accept TOU - project add should be interrupted. Please keep in mind that Android supports multiple projects add at one step, so if user cancels any particular TOU, only that project should be skipped and not added.
You can check how this implemented in Desktop Manager to make it similar way

[2022-10-04 11:49] Vulpine05 opened #4950 "[Manager] When preferences window remains open, Manager crashes"
**Describe the bug**
If you open the computing preferences in Manager and leave it open, Manager will eventually crash.  This seems to happen only in simple view, not advanced.  The client appears to continue to run.

**Steps To Reproduce**
1. Launch BOINC, switch to simple view for the manager.
2. Options-> Computing preferences...
3. No need to edit any settings, just leave this window alone.  W

[2022-10-04 11:53] AenBleidd commented on #4950
@Vulpine05, please activate postmortem debugger as it's said in this tutorial ( https://www.windowscentral.com/how-use-procdump-create-dump-files-windows-10 ), wait for next crash and send me a crash dump.
I'll check what exactly happened.

[2022-10-05 02:30] Vulpine05 opened #4951 "[BOINC][Simple View] Computing Preferences text background doesn't match window color"
**Describe the bug**
Under simple view's computing preferences, the background text color for any checkbox text is a gray color, but the background is white.  Text without a checkbox appears to have the same background color.

**Expected behavior**
Text background color should be consistent, with or without text.

**Screenshots**
![image](https://user-images.githubusercontent.com/58096400/19341289

[2022-10-05 08:26] Germano0 commented on #3355
@lfield if it is okay for you I would proceed with a pull request

[2022-10-05 08:42] lfield commented on #3355
Fine for me

[2022-10-05 08:48] #1872 closed

[2022-10-05 10:27] CharlieFenton commented on #4951
`CTransparentCheckBox` and other `CTransparent* `classes are used in the Simple View preferences dialog because skins have the option of specifying a bitmap for the background of this dialog using the XML tag _dialog_background_image_ in the _skin.xml_ file as described [here](https://boinc.berkeley.edu/wiki/Creating_a_skin_for_the_BOINC_Manager). The default BOINC skin does not use this option, s

[2022-10-05 11:30] AenBleidd commented on #4951
I'll check this, but as far as I remember, OSX and Windows are fine and fixable, but linux just doesn't support UI components with transparent background. I plan to work on this and somehow fix this behavior but it's definitely not in a near future :)

[2022-10-05 12:18] RichardHaselgrove opened #4952 "Client: are we using curl efficiently?"
The new managers of World Community Grid are struggling to optimize their network connectivity. For me, the major problems are with downloading task datafiles following a successful scheduler contact. The logs sometimes throw up questions worth discussing. Here's the full log of one such download connection.

[WCG_download_failure.log](https://github.com/BOINC/boinc/files/9715387/WCG_download_fail

[2022-10-05 12:27] AenBleidd commented on #4952
I believe we fixed this a little bit differently: https://github.com/BOINC/boinc/pull/4915
You can try to test this with the client from master to check that currently the situation is better

[2022-10-05 12:32] CharlieFenton commented on #4951
Just to clarify:

But some branded versions of BOINC, such as GridRepublic and CharityEngine **do** use the _dialog_background_image_ XML tag to specify a bitmap as the background for the Simple View preferences dialog. Older versions of World Community Grid also did. In addition, numerous custom skins have been created and shared by users; some of these may also use this option.

Changing the `CT

[2022-10-05 14:18] RichardHaselgrove commented on #4952
OK, I've downloaded and am running the artifact. Obviously, I had to shutdown and restart the client, so all the IDs reset to zero. By the time I got to a download page with all files backed off (so I could get a clean log for a single file retry), the result was:
[code]
I see that in #4915 @davidpanderson wrote

ls -l /proc/p/fd
(p = PID of BOINC client)
to see what files the client has open.

An

[2022-10-06 11:17] Germano0 commented on #3355
https://github.com/BOINC/boinc/pull/4953

[2022-10-07 15:19] AenBleidd commented on #935
Similar approach but based on `In use`/`Not in use` was implemented in #4871.
I believe it is more flexible than scheduled and thus I'm closing this as ' Not planned'

[2022-10-07 15:19] #935 closed

[2022-10-07 15:30] #2085 closed

[2022-10-07 15:55] AenBleidd commented on #3158
Closed as a duplicate of #2112

[2022-10-07 15:55] #3158 closed

[2022-10-07 15:59] AenBleidd commented on #3366
Closing this for now as there is no any response from the topic starter.

[2022-10-07 15:59] #3366 closed

[2022-10-07 16:02] AenBleidd commented on #3419
@lfield, since this affects LHC, could you please verify whether this is still an issue? Thank you in advance.

[2022-10-07 16:10] AenBleidd commented on #3862
Closed as a duplicate of #2638

[2022-10-07 16:10] #3862 closed

[2022-10-07 16:13] AenBleidd commented on #4091
Currently this is not possible because of the restrictions added in API 29 (can't execute downloaded files).

Closing this for now as it's not solvable in its current state.

[2022-10-07 16:13] #4091 closed

[2022-10-07 16:16] #4229 closed

[2022-10-07 16:18] AenBleidd commented on #4184
We have documentation on our wiki (link in the comment above) and soon plan to move it to GitHub.
There is no need to duplicate it in Doxygen format

[2022-10-07 16:18] #4184 closed

[2022-10-07 16:22] AenBleidd commented on #4950
Potentially the same issue #4330 ?

[2022-10-07 16:30] #3415 closed

[2022-10-07 17:29] AenBleidd commented on #2869
@lfield, is this still the issue?

[2022-10-07 17:30] AenBleidd commented on #3492
@lfield, Is this still an issue?

[2022-10-07 17:45] AenBleidd commented on #310
Since this is a static list of team types and there is no plans to make it dynamic, I'm closing this issue as 'wontfix'.
New team types could be added by request (there was no any request last 15 years IIRC).

[2022-10-07 17:45] #310 closed

[2022-10-07 17:50] AenBleidd commented on #583
There was no any response neither from the original topic starter not from any other.
Closing this as 'wontfix'

[2022-10-07 17:50] #583 closed

[2022-10-07 17:54] AenBleidd commented on #734
Closing this as 'wontfix' since there was no additional requests last 5 years.
Could be reopened if this is smth that still desired

[2022-10-07 17:54] #734 closed

[2022-10-07 17:57] AenBleidd commented on #90
As it was already said, RegEx is very complicated stuff and it's not clear and usable for regular people (especially without tutorial nearby).
Closing this as 'wontfix'

[2022-10-07 17:57] #90 closed

[2022-10-07 18:04] AenBleidd commented on #1070
Looks this is Project specific issue and it was never reported that any other Projects have the same issue.
Closing this as 'wontfix'

[2022-10-07 18:04] #1070 closed

[2022-10-07 18:06] #1080 closed

[2022-10-07 18:08] AenBleidd commented on #1158
There are a lot of warning, and keeping a ticket to remove all of them is useless since the goal will probably be never achieved.
Closing this as 'wontfix'

[2022-10-07 18:08] #1158 closed

[2022-10-07 18:11] IzzySoft commented on #4229
That's a pity – but I agree that if there's no content it cannot be shown. Thanks for considering!

[2022-10-07 18:12] AenBleidd commented on #1208
I see not reasonable for BOIN to track other applications/installers.
When user updates drivers, it's usually said that user could experience some interruptions.
So I'm closing this as 'wontfix'

[2022-10-07 18:12] #1208 closed

[2022-10-07 18:14] AenBleidd commented on #1210
I think this is quite a rare case and it doesn't worth time trying to fix it.
Closing this ticket as 'wontfix'

[2022-10-07 18:14] #1210 closed

[2022-10-07 18:16] AenBleidd commented on #1211
I'm closing this for now as 'wontfix' since there was no any activity/additional requests last 5 years.
If this is still an issue - please reopen this ticket.

[2022-10-07 18:16] #1211 closed

[2022-10-07 18:18] AenBleidd commented on #1212
Closing this for now as 'wonfix' since I don't believe it worths time to fix it

[2022-10-07 18:18] #1212 closed

[2022-10-07 18:19] AenBleidd commented on #1213
Closing this for now as 'wontfix' since there was no any confirmation last 5 years that this is still an issue.

[2022-10-07 18:19] #1213 closed

[2022-10-07 18:24] AenBleidd commented on #1347
@RichardHaselgrove, any possibility you could try to reproduce this to verify if this is still an issue?

[2022-10-07 18:35] AenBleidd commented on #1414
Since this was not asked last 5 years and there is a possibility to achieve the same using anonymous platform, I'm closing this as 'wontfix' for now

[2022-10-07 18:35] #1414 closed

[2022-10-07 18:43] AenBleidd commented on #1505
There was no any error report last years, also vboxwrapper for windows was modified quite a lot.
Closing this for now

[2022-10-07 18:43] #1505 closed

[2022-10-07 18:46] AenBleidd commented on #1556
Closing this since there were a lot of updated of BOINC and there was no any additional error report last 4 years

[2022-10-07 18:46] #1556 closed

[2022-10-07 18:48] AenBleidd commented on #1588
There were no additional requests on this last 6 years.
Usual user scenario is to use system proxy when it's configured, and this works fine with BOINC.
Closing this as 'wontfix'

[2022-10-07 18:48] #1588 closed

[2022-10-07 18:53] AenBleidd commented on #1723
Any code suggestions should be sent via PRs. Closing this as 'wontfix'

[2022-10-07 18:53] #1723 closed

[2022-10-07 18:54] RichardHaselgrove commented on #1347
Ouch - never tried anything as sophisticated that in Linux, although I have Linux with GUI and mice to drive them.

On a related note, 'marquee select' (hold mouse button down while dragging the pointer across all or part of a list, to multiselect a range of items), doesn't seem to work on Linux/wxWidgets.

[2022-10-07 18:55] AenBleidd commented on #1737
Current used version of VBox is 6.1.smth.
I'm closing this as 'wontfix' for now.
If this is still an issue - please reopen it.

[2022-10-07 18:55] #1737 closed

[2022-10-07 18:56] ab1vl commented on #1556
Hey man, how are you these days? Hope the awful invasion has not hurt you
or loved ones.
My name is Chuck Yahrling and we used to interact back a few years ago.  I
gave up on trying to contribute to SETI  4 years ago.

I am retired and still geek around computers and single board
microprocessors now.  Play drums in a couple of bands too.

Wishing you all the best and praying for your safety!

Chuc

[2022-10-07 18:58] AenBleidd commented on #1788
@lfield, could you please verify if this is still an issue?

[2022-10-07 19:01] AenBleidd commented on #1877
This is a very old version of BOINC. If this is still an issue - new report with updated data should be opened.
Closing this for now as 'wontfix'

[2022-10-07 19:01] #1877 closed

[2022-10-07 19:06] AenBleidd commented on #1906
Looks like this was already fixed, so I'm closing this ticket as 'wontfix'.
If this is still an issue - please reopen.

[2022-10-07 19:06] #1906 closed

[2022-10-07 19:09] AenBleidd commented on #1961
If this is still an issue - please reopen it.
Closing this as 'wontfix'

[2022-10-07 19:09] #1961 closed

[2022-10-07 19:16] AenBleidd commented on #2369
Not sure this is smth that we could/should fix.
I'm not a Firefox user but I've never see this on Chrome
Closing this as 'wontfix'

[2022-10-07 19:16] #2369 closed

[2022-10-07 19:20] AenBleidd commented on #2442
Not sure this is smth relevant anymore.
Closing it as 'wontfix'.
If this is still an issue - please reopen.

[2022-10-07 19:20] #2442 closed

[2022-10-07 19:21] AenBleidd commented on #2456
I don't believe CPU switch is smth that happens too often so I don't believe it worth time to fix this issue.
Closing it as 'wontfix' for now.

[2022-10-07 19:21] #2456 closed

[2022-10-07 19:24] AenBleidd commented on #2503
This is not so easy to send email from any user system/OS, and you can't send this from the Project server since user could be connected to more than one server.
Closing this as 'wontfix' for now

[2022-10-07 19:31] AenBleidd commented on #2768
Since there was no answer from the original topic starter and also there was no any similar report - I'm closing this as 'wontfix'.
Feel free to reopen if this is still an issue

[2022-10-07 19:31] #2768 closed

[2022-10-07 19:32] AenBleidd commented on #2807
It's useless to track build warnings on the ticket.
Closing this as 'wontfix'

[2022-10-07 19:32] #2807 closed

[2022-10-07 19:36] AenBleidd commented on #2910
Since Beignet is deprecated for 4 years already, I see no reason to fix this issue.
Closing as 'wontfix'

[2022-10-07 19:36] #2910 closed

[2022-10-07 19:38] AenBleidd commented on #2972
Not sure this is smth that is really needed. Closing it as 'wontfix'.
If this is smth that is still requested - please reopen this ticket.

[2022-10-07 19:38] #2972 closed

[2022-10-07 19:43] AenBleidd commented on #3186
Recently was added two sets of preferences: when device is in use and when it's not is use.
I assume this is a better solution that the one suggested in this ticket.
Closing it as 'wontfix'

[2022-10-07 19:43] #3186 closed

[2022-10-07 19:45] AenBleidd commented on #3203
There is no reason to keep the ticket to track build warnings. Closing it as 'wontfix'

[2022-10-07 19:45] #3203 closed

[2022-10-07 19:47] AenBleidd commented on #3317
There is no reason to keep tickets to track build warnings. Closing this as 'wontfix'

[2022-10-07 19:47] #3317 closed

[2022-10-07 19:50] AenBleidd commented on #3513
Code is constantly changes. There is no reason to track such a ticket. Closing it as 'wontfix'

[2022-10-07 19:50] #3513 closed

[2022-10-07 19:58] JacobWKlein commented on #1737
For what it's worth, I have been actively testing VirtualBox versions to make sure they stay compatible with Microsoft's changes to Windows 10 and Windows 11. You can see more here: https://forums.virtualbox.org/viewtopic.php?f=38&t=80967&sid=2f291313ab2defa78efa75f4e3ddec10

[2022-10-07 20:28] AenBleidd commented on #3598
@computezrmle, any chance you could handle this?

[2022-10-07 20:36] AenBleidd commented on #3809
This option will give more negative experience to the new and existing users rather than helping them.
BOINC has not so much updates during the year, so I don't see any positive valuable output of it.
Closing this as 'wontfix'

[2022-10-07 20:36] #3809 closed

[2022-10-07 23:10] AenBleidd commented on #3619
Closed as a duplicate of #1187

[2022-10-07 23:10] #3619 closed

[2022-10-07 23:18] AenBleidd commented on #4084
Closed as a duplicate of #1187

[2022-10-07 23:18] #4084 closed

[2022-10-07 23:41] AenBleidd commented on #4627
Closed as a duplicate of #1187

[2022-10-07 23:41] #4627 closed

[2022-10-07 23:44] AenBleidd commented on #4647
Potentially a misconfiguration on user's device. Closing this since there was no response last 6 months.

[2022-10-07 23:44] #4647 closed

[2022-10-07 23:49] AenBleidd commented on #4682
Not sure it worths to move Manager settings from Windows registry to file.
Closing this for now as 'wontfix'

[2022-10-07 23:49] #4682 closed

[2022-10-07 23:52] AenBleidd commented on #4732
Closing this for now as 'wontfix' since this is not smth that should be fixed from the side of BOINC.

[2022-10-07 23:52] #4732 closed

[2022-10-08 00:18] Wedge009 commented on #4948
I confirm this. It is not specific to Arch, but it does seem specific to AMD GPUs dependent on ROCm for OpenCL, at least for Einstein@Home project.

https://boinc.berkeley.edu/forum_thread.php?id=14786

The puzzling thing is why this is only an issue _after_ BOINC 7.16.17 (in my experience anyway), since the systemd hardening was in 78035bc14ef85fd2a69127271cc201c00d6e9730 and that seems to be pre

[2022-10-08 08:33] computezrmle commented on #3598
If a project distributes a VM that is configured as 64-bit vboxwrapper never disables hardware virtualization:
See:
https://github.com/BOINC/boinc/blob/76dffd0dda2ee7a7f881e3dd08c35edec497a504/samples/vboxwrapper/vbox_vboxmanage.cpp#L415-L431

LHC@home does not distribute 32-bit VMs any more.
If other projects do they may consider to switch to 64-bit guests.

Beside that nested hardware-virtualiza

[2022-10-08 08:49] AenBleidd commented on #3598
@computezrmle, thank you for investigation.

I see no reason to distribute 32-bit VMs in 2022 but if some Projects do that - there should be a reason for that and thus 'disabling hardware acceleration' might be essential for them as well.
Since this is done via configuration file and hot automatically in VBoxWrapper - I see no reason to fix this.
If some Project still uses 32-bit VM and has this o

[2022-10-08 08:49] #3598 closed

[2022-10-08 08:53] computezrmle commented on #4952
@davidpanderson
You may try
`lsof -c boinc`

[2022-10-08 09:41] RichardHaselgrove commented on #4952
OK, I tried it - will need some help with interpreting it.

At the time of taking this log, nine download files were stalled and in various stages of backoff.

I also got this warning in terminal:
[code]
[lsof.log](https://github.com/BOINC/boinc/files/9738896/lsof.log) contains 329 lines.

[2022-10-08 09:44] TechMasse opened #4956 "BOINC 7.18.1 client refuse to start with specific CPU."
**Describe the bug**
The BOINC client refuse to run/load [as a service] with a Pentium G3240T present (_probably the same with a number of other Pentium G family CPUs too_)

**Steps To Reproduce**
1. Normal install procedure, including OpenCL.
2. A error message is generated when trying to start the client - STATUS=4/ILL.

**System Information**
 - OS: Lubuntu 22.04.1 LTS
 - BOINC Version: 7.18.1

[2022-10-08 10:11] Toby-Broom commented on #4956
Did you check this #3355

[2022-10-08 10:14] AenBleidd commented on #4956
@TechMasse, Recommended BOINC to install on linux is 7.20.2, you can take it from this PPA: https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/boinc

[2022-10-08 11:17] AenBleidd commented on #3256
@lfield, this ticket was open 3 years ago, and the implementation of it was not agreed.
Is it still an issue and should be discussed further or it is not needed anymore and thus could be just closed?

[2022-10-08 12:10] TechMasse commented on #4956
@AenBleidd

Yes, that works. Thanks!

[2022-10-08 12:10] RichardHaselgrove commented on #3256
As one of the people who identified the need for the outlier mechanism at SETI@Home (it wasn't included in the first version of [runtime estimation](https://boinc.berkeley.edu/trac/wiki/RuntimeEstimation)), I would say it is definitely still needed. The SETI and LHC applications are very similar in this respect, although the interpretation of the very short outlier results differs.

I can't commen

[2022-10-08 12:17] #4956 closed

[2022-10-08 12:23] computezrmle commented on #4952
I would guess the files mentioned by the warnings can be ignored.
They don't look like temporary curl files.
To get more details about them try to run lsof under the mentioned user account (user_id 1000)

The warnings appear because the files are on an fuse mount where only that user has access to (not even root).
You may  check this running
`mount |grep fuse`

A typical output from LHC@home looks

[2022-10-08 15:12] adamradocz commented on #3809
How come keeping the software up to date is a negative experience?

[2022-10-08 15:15] AenBleidd commented on #3809
Making Auto-Update and breaking running tasks is a negative experience.
When new version is released, notice in Manager is shown.

[2022-10-08 15:21] adamradocz commented on #3809
Why would brake it? The normal update doesn't brake them either.

[2022-10-08 15:35] AenBleidd commented on #3809
Currently update is done manually, so when the users do an update, they do this when it's the most convenient for them. Sometimes long running tasks should not be interrupted, and users wait until it's finished before doing update. Also, as I already wrote above, BOINC is releases just couple of times a year, so this is fine to not have Auto-Update.

[2022-10-08 15:41] adamradocz commented on #3809
Convenience doesn't change based on the repetition. If something can be done better, then it's better doesn't matter how many times do you want to do it per year.

New version comes out -> Auto download -> Promop the user: "Do you want to install now or on the next restart?"

I don't see, how ever this process is inconvenient or a negative experience.

[2022-10-08 15:47] AenBleidd commented on #3809
Ok, imagine next. Client is on the Linux, Manager is on the other machine on Windows. New version is released. Users see this on windows. How you suggest to execute remotely 'sudo apt-get install' to update remote client?

[2022-10-08 15:51] adamradocz commented on #3809
Differnt platform, different behaviour.

[2022-10-08 16:04] AenBleidd commented on #3809
That is why it doesn't worth to spend time on it now and keep this ticket open. Later we can get back to it and try to make a proper design that will provide a clear and understandable process for our users.

[2022-10-08 20:02] davidpanderson commented on #3256
This exists: https://boinc.berkeley.edu/trac/wiki/ValidationSimple#Runtimeoutliers

[2022-10-08 20:24] RichardHaselgrove commented on #3256
In general, a project validator will use custom code to suit the data and constraints intrinsic to the science being researched. Only in very simple cases will the sample validators maintained in the BOINC sources be sufficient.

I don't know what validator is used for the LHC sixtrack application. A source (and line) reference for the statement

would be most helpful.

If the problem lies in the

[2022-10-08 21:41] Vulpine05 commented on #4950
Okay, I have tried at least half a dozen times to get a dump log, and nothing has been generated.

Command Prompt is opened as an administrator and after unzipping I type `procdump -ma -i C:\dumps`

Manager crashes (system tray icon disappears, too), but no log is generated in the dumps folder (yes, the folder is created, too).  What am I missing?

[2022-10-08 22:04] AenBleidd commented on #4950
@Vulpine05, have you used `procdump` or `procdump64`? The first one is x86, the second one is x64.
Not sure exactly, but could be a reason why 32-bit debugger doesn't catch 64-bit applications failures.
Also, please check Windows Registry (regedit.exe) path:
`Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AeDebug`
and that the value `Debugger` is similar to this:
[code]
B

[2022-10-09 15:24] kotenok2000 opened #4957 "Boinc reports cpu time incorrectly. on windows 11 22h2"
**Describe the bug**
Boinc reports cpu time incorrectly.
Rosetta uses cpu time to adjust workunit length.
By default Rosetta workunits take 8 hours of cpu time.
On 226232 they will continue crunching for too long.
**Steps To Reproduce**
1. Install Windows 11 22622.521
2. Run TN-Grid
3.Compare Runtime and cpu time
**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-10-09 15:35] AenBleidd commented on #4957
I'm not sure you understand correctly what do these values mean: please read this article first https://en.wikipedia.org/wiki/CPU_time
Also you can check these values in ProcessExplorer and it will show you basically the same values as they are shown in BOINC Manager: https://en.wikipedia.org/wiki/CPU_time

[2022-10-09 15:39] kotenok2000 commented on #4957
Process explorer and windows task manager display different cpu usage.
![Снимок экрана (233)](https://user-images.githubusercontent.com/8822292/194765912-7343adfb-4f01-4323-8309-a10e7896e40b.png)

[2022-10-09 15:46] AenBleidd commented on #4957
Process explorer shows more exact values. But before you asked about CPU time, not CPU usage. So what is your main confusion here?

[2022-10-09 15:53] hucker75 commented on #4957
I don't understand this either.  I also use Boinctasks, and my CPU% column shows % of ONE CORE (or perhaps the number of cores expected for that task), so things like TN-Grid which are single core programs show nearly 100%.  Why do you have only nearly 10%?

[2022-10-09 15:54] kotenok2000 commented on #4957
Maybe this will shed some light?
]https://www.neowin.net/news/windows-11-cpu-usage-reporting-is-apparently-buggy-including-on-task-manager/

[2022-10-09 16:08] hucker75 commented on #4957
No calculations from Boinc are accurate.  For example I have a Primegrid GPU task which has done 30% in 1 day, yet it says the other 70% will take 100 days.  With programming like that, it's surprising it works at all.

[2022-10-09 16:18] kotenok2000 commented on #4957
When i run workunits on all cores cpuid hwmonitor thinks that only core 0 is used.

[2022-10-09 16:31] Vulpine05 commented on #4950
@AenBleidd, I had been using `procdump`, and I just tried today with `procdump64`, with the same results.  Registry has the same executable with flags as you listed above (relative to my path).

However, I see in the registry it is `-j`, whereas the instructions have a `-i`, if that means anything.

[2022-10-09 16:50] hucker75 commented on #4957
I use HWInfo, Windows 11 task manager, MSI Afterburner, Boinctasks.  All report correct % usage on all projects for CPU ad GPU.

[2022-10-09 16:52] kotenok2000 commented on #4957
Are you running Windows 11 22000 , 22621 or 22622?

[2022-10-09 16:56] hucker75 commented on #4957
Ah, I use 22000, I assumed I was up to date.  Windows update will not give me any more.  Are you using something from the Insider Program?  If so I guess they broke it, and you should direct this problem to them.

[2022-10-09 20:03] kotenok2000 commented on #4957
v>f

[2022-10-09 20:14] hucker75 commented on #4957
You could try it.  I've seen all sorts work better with BIOS updates, but usually stuff like fan control, not something the OS does.  But maybe the CPU usage is under BIOS control?  I thought it was OS only, but maybe not.

[2022-10-09 20:16] kotenok2000 commented on #4957
I have uppdated efi to the latest version. Didn't help.

вс, 9 окт. 2022 г., 23:14 Peter Hucker ***@***.***>:

[2022-10-09 20:30] hucker75 commented on #4957
There are many people complaining Windows11 does things similar to what you're experiencing.  I found:

"Go to "Windows Settings>Power>Power Mode" and change the Power Mode setting to <Best Power Efficiency>"

and

"It is probably just a bug if your BIOS is up to date, there is another large update coming in a couple of weeks"

But why do you have 22H2 and I do not?  I cannot acquire it in Windows

[2022-10-09 20:34] kotenok2000 commented on #4957
I have used windows 11 update assistant
https://www.microsoft.com/software-download/windows11

[2022-10-09 23:33] #4957 closed

[2022-10-10 02:42] Vulpine05 commented on #1024
I just tested this on my Core 2 Duo T7250 laptop a few times running Ubuntu 18.04.6 and I couldn't reproduce this, for what its worth.  Regardless, a solution may be to suspend the tasks that are not active first, then the active tasks?

[2022-10-10 08:15] davidpanderson commented on #4939
I don't think this is necessary.

[2022-10-10 14:43] lfield commented on #2869
I can't find a way to navigate to `signup.php` from the LHC@home website. `join.php` or `create_account_form.php` is used. Will close this issue.

[2022-10-10 14:43] #2869 closed

[2022-10-10 14:45] lfield commented on #3492
There is no way to navigate to `signup.php.  Closing

[2022-10-10 14:45] #3492 closed

[2022-10-10 14:50] RichardHaselgrove commented on #1347
OK, found some time and where this behaviour is to be found in my distro - it's in 'Windows Preferences', where it offers:

![image](https://user-images.githubusercontent.com/14886436/194886302-0ee03485-9f0d-4de3-b495-0bfaf4355a7d.png)

That description suits me better. As a Windows programmer, I had screens with very many controls on them - text boxes, combo boxes, buttons, radio buttons, and so

[2022-10-10 14:57] lfield commented on #1788
This still seems valid. IIUC, the stats are for the past 24 hours and not the last 100 tasks. A simple update of the test would be sufficient. @davidpanderson can you confirm? I am happy to do the PR.

[2022-10-10 14:59] lfield commented on #3256
I think this can be closed. We are working on a new application in this area so if it is still an issue, we will find it again.

[2022-10-10 14:59] #3256 closed

[2022-10-10 22:27] TNM9999 commented on #4957
I also recently updated to Win11 22H2 on two of my Boinc machines. Both are showing CPU usage % as being very low when compared to pre-22H2. Previously, these machines would show CPU usage of 95-98% for each task. The picture below (using Boinc Tasks) shows that usage has dropped around half on one of them.

It appears that 22H2 has changed how the CPU usage calculation is being made or reported.

[2022-10-10 22:40] hucker75 commented on #4957
Not sure what you mean by "22H2", my version is in numbers only.  I'm on 10.00.22621.00 on one machine which I think is the same thing and don't have this problem.  Boinctasks reports almost 100% for every task.

[2022-10-10 22:52] TNM9999 commented on #4957
It is the latest, updated version of Windows 11. It was officially released in the past month or so.

Windows 11, version 22H2

[2022-10-10 22:53] kotenok2000 commented on #4957
Can you run ver in command line?

[2022-10-11 00:00] TNM9999 commented on #4957
I think that this is it:
Microsoft Windows 11 Home
Version = 10.0.22621  Build 22621

[2022-10-11 00:03] kotenok2000 commented on #4957
when i run ver i get this

Microsoft Windows [Version 10.0.22622.608]

On 11.10.2022 03:01:07, TNM9999 wrote:

[2022-10-11 01:01] hucker75 commented on #4957
So you are both seeing the problem, on 22621 and 22622.  Yet I am not seeing it on 22621.  The only difference is mine is Enterprise.

[2022-10-11 01:13] TNM9999 commented on #4957
When I run winver, the response is:
![image](https://user-images.githubusercontent.com/115507540/194975465-39eedd86-6316-4232-9d80-c0d1143155ef.png)

I will check the version on my other Windows 11 computer tomorrow.

My third computer is still running Windows 10 and the CPU usage is correct. 95-98% or so.

[2022-10-11 07:53] #1788 closed

[2022-10-11 09:20] AenBleidd commented on #2550
Since there is nothing that should be done right now but this topic should be open to track any new updates from Apple, so I decided to convert this from 'Issue' to 'Conversation'.
When OpenGL and/or OpenCL will be deprecated and removed from the OSX default installation, we can think about best approach how to fix that and create a ticket with exact action points.

[2022-10-11 09:27] #3355 closed

[2022-10-11 09:29] AenBleidd commented on #3396
Since this is just an open question, I'm converting it to discussion.
Later it's possible to create a new issue when some action points appear.

[2022-10-11 09:36] AenBleidd commented on #4169
Converting this to Conversation since it's a big topic to discuss before creating any particular tasks to be implemented.

[2022-10-11 09:38] AenBleidd commented on #4015
@lfield, could you please verify that?

[2022-10-11 09:39] AenBleidd commented on #4375
This doesn't really related to the BOINC application or general BOINC Project server, so I'm moving this to Discussions

[2022-10-11 09:42] AenBleidd commented on #4373
This is a separate Project, and also a big topic to discuss before starting real implementation.
Converting this to Discussion.
Later when exact action points appear, new tickets could be closed to implement them.

[2022-10-11 09:43] AenBleidd commented on #4303
@lfield, is there any chance you could try to take a look at this issue?

[2022-10-11 09:50] AenBleidd commented on #4952
Moving this to Discussion since there is no issue currently here.
If any potential problem would be found - new ticket with exact bug description could be opened (or this Discussion could be converted back to and Issue).

[2022-10-11 10:08] AenBleidd commented on #1846
I'm closing this ticket.
Main points:
- I'm responsible for Android Release.
- Both me and David have signing keys and access to the Google PlayStore (currently BOINC is not published there but that's the different issue)

The whole release process usually follows all steps from this document: https://github.com/BOINC/boinc-policy/blob/master/Development_Documents/Client_Release_Process.md

All ot

[2022-10-11 10:08] #1846 closed

[2022-10-11 10:08] kotenok2000 commented on #4957
I rmembered thaat i have process hacker 3.0.4953 installed with kernel driver and VulnerableDriverBlocklistEnable set to 0
at HKLM\System\CurrentControlSet\Control\CI\Config\
https://processhacker.sourceforge.io/nightly.php

[2022-10-11 13:49] lfield commented on #4015
As far as I understand, the configuration of the Web server is under the control of the project.

[2022-10-11 13:49] #4015 closed

[2022-10-11 14:09] lfield commented on #4303
I can not reproduce this issue on LHC@home dev. I notice that those two project are not running the latest code.

[2022-10-11 14:14] #4303 closed

[2022-10-11 14:15] lfield commented on #2694
I am not sure this this is the best place for this request as contributions can not be provided as a PR to something which already exists in github.

[2022-10-11 14:18] lfield commented on #1489
@ChristianBeer Did this fix ever make it upstream?

[2022-10-13 03:29] hpvpp opened #4970 "save button not on screen"
system details
OS: Ubuntu 20.04 LTS fully uptodate
screen: 1366x768
boinc manager: version: 7.16.6(x64)
wxWidgets version: 3.0.4

problem description
panel: boinc manager>Options>Computing preferences
problem: "Save" button not visible
problem: panel is taller than will fit on available screen space

screenshot
![Screenshot from 2022-10-13 14-13-12](https://user-images.githubusercontent.com/206723

[2022-10-13 07:36] AenBleidd commented on #4970
Already fixed via #4941

[2022-10-13 07:36] #4970 closed

[2022-10-14 11:53] AenBleidd opened #4973 "Update CI to remove deprecated VCPKG_ROOT environment variable"
![image](https://user-images.githubusercontent.com/3234209/195962507-cb58ade4-cfa7-4824-9d08-bbd01d95fb24.png)

[2022-10-15 11:01] #4946 closed

[2022-10-18 02:37] Vulpine05 commented on #4738
I just had this error occur:

![image](https://user-images.githubusercontent.com/58096400/196322247-18362178-7e6f-4f44-abb9-4680aaffb746.png)

I don't use my GPU for Milkyway@home, so it is disabled in the web preferences.  Their website appears to be down at the moment, but I will double check when I can.

[2022-10-20 09:49] hucker75 opened #4983 ""use % of CPU cores" different if computer in use."
Please have two settings for "use % of CPU cores" - one for computer in use and one for computer not in use.

[2022-10-20 09:55] AenBleidd commented on #4983
This is already implemented in #4871

[2022-10-20 09:55] #4983 closed

[2022-10-20 10:44] kotenok2000 opened #4984 "Boinc doesn't clean slot directories after computing is finished."
**Describe the bug**
A clear and concise description of what the bug is.
unlink() failed
**Steps To Reproduce**
1. Install https://download.rockylinux.org/pub/rocky/8.6/Live/x86_64/Rocky-XFCE-8-x86_64-20220515.4.iso on virtual machine.
2. Update it with sudo dnf upgrade
3.Install boinc.
4.Install cvmfs using these guides https://cvmfs.readthedocs.io/en/stable/cpt-quickstart.html https://lhcathome.

[2022-10-21 08:12] putianyi889 opened #4986 "Autopause GPU usage when it is occupied by another program, e.g. video playing"
**Describe the problem**
I'd like to run BOINC in idle time, but it is not smart enough. I can ask it to stop when I use the keyboard or the mouse, but I also want it to stay calm when, e.g. I'm watching videos. At present, the GPU program kicks in when I haven't touched the machine for a while, interfering with video playing and for once leading to machine crash.

**Describe the solution you'd li

[2022-10-21 08:17] AenBleidd commented on #4986
I believe, #2301 contains a better approach of the same issue.
I keep this ticket open for a while in case someone would like to discuss it, but personally I think it should be closed as a duplicate.

[2022-10-21 08:27] putianyi889 commented on #4986
agreed

[2022-10-21 08:27] #4986 closed

[2022-10-21 09:01] #4984 closed

[2022-10-21 20:41] davidpanderson commented on #4986
BTW: when CPU computing stops, so does GPU computing.

[2022-10-21 20:42] putianyi889 commented on #4986
but I do want the CPU to keep running.

[2022-10-21 21:49] davidpanderson commented on #4986
I see.  The problem is that we haven't found a reliable way of figuring out when a movie is being watched.  CPU usage isn't a good indicator.  GPU usage may be a good indicator but we currently don't know how to measure it.

[2022-10-21 22:02] putianyi889 commented on #4986
Is it possible to have a browser extension communicating with the boinc manager somehow?

[2022-10-21 22:11] davidpanderson commented on #4986
That's a good idea, although I'd prefer not to get into the business of developing browser extensions

[2022-10-21 22:34] AenBleidd commented on #4986
Completely agree. There should be more universal way to detect this thanakijg a browser extension.

[2022-10-23 06:18] delta1513 commented on #4437
How should this be implemented?

As a checkbox in the Add Project list? A button? Something else?

[2022-10-23 09:43] AenBleidd commented on #4437
Just add it to the end of this list
![image](https://user-images.githubusercontent.com/3234209/197385216-9a3e9149-b73c-4836-9b97-a58511f054e6.jpeg)

[2022-10-23 14:25] #4225 closed

[2022-10-25 09:20] TechMasse opened #4989 "BOINC 7.20.2 (Ubuntu) finally halts/crashes, when not able to report finished WU's. Same as #4914."
**Describe the bug**
Exact same as #4914, except for no lockfiles.

**Steps To Reproduce**
1. See #4914

**System Information**
 - OS: Lubuntu 22.04.2 LTS
 - BOINC Version: 7.20.2

**Additional context**
This time 954 WU's was lost on one single computer. Due to electrical issues at Universe@Home/CAMK, the project was halted aprox. 3 days (_Oct. 22-24_). I shut down all my computers of concern ear

[2022-10-25 09:36] AenBleidd commented on #4989
Currently this looks as a complete duplicate of #4914 and it was not yet released.
@TechMasse, could you please provide any additional info like log files, crash dump, etc to check this?
Otherwise I'll close this as a duplicate and wait for new reports (if any) after next release.

[2022-10-25 17:53] mhmdanas opened #4990 "Cannot close BOINC when in fullscreen"
**Describe the bug**
Cannot close the BOINC Manager window when in fullscreen (at least on macOS, I don't know about other OS's). It works when BOINC isn't in fullscreen though.

**Steps To Reproduce**
1. Open BOINC Manager and press the fullscreen button (the green one at the top-left of the window)
2. Try to close the window (either by pressing the red X button at the top-left of the window or b

[2022-10-25 18:32] AenBleidd commented on #4990
@CharlieFenton, could you please check this?

[2022-10-26 00:43] CharlieFenton commented on #4990
I can reproduce it, but I feel it is not worth the effort to try to fix it, for several reasons.
* There is a simple workaround ,which is to click on the green button first to take BOINC Manager out of full screen mode before pressing the red button.
* BOINC works in a nonstandard way: clicking the red button never actually quits BOINC Manager (even when not full screen), but merely hides it. This

[2022-10-26 01:33] Vulpine05 commented on #4990
I was just doing some research on a different topic, but I found something that may be relevant.  Check out the EnableFullScreenView function.  No bookmark for the direct function, but here is the one above it for convenience:  [https://docs.wxwidgets.org/trunk/classwx_top_level_window.html#a78a9441746702894fba7653c2d98cb8d](url)

It looks like the function was given some additional features in 3.

[2022-10-26 11:31] RichardHaselgrove commented on #3419
Fixed by commit 80fe66292e43235e40943a262987b771fad514b3, and incorporated in [Server Release 1.2.1](https://github.com/BOINC/boinc/releases/tag/server_release%2F1.2%2F1.2.1). Closing.

[2022-10-26 11:31] #3419 closed

[2022-10-26 13:46] RolandHughes commented on #4267
Having been through this and many other issues with BOINC in the more than decade I've been running, [Here's a post about Gecko Linux NVidia and BOINC that should help a lot](https://www.logikalsolutions.com/wordpress/information-technology/gecko-linux-nvidia-and-boinc/).

What you have to understand is that the Linux world is complete anarchy. If the "powers that be" over a distro don't actually

[2022-10-26 14:16] RichardHaselgrove commented on #4267
My experience is that this instruction needs clarification. This command allows a single, one-time, launch of the manager from that particular terminal instance (or even multiple launches during the lifetime of that instance), but wouldn't necessarily allow launches from a desktop icon (if your distro configures such a thing). However, it might allow future launches after the next login

[2022-10-26 16:08] RolandHughes commented on #4267
That instruction isn't needed if you install a properly created package then log out/in. It's a cheat to avoid the log out/in.

[2022-10-28 13:44] kotenok2000 opened #4991 "Drag highlighting doesn't work on rocky linux 8"
**Describe the bug**
A clear and concise description of what the bug is.
When i try to select several lines in boinc manager on rocky linux 8 it  doesn't work
**Steps To Reproduce**
1. Install rocky linux from https://download.rockylinux.org/pub/rocky/8.6/Live/x86_64/Rocky-XFCE-8-x86_64-20220515.4.iso
2. Install boinc with sudo dnf install boinc*
3. Start boinc with systemctl start boinc-client.se

[2022-10-28 15:20] RichardHaselgrove commented on #4991
Also observed on Linux Mint 20 and 21 with 'Mate' desktop.

However, keyboard extensions (shift-click, ctrl-click) do work.

[2022-10-28 16:02] AenBleidd commented on #4991
I suspect this might be an wxWidgets issue. Will take a look

[2022-10-28 18:33] RichardHaselgrove commented on #4991
Yes, probably wxWidgets. Drag selection does work in other programs - FireFox, text editor.

[2022-10-29 11:20] RichardHaselgrove commented on #4151
This issue has been raised again by the CPDN project, which is testing and preparing to release a new multi-threaded application to process IFS climate models. These will be large tasks, with heavy resource demand: this bug will significantly delay the climate research, because too many tasks will be downloaded by the initial few machines.

We're heading towards a new server release to facilitate

[2022-10-29 11:36] AenBleidd commented on #4151
@davidpanderson, could you please take a look?

[2022-11-02 19:56] davidpanderson commented on #2820
Scripts that convert trac wiki to md.
I tried a couple of these and they worked mostly but not entirely
(e.g. they didn't do links correctly)

https://github.com/HeinrichHartmann/trac2md/blob/master/trac2md.lua
(in Lua)

https://gist.github.com/cvogt/8283260
(in Ruby)

https://scodoc.org/git/jmplace/DocScoDoc/src/branch/master/tools/trac2md.py

https://git.hactrn.net/sra/trac-wiki-to-markdown/src/

[2022-11-03 11:45] AenBleidd opened #4993 "[vboxwrapper] Build is failed on the older system because of c++11 lambda usage"
https://github.com/BOINC/boinc/blob/213028bb9523ee14800ad0866202f28945c3792c/samples/vboxwrapper/vbox_vboxmanage.cpp#L608-L609

This need to be rewritten to get rid of:
- lambda
- cbegin/cend

@computezrmle, please fix that

[2022-11-03 13:04] CharlieFenton commented on #4993
I get this error on the Mac:
`vbox_vboxmanage.cpp:609:44: error: expected expression
                        type_line.begin(), [](unsigned char c) { return tolower(c); });
`

[2022-11-03 15:11] #4993 closed

[2022-11-03 18:59] davidpanderson commented on #4993
Use downcase_string() from lib/str_util.h

[2022-11-05 06:35] delta1513 commented on #4345
I will no longer be working on this, sorry

[2022-11-05 06:35] delta1513 commented on #4437
I will no longer be working on this, sorry

[2022-11-05 21:11] #4214 closed

[2022-11-06 11:36] Aurum420 commented on #3193
Currently the "Not requesting tasks: some download is stalled" error is appearing randomly while attempting to DL only ARP WUs from WCG. Once the error occurs it also blocks DLing OPN and MCM CPU WUs. Rebooting does not clear it. It seems to clear itself after some random number of hours but in less than a day. If one selects "Allow research to run on my CPU? = No" in the WCG device profile then O

[2022-11-09 08:32] #4151 closed

[2022-11-09 14:39] hucker75 opened #5006 ""Last request too recent" error when using "network_available""
### Discussed in https://github.com/BOINC/boinc/discussions/5005

<div type='discussions-op-text'>

<sup>Originally posted by **hucker75** November  9, 2022</sup>
If "boinccmd --network_available" is used, Boinc Manager forgets the project's requested delay.</div>

[2022-11-09 14:51] hucker75 commented on #5006
After the force update (which is working ok), the timer is reset, so Boinc then requests new work when it shouldn't.

[2022-11-09 15:01] RichardHaselgrove commented on #5006
We reviewed this (although mainly in the context of Manager-requested updates) two years ago, in #3375 and #3402. If boinccmd isn't behaving the same way as the Manager, we need to review that.

[2022-11-09 15:05] AenBleidd commented on #5006
@RichardHaselgrove, could you please validate this issue? I believe here we just have a misunderstanding, because all work request logic is implemented in the client, and neither manager nor boinccmd does nothing additional but sending update command to the client.

[2022-11-09 15:13] hucker75 commented on #5006
It can be seen easily by doing a user update to some project with a decently large delay, then running "boinccmd --network_available", then observing the project backoff disappear in the status column of the projects tab in Boinc Manager.

[2022-11-09 15:17] RichardHaselgrove commented on #5006
@hucker75 said

Peter, it would be helpful if you posted an event log snippet which covered the whole interval of these various requests.

In theory, if "boinccmd --network_available" is an exact analogue of "Project update", it should trigger an RPC to the server (I'll check that): if successful, the client should receive **and act on** a 'defer' reply from the server. That doesn't **prevent** a

[2022-11-09 15:32] RichardHaselgrove commented on #5006
OK, "--network_available" isn't documented in the [user manual](https://boinc.berkeley.edu/wiki/Boinccmd_tool) for boinccmd, but the internal help says

`--network_available retry deferred network communication`

Not much detail, but that sounds more like "retry transfers". In which case, it shouldn't change the state of project update backoffs. But I can see an argument for clearing, say, the 24-

[2022-11-09 15:42] hucker75 commented on #5006
Do you still need my event log, or have you created one yourself?

[2022-11-09 15:59] RichardHaselgrove commented on #5006
I think I've worked out what it would have said, so no, I don't think we need the actual gory details.

Since "--network_available" isn't documented, I think it was probably meant to be an emergency "Jaws of Death" - help me get myself out of this car-crash I've got myself into. In which case, like all powerful tools, assume that it comes with a sticker "USE AT YOUR OUR RISK".

I don't see a press

[2022-11-09 16:07] hucker75 commented on #5006
I could see a need to change it if it gets used by a large number of people with flaky internet, that are using that command to get Boinc to have another go every 15 minutes.  If they use CPDN, that would really screw up their 1 hour backoff.

[2022-11-09 21:47] lfield opened #5008 "Wrong permssions on html/cache directory"
b'set_cached_data(): can\'t open ../cache/f2/server_status.php_job_status

# ll lhcathome-dev/html/cache -d
drwxrws--- 1 apache boinc 291 Nov  9 22:23 lhcathome-dev/html/cache

https://github.com/BOINC/boinc/blame/master/py/Boinc/setup_project.py#L300

[code]
Seen on the server_release_1.4 branch

[2022-11-10 06:15] Deophius opened #5009 "Client doesn't write to log files with --detach_console"
**Describe the bug**
When I am manually starting the boinc client on the command line with the `--detach_console --redirectio` options, the client doesn't write its stdout to the log file `stdoutdae.txt`. However, if I omit the `--detach_console` option, the log is written as usual.

**Steps To Reproduce**
1. Run `./boinc --redirectio` and check `stdoutdae.txt`. The logs are written normally.
2. K

[2022-11-11 03:11] hucker75 commented on #5006
"Since "--network_available" isn't documented"

Er.... the function has been put there, it doesn't work properly, why not fix it?

[2022-11-11 04:07] Vulpine05 commented on #5006
@hucker75, is this related to #3774?  I've been looking at that issue but I haven't had a chance to get back to it.

If it is related, I think there are two different things here.  "--network_available" sends a "network_available" RPC, which then runs the "handle_network_available" function in gui_rpc_server_ops.  This command is also used for "retry all pending transfers" from the Tools menu.

Ho

[2022-11-11 06:21] hucker75 opened #5011 "GPU time left is wildly inaccurate for projects with more than one GPU app"
**Describe the bug**
For projects such as Primegrid with many GPU apps, if Boinc is used to seeing one of them, then gets a different one, the "time left" estimate is wildly inaccurate.

For example, I currently have a genefer_extreme task which has reached about halfway in 2 days.  So sensibly, we'd say the other half would take two days aswell.  But it has an estimate of 36 days.  This completel

[2022-11-11 07:46] RichardHaselgrove commented on #5011
If progress is linear, use `<fraction_done_exact/>` in an [app_config.xml](https://boinc.berkeley.edu/wiki/Client_configuration#Project-level_configuration) file.

And tell the project to pay attention to <rsc_fpops_est> when setting up the task template file - it's a project problem, not BOINC's.

[2022-11-11 10:27] hucker75 commented on #5006
You are correct and I agree.

[2022-11-11 10:35] hucker75 commented on #5011
I thought Boinc didn't support multiple apps under GPU for time estimates?  Has this changed?

But I'll try fraction done exact, sounds useful.

[2022-11-11 10:59] RichardHaselgrove commented on #5011
It was changed in [October 2010](https://boinc.berkeley.edu/trac/wiki/ClientSchedOctTen).

Any project which shows - and uses - an "Average processing rate" in a host's Application details (i.e. most of them, but **excluding** Einstein) is equipped to do that.

Note that boundary conditions apply: a new application or app_version won't show realistic estimates until the host has returned 11 "succe

[2022-11-11 11:09] hucker75 commented on #5011
Surely until it has 11 successful tasks, it should estimate according to the fraction done system?  Whatever it uses by default is wildly wrong.  And 11 tasks is far too long to wait for week-long genefer_extreme tasks.

[2022-11-12 05:02] LezheGao opened #5012 "BOINC causes my battery capacity to drop"
I had use BOINC for 3 mounths,but when I used "powercfg/batteryreport" today, I found that:
![battery-report](https://user-images.githubusercontent.com/76685272/201458024-fca392b5-ff25-466c-b18f-a46e10aae286.png)
Because of file suffix restrictions, please change the suffix name to "html" before reading

[2022-11-12 05:15] LezheGao commented on #5012
before i download boinc,the capacity was 68,000 mWh

[2022-11-12 05:19] LezheGao commented on #5012
@AenBleidd

[2022-11-12 05:19] LezheGao commented on #5012
@davidpanderson

[2022-11-13 00:26] AenBleidd commented on #5012
If you keep your PC/laptop always connected to the charger, it reduces the life or your battery because it's always kept fully charged. If you want you battery to live long, you need to drain it to ~10% and then recharge. And do this regularly (ideally once a day).
And it is expected behavior of the battery if you use your laptop 24/7.
This is not the fault of the BOINC.

[2022-11-13 00:26] #5012 closed

[2022-11-13 12:14] pg-tern opened #5013 "Mac "Show graphics" close window button not enabled"
I don't know if 7.20.2 did this or not, but on 7.20.4, the red "close" button is disabled - only way to close the graphics window is by "stop graphics" on the main window.
(Running OSX 12 Monterey)

[2022-11-13 13:00] #5013 closed

[2022-11-14 07:58] Dantali0n commented on #2256
I have this problem appear on Arch systems both with single dedicated graphics adapter or with both iGPU and dedicated graphics adapters.

[2022-11-15 00:18] hucker75 opened #5016 ""gpu-usage must be positive" for a CPU only app"
I have this app config for the Milkyway project:

<app_config>
    <app>
        <name>milkyway</name>
        <max_concurrent>0</max_concurrent>
        <gpu_versions>
            <gpu_usage>0.250000</gpu_usage>
            <cpu_usage>0.010000</cpu_usage>
        </gpu_versions>
        <fraction_done_exact>1</fraction_done_exact>
        <report_results_immediately>0</report_results_immediately>

[2022-11-15 00:33] AenBleidd commented on #5016
@hucker75, have you tried app_config.xml **without** `milkyway_nbody` app?
I believe, the issue is not with it but with the `milkyway` configuration

[2022-11-15 03:41] davidpanderson commented on #5016
I couldn't repro this.

[2022-11-15 07:12] JoesCat commented on #1187
Hi - has anyone looked at running 'nice' in regards to boinc?
If you have a sufficiently high 'nice' level, let's say 19, your computer CPU(s) can be running 100%, and yet the computer does not feel sluggish at all. Watch a movie, do other number crunching, seems to work fine. Example: http://www.joescat.com/boinc/#PRJ
[code]

[2022-11-15 08:09] RichardHaselgrove commented on #5016
I have a machine which reports, to this day,
[code]

The file in question, in full, reads
[code]
It was generated on 30 March 2021 while testing a new feature in BoincTasks to create and edit app_config files remotely, analogous to the way in which BOINC Manager can cause an updated cc_config.xml file to be written following an Event Log options update.

It appears that when the BOINC client write

[2022-11-15 11:30] hucker75 commented on #5016
I removed the lines:

[code]
And the error went away, so it's definitely the nbody app.  This is not a GPU app.

Boinctasks or the Boinc Client edits this to:

[code]

Which still complains.  But if I change gpu_usage to 0.1, it's ok.

[2022-11-15 11:39] hucker75 commented on #5016
Did you save the file yourself?  I'm doing it via Boinctasks, which as Richard suggests causes inclusion of extra XML elements.

[2022-11-15 12:03] RichardHaselgrove commented on #5016
I think I've found a commit where this functionality was introduced:

These will allow GUIs (e.g. BoincTasks) to provide dialogs for editing app config info.

commit 5b6f648570cdef551b77bbabf3e69243dac69de4

May 12, 2017, client_release/7/7.10.2

I think that was before we started using the full Issue / PR reviewing system, but some later tweaks were added by #4275.

[2022-11-15 12:11] hucker75 commented on #5016
That doesn't seem to help Boinctasks.  When I try to edit a non-existant file, I just get told it doesn't exist, then I'm presented with a blank window and have to write it myself.

But I seem to remember it used to work (producing a nice blank template to edit), perhaps Boinctasks changed the way it works?

[2022-11-15 12:20] RichardHaselgrove commented on #5016
Looks like I've been down this rabbit-hole before: #4291

[2022-11-15 13:21] CubeTheThird commented on #1187
Although this _can_ be helpful, unfortunately nice levels apply to CPU scheduling. If you are doing GPU computations, I doubt changing the nice level will have impact on system performance.

[2022-11-18 11:34] LezheGao commented on #5012
OK，thanks

[2022-11-18 11:58] anish1-9 opened #5018 "BOINC unable to connect client"
BOINC unable to connect client
BOINC unable to connect client, not running any tasks

**Steps To Reproduce**
1. Unable to connect to client
2. Unable to run any tasks

**Expected behavior**
Must be able to connect to internet and automatically run tasks on my computer

**Screenshots**
![image](https://user-images.githubusercontent.com/97441682/202700164-726b3abc-1eba-440d-a0fc-670c3a0ecbda.png)

*

[2022-11-18 12:15] AenBleidd commented on #5018
@anish1-9, please go to the Options->Other options, check that 'Run the client' is checked, then restart BOINC Manager.
P.S. BOINC client is a local application installed with the Manager, and 'Disconnected' shows that BOINC Manager is disconnected from the local client.
P.P.S. BOINC Manager can also manage BOINC client running remotely, but I don't think this is your case currently

[2022-11-18 14:20] RichardHaselgrove opened #5019 "[Manager]: fix minor graphics bug in #5010"
**Describe the bug**
Manager command button switches to 'Stop graphics', but has no action.

Applies when graphics window is active: seen on Windows OS only, but expected to apply to Linux too.

Change introduced during work to work round new Mac security demands.

**Steps To Reproduce**
1. Click 'Show graphics' button in Manager.
2. Note button label changes to 'Stop graphics'.
3. Click it. Graph

[2022-11-18 14:30] AenBleidd commented on #4990
@CharlieFenton, I think we should close this as 'Won't fix'. What do you think?

[2022-11-18 14:33] AenBleidd commented on #5011
I don't think we have an issue here but it worth to keep it open, so I convert this to discussion

[2022-11-19 01:47] CharlieFenton commented on #5019
Actually, this bug was introduced in commit 1ab508f3d8 on 13 August 2020. Apparently, no one noticed until now.

[2022-11-19 02:43] Vulpine05 commented on #1741
I have done a little bit of investigating into this issue, but I think I may have reached a point beyond what I understand.

This bug occurs when select either window from the taskbar icon, or if you ALT + TAB to select the window.  When you click on either window if it is up and visible on your screen, it behaves properly.  Additionally, the application has some code to keep the manager and event

[2022-11-19 09:28] RichardHaselgrove commented on #5019
But it isn't expressed in the Windows v7.20.2 release build dated 19 July 2022, which is what misdirected my confirmation tests. There must be some other reason why it has lain dormant until now.

[2022-11-19 11:37] CharlieFenton commented on #4990
@AenBleidd I agree.

[2022-11-19 11:38] #4990 closed

[2022-11-19 11:45] CharlieFenton commented on #5019
@RichardHaselgrove You are correct. I didn't read the old code closely enough. The bug is new in 7.20.3

[2022-11-19 19:59] Vulpine05 commented on #4730
@lfield (or maybe @RichardHaselgrove), is this something I can create a PR for and you can test?  I'm not familiar with php, but it looks like the maximum number just needs to change.  It can be the limit that I updated in #4660 (which, for most cases, is 9999999999999.99).  I would like some to test it to make sure it doesn't break anything, though.

[2022-11-20 19:56] Vulpine05 commented on #4937
This appears to be a problem for URLs with additional '/' after 'http(s)://'.  I was able to reproduce this for projects such as Amicable Numbers and Rosetta@home, but not with Climateprediction.net or World Community Grid.

Error is "Project not found - The URL you supplied is not that of a BOINC-based project.  Please check the URL and try again."

[2022-11-20 21:04] davidpanderson commented on #4937
handle_project_attach() should call canonicalize_master_url() instead of massaging the URL itself.
canonicalize_master_url() should convert to lower case.

[2022-11-21 03:42] #5019 closed

[2022-11-21 03:52] Vulpine05 commented on #4937
I think I understand what you're saying for handle_project_attach(), sounds like the code should get simplified there.  However, I'm not sure canonicalize_master_url() converts the url to lower case:
https://github.com/BOINC/boinc/blob/1016b872229f7084c954f9d9e618d80bba55745f/lib/url.cpp#L201-L207
I'm not too familiar with changing upper/lower case, but the comments on this function appear to do w

[2022-11-21 23:52] davidbolvansky opened #5024 "Account creation fails for user names with accented characters (Windows client)"
My username: Dávid Bolvanský

Boinc (Windows) runs following RPC:
`https://live.fitcrack.cz/fitcrack/create_account.php?email_addr=testmaixxl%40gmail%2Ecom&passwd_hash=8736ae7117ec1f3710627f22697f6f8c&user_name=D%E1vid%20Bolvansk%FD`

and it fails:
[code]

Looks like 'Dávid Bolvanský' is in ISO-8599-1 and then urlencoded. If in utf8 and then urlencoded, 'D%C3%A1vid%20Bolvansk%C3%BD' works fine.

h

[2022-11-22 00:36] AenBleidd commented on #5024
Possible duplicate of #1503

[2022-11-22 00:45] davidbolvansky commented on #5024
I dont think so, as there is no xml here, just simple url request.

[2022-11-22 00:51] AenBleidd commented on #5024
Looks like both issues are related to database encoding that doesn't support UTF-8.
@davidpanderson, could you please take a look?

[2022-11-22 02:11] davidbolvansky commented on #5024
I have a working fix
https://github.com/BOINC/boinc/pull/5025

[2022-11-22 08:22] davidpanderson commented on #5024
The MySQL default charset should be utf8mb4
We don't mention this in the docs.
E.g.:
MariaDB [test]> select @@character_set_database;
*************************** 1. row ***************************
@@character_set_database: utf8mb4
1 row in set (0.00 sec)

MariaDB [test]> select @@collation_database;
*************************** 1. row ***************************
@@collation_database: utf8mb4_unicod

[2022-11-22 10:20] davidbolvansky commented on #5024
Yeah, finally since MySQL 8.

[2022-11-23 00:51] #5024 closed

[2022-11-26 17:29] hucker75 opened #5026 "If insufficient RAM for tasks in queue, doesn't download tasks from another project to fill CPU"
**Describe the bug**
I am running two projects on a 24 thread computer with 32GB RAM.  Yoyo doing only "ecm p2" tasks (which use about 7GB RAM each) and NFS (which uses about half a GB each).  Yoyo has higher weight.  Boinc has downloaded a huge queue of Yoyo tasks and can only fit a few of them into RAM.  Then it just sits there with the CPU mostly idle instead of getting NFS work.

**Steps To Re

[2022-11-26 17:45] AenBleidd commented on #5026
Duplicate of #4200

[2022-11-26 17:46] #5026 closed

[2022-11-26 19:53] hucker75 commented on #5026
Doesn't seem to be the same thing at all.  Not sure what the other user was talking about.  Boinc does correctly avoid overloading RAM, but it doesn't take the opportunity to run smaller tasks if they will fit into the remaining RAM.

[2022-11-26 20:23] AenBleidd commented on #5026
That's a known and exactly the same

[2022-11-26 20:26] AenBleidd commented on #5026
If you want, you can try to reproduce this on simulator: https://boinc.berkeley.edu/sim_web.php

[2022-11-26 23:30] davidpanderson commented on #5026
In principle this would be good to do, but in practice it would be complex.
In the client, when the CPU scheduler hits the memory limit,
it knows how much unused memory there is,
but this number (which could change a lot from moment to moment)
isn't available to the work fetch logic.
The work fetch logic would have to keep track of the smallest-memory
jobs for each project.
The scheduler RPC proto

[2022-11-26 23:34] hucker75 commented on #5026
Yes, it sounds more complex than I thought, but you said "The work fetch logic would have to keep track of the smallest-memory
jobs for each project."

Now in my case I was running a project which always gave jobs requesting 10GB to start, and used an average of 7GB.  and a second project which always gave jobs about 2/3rds of a GB.  When memory becomes tight, the scheduler could ask fo r jobs fro

[2022-11-26 23:46] davidpanderson commented on #5026
In general projects can have both big and small jobs.
So we'd need a way (which we currently lack) of requesting only small jobs.
Also the client currently doesn't keep track of the per-project
distribution of memory sizes.

[2022-11-26 23:57] hucker75 commented on #5026
Ok, sounds more difficult than I thought.  I'll just buy more RAM!

[2022-11-27 13:02] RichardHaselgrove opened #5029 "Manager: cherrypick PR #5022 to release branch"
Client+Manager release branch 7.20.4 has been certified for release for the Macintosh platform only, but it has been picked up by @LocutusOfBorg as a development release for Ubuntu. (We have no control over that part of the process).

Patch #5022 was developed as a bugfix specifically to ensure compatibility across the Linux, Mac and Windows platforms. I think it should be applied to the release b

[2022-11-28 12:22] AenBleidd commented on #4937
Closing this as an invalid.
Explanation: https://github.com/BOINC/boinc/pull/5027#issuecomment-1328329224

[2022-11-28 12:22] #4937 closed

[2022-11-28 12:25] AenBleidd commented on #5029
This looks like a good candidate for linux-only release. I don't plan to create new minor release for Windows, so I'll just create a new tag (probably a release as well) and will notify @LocutusOfBorg to make a new build for linux.

THank you, @RichardHaselgrove

[2022-11-28 14:04] RichardHaselgrove commented on #5029
That seems fair enough. In my experience, Windows users mainly use the installer, but Linux users are more likely to self build. And the real hard core will use master anyway. I emailed Gianfranco via launchpad, but I haven't received a reply yet.

[2022-11-29 09:50] LocutusOfBorg commented on #5029
Hello, please tag me directly here :)